<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2800px', y: '520px'}">
  <thead>
    <tr>
      <th nzWidth="50px">序号</th>
      <th nzWidth="100px">时间</th>
      <th nzWidth="100px">新增安装数</th>
      <th nzWidth="100px">新增启动数</th>
      <th nzWidth="100px">新增注册数</th>
      <th nzWidth="100px">新增启动率</th>
      <th nzWidth="100px">新增注册率</th>
      <th nzWidth="100px">日启动总数</th>
      <th nzWidth="100px">平均启动次数</th>
      <th nzWidth="100px">APP日活跃</th>
      <th nzWidth="100px">老用户活跃</th>
      <th nzWidth="100px">订单成交总数</th>
      <th nzWidth="100px">订单成交总金额</th>
      <th nzWidth="100px">机票订单成交数</th>
      <th nzWidth="100px">火车订单成交数</th>
      <th nzWidth="100px">酒店订单成交数</th>
      <th nzWidth="100px">机票订单成交金额</th>
      <th nzWidth="100px">火车订单成交金额</th>
      <th nzWidth="100px">酒店订单成交金额</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td nzWidth="100px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.dailyInstallation }}</td>
      <td nzWidth="100px">{{data.dailyNewLaunch}}</td>  <!-- 新增启动数 -->
      <td nzWidth="100px">{{data.dailyRegister}}</td>  <!-- 新增注册数 -->
      <td nzWidth="100px">{{(data.dailyInstallation === 0 ? 0 : (data.dailyNewLaunch / data.dailyInstallation)) * 100 | number:"0.1-2"}}%</td>  <!-- 新增启动率 -->
      <td nzWidth="100px">{{(data.dailyInstallation === 0 ? 0 : (data.dailyRegister / data.dailyInstallation)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{data.dailyLaunch}}</td>  <!-- 日启动总数 -->
      <td nzWidth="100px">{{data.dailyLaunch / 1}}</td>  <!-- 平均启动次数 没有拿到总注册用户数 -->
      <td nzWidth="100px">{{data.dailyActiveUsers}}</td>
      <td nzWidth="100px">{{data.dailyActiveUsers - data.dailyNewLaunch}}</td>  <!-- 老用户活跃 -->
      <td nzWidth="100px">{{data.flightOrderCheckout + data.trainOrderCheckout + data.hotelOrderCheckout}}</td>
      <td nzWidth="100px">{{data.flightChangePrice + data.trainChangePrice + data.hotelChangePrice }}</td>
      <td nzWidth="100px">{{data.flightOrderCheckout}}</td>
      <td nzWidth="100px">{{data.trainOrderCheckout}}</td>
      <td nzWidth="100px">{{data.hotelOrderCheckout}}</td>
      <td nzWidth="100px">{{data.flightChangePrice}}</td>
      <td nzWidth="100px">{{data.trainChangePrice}}</td>
      <td nzWidth="100px">{{data.hotelChangePrice}}</td>
    </tr>
  </tbody>
</nz-table>
