<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2800px', y: '520px'}" *ngIf="!isSpinning">
  <thead>
    <tr>
      <th nzWidth="50px" nzLeft="0px">序号</th>
      <th nzWidth="100px" nzLeft="68px">时间</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[0].checked">新增安装数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[1].checked">新增启动数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[2].checked">新增注册数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[3].checked">新增启动率</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[4].checked">新增注册率</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[5].checked">日启动总数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[6].checked">平均启动次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[7].checked">APP日活跃</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[8].checked">老用户活跃</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[9].checked">订单成交总数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[10].checked">订单成交总金额</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[11].checked">机票订单成交数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[12].checked">火车订单成交数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[13].checked">酒店订单成交数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[14].checked">打车订单成交数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[15].checked">机票订单成交金额</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[16].checked">火车订单成交金额</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[17].checked">酒店订单成交金额</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[18].checked">打车订单成交金额</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px" nzLeft="0px">{{i+1}}</td>
      <td nzWidth="100px" nzLeft="68px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[0].checked">{{data.dailyInstallation }}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[1].checked">{{data.dailyNewLaunch}}</td>  <!-- 新增启动数 -->
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[2].checked">{{data.dailyRegister}}</td>  <!-- 新增注册数 -->
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[3].checked">{{(data.dailyInstallation === 0 ? 0 : (data.dailyNewLaunch / data.dailyInstallation)) * 100 | number:"0.1-2"}}%</td>  <!-- 新增启动率 -->
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[4].checked">{{(data.dailyInstallation === 0 ? 0 : (data.dailyRegister / data.dailyInstallation)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[5].checked">{{data.dailyLaunch}}</td>  <!-- 日启动总数 -->
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[6].checked">{{data.dailyLaunch / 1}}</td>  <!-- 平均启动次数 没有拿到总注册用户数 -->
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[7].checked">{{data.dailyActiveUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[8].checked">{{data.dailyActiveUsers - data.dailyNewLaunch}}</td>  <!-- 老用户活跃 -->
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[9].checked">{{data.flightOrderCheckout + data.trainOrderCheckout + data.hotelOrderCheckout + data.taxiOrderCheckout}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[10].checked">{{data.flightTurnover + data.trainTurnover + data.hotelTurnover + data.taxiTurnover}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[11].checked">{{data.flightOrderCheckout ? data.flightOrderCheckout : data.flightOrderCheckout === 0 ? 0 : 'null'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[12].checked">{{data.trainOrderCheckout ? data.trainOrderCheckout : data.trainOrderCheckout === 0 ? 0 : 'null'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[13].checked">{{data.hotelOrderCheckout ? data.hotelOrderCheckout : data.hotelOrderCheckout === 0 ? 0 : 'null'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[14].checked">{{data.taxiOrderCheckout ? data.taxiOrderCheckout : data.taxiOrderCheckout === 0 ? 0 : 'null'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[15].checked">{{data.flightTurnover ? data.flightTurnover : data.flightTurnover === 0 ? 0 : 'null'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[16].checked">{{data.trainTurnover ? data.trainTurnover : data.trainTurnover === 0 ? 0 : 'null'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[17].checked">{{data.hotelTurnover ? data.hotelTurnover : data.hotelTurnover === 0 ? 0 : 'null'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.dataApp[18].checked">{{data.taxiTurnover ? data.taxiTurnover : data.taxiTurnover === 0 ? 0 : 'null'}}</td>
    </tr>
  </tbody>
</nz-table>
