body {
    margin-top: 0px;
    background-color: #EEEEEE;
    padding-top: 0px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

.wrapper {
    text-align: center;
    width: 300px;
    height: 520px;
    margin: auto;
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.form-group {
    margin: 10px auto 10px auto;
    width: 100%;
}

#login-sub {
    margin-top: 30px;
    color: #555555;
}

#login-nav {
    text-decoration: none;
    overflow: hidden;
}

.login-nav-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3em;
    color: #cccccc;
    margin: 5px 10px;
}

.login-nav-btn:hover {
    text-decoration: none;
    color: #888888;
    border-bottom: 3px solid #888888;
}

form button {
    margin-top: 20px;
    width: 100%;
}

.active {
    color: #337ab7;
    border-bottom: 3px solid #337ab7;
}





