<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2600px', y: '520px'}" *ngIf="!isSpinning">
  <thead>
    <tr>
      <th nzWidth="50px" nzLeft="0px">序号</th>
      <th nzWidth="100px" nzLeft="50px">时间</th>
      <th nzWidth="100px">唤醒打车人次</th>
      <th nzWidth="100px">唤醒打车行为数</th>
      <th nzWidth="100px">打车订单推荐总数</th>
      <th nzWidth="100px">首次打车订单推荐数</th>
      <th nzWidth="100px">打车对话轮数（总）</th>
      <th nzWidth="100px">日最高打车对话轮数</th>
      <th nzWidth="100px">平均打车对话轮数</th>
      <th nzWidth="100px">打车订单提交数</th>
      <th nzWidth="100px">打车服务完成数</th>
      <th nzWidth="100px">打车未遂取消行为数</th>
      <th nzWidth="100px">打车超时取消行为数</th>
      <th nzWidth="100px">打车服务中主动取消行为数</th>
      <th nzWidth="100px">打车服务中被动取消行为数</th>
      <th nzWidth="100px">打车订单请求率</th>
      <th nzWidth="100px">打车订单提交率</th>
      <th nzWidth="100px">打车订单服务完成率</th>
      <th nzWidth="100px">打车未遂取消率</th>
      <th nzWidth="100px">打车超时取消率</th>
      <th nzWidth="100px">打车服务中主动取消率</th>
      <th nzWidth="100px">打车服务中被动取消率</th>
      <th nzWidth="100px">打车换平台</th>
      <th nzWidth="100px">打车换车型</th>
      <th nzWidth="100px">打车换价格</th>
      <th nzWidth="100px">打车换接车速度</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px" nzLeft="0px">{{i+1}}</td>
      <td nzWidth="100px" nzLeft="50px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.awakTaxisUsers}}</td>
      <td nzWidth="100px">{{data.awakTaxisCount}}</td>
      <td nzWidth="100px">{{data.taxiOrderRecommend}}</td>
      <td nzWidth="100px">{{data.taxiOrderRecommendFirst}}</td>
      <td nzWidth="100px">{{data.taxiSessionCount}}</td>
      <td nzWidth="100px">{{data.taxiSessionMax}}</td>
      <td nzWidth="100px">{{data.awakTaxisCount === 0 ? 0 : data.taxiSessionCount / data.awakTaxisCount}}</td>
      <td nzWidth="100px">{{data.taxiOrderCommit}}</td>
      <td nzWidth="100px">{{data.taxiOrderCheckout}}</td>
      <td nzWidth="100px">{{data.taxiCancelCar}}</td>
      <td nzWidth="100px">{{data.taxiTimeoutCar}}</td>
      <td nzWidth="100px">{{data.taxiCancelCarUser}}</td>
      <td nzWidth="100px">{{data.taxiCancelCarDriver}}</td>
      <td nzWidth="100px">{{(data.awakTaxisCount === 0 ? 0 : (data.taxiOrderQuery / data.awakTaxisCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakTaxisCount === 0 ? 0 : (data.taxiOrderCommit / data.awakTaxisCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakTaxisCount === 0 ? 0 : (data.taxiOrderCheckout / data.awakTaxisCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakTaxisCount === 0 ? 0 : (data.taxiCancelCar / data.awakTaxisCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakTaxisCount === 0 ? 0 : (data.taxiTimeoutCar / data.awakTaxisCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakTaxisCount === 0 ? 0 : (data.taxiCancelCarUser / data.awakTaxisCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakTaxisCount === 0 ? 0 : (data.taxiCancelCarDriver / data.awakTaxisCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{data.taxiChangeCarPlatform}}</td>
      <td nzWidth="100px">{{data.taxiChangeCarType}}</td>
      <td nzWidth="100px">{{data.taxiChangeCarPrice}}</td>
      <td nzWidth="100px">{{data.taxiFastCar}}</td>
    </tr>
  </tbody>
</nz-table>
