<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                上传配置文件
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">控制台</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-cubes" aria-hidden="true"></i> 上传配置文件
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Alert -->
    {{#if error_msg}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error_msg}}
    </div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error}}
    </div>
    {{/if}} {{#if success_title}}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check" aria-hidden="true"></i> {{success_title}}
    </div>
    {{/if}}
    <!-- /.alert -->

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <form ref='uploadForm' action="/admin/cases/uploadyml" method="POST" encType="multipart/form-data">
                <div class="form-group" style="margin-left: 18px;">
                    <div class="row">
                        <label class="col-sm-2 control-label">配置文件</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label"></label>
                        <label class="col-sm-2 control-label">注意：只能上传yml文件！</label>
                    </div>
                    <div class="row">
                        <label class="col-sm-1 control-label"></label>
                        <input class="form-control" type="file" name="ymlFile" id="ymlFile" style="width: 240px;display: inline;">
                        <input class="btn btn-primary" type="submit" value="Upload" style="margin-bottom: 10px;">
                        {{!-- <a href="/admin/cases/upload"><button class="btn btn-primary" style="margin-bottom: 10px;">Upload</button></a>
                        --}}
                    </div>
                    <label class="checkbox-inline"></label>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row -->

    <!-- /.上传成功并且返回结果 -->
    {{#if success_msg}}
    <div class="row">
        <div class="form-group" style="margin-left: 18px;">
            <div class="row">
                <label class="col-sm-1 control-label"></label>
                <label class="col-sm-8 control-label">解析结果如下：</label>
            </div>
            <div class="row">
                <label class="col-sm-1 control-label"></label>
                <label class="col-sm-1 control-label"></label>
                <label class="col-sm-8 control-label"><span id="casesHTML">{{{success_msg}}}</span></label>
            </div>
        </div>
    </div>
    {{/if}}
    <!-- /.上传成功并且返回结果 -->
</div>