<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                新建配置文件
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">控制台</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-cubes" aria-hidden="true"></i> 新建配置文件
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Alert -->
    {{#if error_msg}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error_msg}}
    </div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error}}
    </div>
    {{/if}} {{#if success_title}}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check" aria-hidden="true"></i> {{success_title}}
    </div>
    {{/if}}
    <!-- /.alert -->

    <!-- /.row -->
    <div class="row">
        <form action="/admin/cases/newcases" method="POST" role="form">
            <div style="margin-left: 18px;">
                <div class="row">
                    <label class="col-sm-2 control-label">编辑配置文件</label>
                </div>
                <div class="row">
                    <label class="col-md-2"></label>
                    <label class="col-md-1 all-text-align-right">测试类型：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="type" name="type" placeholder="请填写测试类型">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="type 【可选参数】 测试类型，knowledge 知识库 或 api 接口，默认为knowledge">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-2"></label>
                    <label class="col-md-1 all-text-align-right">服务名称：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="name" name="name" placeholder="请填写服务名称">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="name 服务名称">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-2"></label>
                    <label class="col-md-1 all-text-align-right">服务简介：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="comment" name="comment" placeholder="请填写服务简介">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="comment 注释，需写明接入平台 / 客户名称">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">文件名：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="fileId" placeholder="请填写文件名">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="id 即文件名（项目代号），全小写，用下划线分割">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">服务负责人：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="author" name="author" placeholder="请填写服务负责人">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="author 服务负责人，知识库维护人，后端开发者">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">服务器代号：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="engine" name="engine" placeholder="请填写服务器代号">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="engine 引擎所在的服务器代号（详情咨询鲁闽）">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">机器人用户名：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="username" name="username" placeholder="请填写机器人用户名">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="username 机器人用户名">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">欢迎词：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="welcome" name="welcome" placeholder="请填写欢迎词">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="welcome 【可选参数】 检测机器人打工是否正常的欢迎词，留着空或删除本行则不检查">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">结束语：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="ending" name="ending" placeholder="请填写开始新对话的结束语">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="ending 【可选参数】 用于开始新对话的结束语，相对于检测到知识库回复这句话时清空对话，在编辑器对话框按F5。留空则不自动重置">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">检测满意度的结束语：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="survey" name="survey" placeholder="请填写检测满意度的结束语">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="survey 【可选参数】 用于检测满意度调查的结束语，留空删除这行则不进行满意度调查">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">对于同一个用户的不同会话是否使用固定的chat_key：</label>
                    <div class="form-group col-md-6">
                        <label class="col-md-2">
                            <label><input name="static_chatkey" type="radio" value="true" />是</label> 
                        </label>
                        <label class="col-md-2">
                            <label><input name="static_chatkey" type="radio" value="false" />否</label> 
                        </label>
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="static_chatkey 【可选参数】 对于同一个用户的不同会话是否使用固定的 chat_key ，留空或删除本行默认为false">Tips</span>
                    </label>
                </div>
                <div class="row">
                    <label class="col-md-3 all-text-align-right">替换微信昵称/用户昵称：</label>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="请填写替换微信昵称/用户昵称">
                    </div>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="nickname 【可选参数】 相当于引擎中的visitor name 接口层会自动替换微信昵称/用户昵称 默认为landey 非极端情况不建议修改 改为其他的可能会造成语义理解错误">Tips</span>
                    </label>
                </div>
                {{!-- 服务器参数 开始 --}}
                <div class="row">
                    <label class="col-md-3 all-text-align-right">服务器参数：</label>
                    <label class="col-md-1 all-text-align-right">
                        <button onclick="addServerParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                    </label>
                    <label class="col-md-5 all-text-align-right"></label>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="服务器参数">Tips</span>
                    </label>
                </div>
                <div class="add-server"></div>
                {{!-- 服务器参数 结束 --}}
                {{!-- 测试参数 开始 --}}
                <div class="row">
                    <label class="col-md-3 all-text-align-right">测试参数：</label>
                    <label class="col-md-1 all-text-align-right">
                        <button onclick="addTestParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                    </label>
                    <label class="col-md-5 all-text-align-right"></label>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="测试参数">Tips</span>
                    </label>
                </div>
                <div class="add-test">
                </div>
                {{!-- 测试参数 结束 --}}
                {{!-- 输出参数 开始 --}}
                <div class="row">
                    <label class="col-md-3 all-text-align-right">输出设置：</label>
                    <label class="col-md-1 all-text-align-right">
                        <button onclick="addOutputParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                    </label>
                    <label class="col-md-5 all-text-align-right"></label>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="输出设置">Tips</span>
                    </label>
                </div>
                <div class="add-output">
                </div>
                {{!-- 输出参数 结束 --}}
                {{!-- 测试用户名参数 开始 --}}
                <div class="row">
                    <label class="col-md-3 all-text-align-right">测试用户名设置：</label>
                    <label class="col-md-1 all-text-align-right">
                        <button onclick="addUsernamesParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                    </label>
                    <label class="col-md-5 all-text-align-right"></label>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="测试用户名设置">Tips</span>
                    </label>
                </div>
                <div class="add-usernames">
                </div>
                {{!-- 测试用户名参数 结束 --}}
                {{!-- 请求参数 开始 --}}
                <div class="row">
                    <label class="col-md-3 all-text-align-right">请求参数：</label>
                    <label class="col-md-1 all-text-align-right">
                        <button onclick="addRequestParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                    </label>
                    <label class="col-md-5 all-text-align-right"></label>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="请求参数">Tips</span>
                    </label>
                </div>
                <div class="add-request">
                </div>
                {{!-- 请求参数 结束 --}}
                <div class="row">
                    <label class="col-md-3 all-text-align-right">后处理替换：</label>
                    <label class="col-md-1 all-text-align-right">
                        <button onclick="addReplacementParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                    </label>
                    <label class="col-md-5 all-text-align-right"></label>
                    <label class="col-md-1">
                        <span class="label label-default cursor-pointer" title="多个参数请用&区分">Tips</span>
                    </label>
                </div>
                <div class="add-replacement">
                </div>
                <div class="add-question">
                    <div class="row">
                        <label class="col-md-2"></label>
                        <label class="col-md-1 all-text-align-right">提问:</label>
                        <label class="col-md-1 all-text-align-right">
                            <button onclick="addQuestionParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                        </label>
                        <label class="col-md-5 all-text-align-right"></label>
                        <label class="col-md-1">
                            <span class="label label-default cursor-pointer" title="提问">Tips</span>
                        </label>
                    </div>
                </div>
                <div class="add-answer">
                    <div class="row">
                        <label class="col-md-2"></label>
                        <label class="col-md-1 all-text-align-right">回答:</label>
                        <label class="col-md-1 all-text-align-right">
                            <button onclick="addAnswerParams()" type="button" class="btn btn-primary line-height-8px">+</button>
                        </label>
                        <div id="answerType">
                            <label class="col-md-1">
                                <label><input name="answerType" type="radio" value="single" />单选</label> 
                            </label>
                            <label class="col-md-1">
                                <label><input name="answerType" type="radio" value="multi" />多选</label> 
                            </label>
                            <label class="col-md-1">
                                <label><input name="answerType" type="radio" value="regex" />正则</label> 
                            </label>
                        </div>
                        <label class="col-md-2 all-text-align-right"></label>
                        <label class="col-md-1">
                            <span class="label label-default cursor-pointer" title="回答">Tips</span>
                        </label>
                    </div>
                </div>

                <div class="row"><label class="col-md-12">&nbsp;</label></div>

                <div class="row">
                    <label class="col-md-3"></label>
                    <input class="btn btn-primary" type="submit" value="Upload" style="margin-bottom: 10px;">
                </div>
            </div>
        </form>
    </div>
    
    <!-- /.上传成功并且返回结果 -->
    {{#if success_msg}}
    <div class="row">
        <div class="form-group" style="margin-left: 18px;">
            <div class="row">
                <label class="col-sm-1 control-label"></label>
                <label class="col-sm-8 control-label">解析结果如下：</label>
            </div>
            <div class="row">
                <label class="col-sm-1 control-label"></label>
                <label class="col-sm-1 control-label"></label>
                <label class="col-sm-8 control-label"><span id="casesHTML">{{{success_msg}}}</span></label>
            </div>
        </div>
    </div>
    {{/if}}
    <!-- /.上传成功并且返回结果 -->
</div>


    <!-- CDN -->
    <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    
    <script>
        var tempServerParamsCount = 0;
        var tempTestParamsCount = 0;
        var tempOutputParamsCount = 0;
        var tempUsernamesParamsCount = 0;
        var tempRequestParamsCount = 0;
        var tempReplacementParamsCount = 0;
        var tempQuestionParamsCount = 0;
        var tempAnswerParamsCount = 0;

        var tempServerParamsArray = [];
        var tempQuestionParamsArray = [];
        var tempAnswerParamsArray = [];

        Array.prototype.indexOf = function(val) {
            for (var i = 0; i < this.length; i++) {
                if (this[i] == val) return i;
            }
            return -1;
        };

        Array.prototype.remove = function(val) {
            var index = this.indexOf(val);
            if (index > -1) {
                this.splice(index, 1);
            }
        };
        
        // 服务参数开始
        function addServerParams() {
            tempServerParamsCount += 1;
            $('<div class="row" id="server' + tempServerParamsCount +'"">\
                <label class="col-md-3"></label>\
                <label class="col-md-1 all-text-align-right">\
                    <input type="text" class="form-control" name="serverKey.' + tempServerParamsCount + '" placeholder="key">\
                </label>\
                <div class="form-group col-md-4">\
                    <input type="text" class="form-control" name="server.' + tempServerParamsCount + '" placeholder="value">\
                </div>\
                <label class="col-md-1 all-text-align-right"><button onclick="removeServerParams(' + tempServerParamsCount + ')" \
                    type="button" class="btn btn-danger line-height-8px">-</button></label>\
            </div>').appendTo(".add-server");
        }

        function removeServerParams(number) {
            if (number > 0) {
                $('#server' + number).remove();
                tempServerParamsCount -= 1;
            }
        }
        // 服务参数结束

        // 测试参数开始
        function addTestParams() {
            tempTestParamsCount += 1;
            $('<div class="row" id="test' + tempTestParamsCount +'"">\
                <label class="col-md-3"></label>\
                <label class="col-md-1 all-text-align-right">\
                    <input type="text" class="form-control" name="testKey.' + tempTestParamsCount + '" placeholder="key">\
                </label>\
                <div class="form-group col-md-4">\
                    <input type="text" class="form-control" name="test.' + tempTestParamsCount + '" placeholder="value">\
                </div>\
                <label class="col-md-1 all-text-align-right"><button onclick="removeTestParams(' + tempTestParamsCount + ')" \
                    type="button" class="btn btn-danger line-height-8px">-</button></label>\
            </div>').appendTo(".add-test");
        }
        function removeTestParams(number) {
            if (number > 0) {
                $('#test' + number).remove();
                tempTestParamsCount -= 1;
            }
        }
        // 测试参数结束

        // 输出参数开始
        function addOutputParams() {
            tempOutputParamsCount += 1;
            $('<div class="row" id="output' + tempOutputParamsCount +'"">\
                <label class="col-md-3"></label>\
                <label class="col-md-1 all-text-align-right">\
                    <input type="text" class="form-control" name="outputKey.' + tempOutputParamsCount + '" placeholder="key">\
                </label>\
                <label class="col-md-2">\
                    <label><input name="output.' + tempOutputParamsCount + '" type="radio" value="true" />true</label>\
                </label>\
                <label class="col-md-2">\
                    <label><input name="output.' + tempOutputParamsCount + '" type="radio" value="false" />false</label>\
                </label>\
                <label class="col-md-1 all-text-align-right"><button onclick="removeOutputParams(' + tempOutputParamsCount + ')" \
                    type="button" class="btn btn-danger line-height-8px">-</button></label>\
            </div>').appendTo(".add-output");
        }
        function removeOutputParams(number) {
            if (number > 0) {
                $('#output' + number).remove();
                tempOutputParamsCount -= 1;
            }
        }
        // 输出参数结束

        // 用户参数开始
        function addUsernamesParams() {
            tempUsernamesParamsCount += 1;
            $('<div class="row" id="usernames' + tempUsernamesParamsCount +'"">\
                <label class="col-md-3"></label>\
                <label class="col-md-1 all-text-align-right" style="line-height: 36px;">' + tempUsernamesParamsCount + '.</label>\
                <div class="form-group col-md-4">\
                    <input type="text" class="form-control" name="usernames.' + tempUsernamesParamsCount + '" placeholder="value">\
                </div>\
                <label class="col-md-1 all-text-align-right"><button onclick="removeUsernamesParams(' + tempUsernamesParamsCount + ')" \
                    type="button" class="btn btn-danger line-height-8px">-</button></label>\
            </div>').appendTo(".add-usernames");
        }
        function removeUsernamesParams(number) {
            if (number > 0) {
                $('#usernames' + number).remove();
                tempUsernamesParamsCount -= 1;
            }
        }
        // 用户参数结束

        // 请求参数开始
        function addRequestParams() {
            tempRequestParamsCount += 1;
            $('<div class="row" id="request' + tempRequestParamsCount +'"">\
                <label class="col-md-3"></label>\
                <label class="col-md-1 all-text-align-right">\
                    <input type="text" class="form-control" name="requestKey.' + tempRequestParamsCount + '" placeholder="key">\
                </label>\
                <div class="form-group col-md-4">\
                    <input type="text" class="form-control" name="request.' + tempRequestParamsCount + '" placeholder="value">\
                </div>\
                <label class="col-md-1 all-text-align-right"><button onclick="removeRequestParams(' + tempRequestParamsCount + ')" \
                    type="button" class="btn btn-danger line-height-8px">-</button></label>\
            </div>').appendTo(".add-request");
        }
        function removeRequestParams(number) {
            if (number > 0) {
                $('#request' + number).remove();
                tempRequestParamsCount -= 1;
            }
        }
        // 请求参数结束

        // 后处理替换参数开始
        function addReplacementParams() {
            tempReplacementParamsCount += 1;
            $('<div class="row" id="replacement' + tempReplacementParamsCount +'"">\
                <label class="col-md-3"></label>\
                <label class="col-md-1 all-text-align-right">\
                    <input type="text" class="form-control" name="replacementKey.' + tempReplacementParamsCount + '" placeholder="key">\
                </label>\
                <div class="form-group col-md-4">\
                    <textarea rows="3" class="form-control" name="replacement.' + tempReplacementParamsCount + '" placeholder="多个参数请用&区分"></textarea>\
                </div>\
                <label class="col-md-1 all-text-align-right"><button onclick="removeReplacementParams(' + tempReplacementParamsCount + ')" type="button" class="btn btn-danger line-height-8px">-</button></label>\
            </div>').appendTo(".add-replacement");
        }
        function removeReplacementParams(number) {
            if (number > 0) {
                $('#replacement' + number).remove();
                tempReplacementParamsCount -= 1;
            }
        }
        // 后处理替换参数结束

        // 提问参数开始
        function addQuestionParams() {
            tempQuestionParamsCount += 1;
            $('<div class="row" id="question' + tempQuestionParamsCount +'"">\
                <label class="col-md-3"></label>\
                <label class="col-md-1 all-text-align-right" style="line-height: 36px;">' + tempQuestionParamsCount + '.</label>\
                <div class="form-group col-md-4">\
                    <input type="text" class="form-control" id="" name="question.' + tempQuestionParamsCount + '" placeholder="value">\
                </div>\
                <label class="col-md-1 all-text-align-right"><button onclick="removeQuestionParams(' + tempQuestionParamsCount + ')" type="button" class="btn btn-danger line-height-8px">-</button></label>\
            </div>').appendTo(".add-question");
        }
        function removeQuestionParams(number) {
            if (number > 0) {
                $('#question' + number).remove();
                tempQuestionParamsCount -= 1;
            }
        }
        // 提问参数结束

        // 回答参数开始
        function addAnswerParams() {
            var answerTypeVal = $('#answerType input[name="answerType"]:checked').val();
            if (answerTypeVal === undefined) {
                alert('请先选择回答的类型!');
                return;
            }
            tempAnswerParamsCount += 1;
            var answerTypeName = $('#answerType input[name="answerType"]:checked')[0].nextSibling.nodeValue;
            if (answerTypeVal === 'single') {
                $('<div class="row" id="answer' + tempAnswerParamsCount +'"">\
                    <label class="col-md-3"></label>\
                    <label class="col-md-1 all-text-align-right" style="line-height: 36px;">' + tempAnswerParamsCount + '.</label>\
                    <div class="form-group col-md-4">\
                        <input type="text" class="form-control" name="answerSingle.' + tempAnswerParamsCount + '" placeholder="value">\
                    </div>\
                    <div class="col-md-1 all-text-align-right">(' + answerTypeName + ')<button onclick="removeAnswerParams(' + tempAnswerParamsCount + ')" type="button" class="btn btn-danger line-height-8px" style="margin-left: 5px">-</button></div>\
                </div>').appendTo(".add-answer");
            } else if (answerTypeVal === 'multi') {
                $('<div class="row" id="answer' + tempAnswerParamsCount +'"">\
                    <label class="col-md-3"></label>\
                    <label class="col-md-1 all-text-align-right" style="line-height: 36px;">' + tempAnswerParamsCount + '.</label>\
                    <div class="form-group col-md-4">\
                        <textarea rows="3" class="form-control" name="answerMulti.' + tempAnswerParamsCount + '" placeholder="多个回答请用&区分"></textarea>\
                    </div>\
                    <div class="col-md-1 all-text-align-right">(' + answerTypeName + ')<button onclick="removeAnswerParams(' + tempAnswerParamsCount + ')" type="button" class="btn btn-danger line-height-8px" style="margin-left: 5px">-</button></div>\
                </div>').appendTo(".add-answer");
            } else if (answerTypeVal === 'regex') {
                $('<div class="row" id="answer' + tempAnswerParamsCount +'"">\
                    <label class="col-md-3"></label>\
                    <label class="col-md-1 all-text-align-right" style="line-height: 36px;">' + tempAnswerParamsCount + '.</label>\
                    <div class="form-group col-md-4">\
                        <input type="text" class="form-control" name="answerRegex.' + tempAnswerParamsCount + '" placeholder="value">\
                    </div>\
                    <div class="col-md-1 all-text-align-right">(' + answerTypeName + ')<button onclick="removeAnswerParams(' + tempAnswerParamsCount + ')" type="button" class="btn btn-danger line-height-8px" style="margin-left: 5px">-</button></div>\
                </div>').appendTo(".add-answer");
            }
        }
        function removeAnswerParams(number) {
            if (number > 0) {
                $('#answer' + number).remove();
                tempAnswerParamsCount -= 1;
            }
        }
        // 回答参数结束

    </script>
