<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                验证码管理
                <small>获取验证码</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">控制台</a>
                </li>
                <li class="active">
                    <i class="fa fa-unlock-alt"></i> 验证码管理
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="manage-code">
                <div>
                    <label for="name">获取验证码：</label>
                    <input type="text" placeholder="请输入电话号码">
                    <span class="list-group-item-heading-right">
                    <a href="javascript:void(0)" id="manage-code-get" class="btn btn-xs btn-primary">获取 <i class="fa fa-share-square-o" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Alert -->
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div id="manage-code-success" style="display:none">
                <div class="alert alert-success">
                    <p>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i> 验证码获取成功：
                    <a href="#" class="close">
                        &times;
                    </a>
                    </p>
                </div>
            </div>
            <div id="manage-code-warning" style="display:none">
                <div class="alert alert-warning">
                    <p>
                        <i class="fa fa-warning" aria-hidden="true"></i> 电话号码格式不正确
                    <a href="#" class="close">
                        &times;
                    </a>
                    </p>
                </div>
            </div>
            <div id="manage-code-error" style="display:none">
                <div class="alert alert-danger">
                    <p>
                        <i class="fa fa-frown-o" aria-hidden="true"></i> 获取验证码失败，</strong>请联系<a href="https://www.linkedin.com/in/fangzhoulong/"
                class="alert-link">技术人员</a>寻求帮助！
                    <a href="#" class="close">
                        &times;
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.container-fluid -->