<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                用户管理
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">控制台</a>
                </li>
                <li class="active">
                    <i class="fa fa-user-plus"></i> 用户管理
                </li>
            </ol>
        </div>
    </div>

    <div class="row" id="user-list-result">
    </div>

    <div id="manage-list-result-temp" style="display:none">
        <div class="col-sm-6">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#user-$_id$">$username$</button>
            <a id="$_id$" status-code="$statusCode$" class="btn btn-xs btn-$buttonType$ btn-active-status">$active$</a>
            <button type="button" class="btn btn-xs btn-warning">无appkey</button>
            <button type="button" class="btn btn-xs btn-warning">无appsecret</button>
            <div id="user-$_id$" class="collapse qw-users-list">
                <p>用户名： $username$</p>
                <p>组别： $group$</p>
                <p>激活状态： $active$</p>
                <p>姓名： $name$</p>
                <p>公司： $company$</p>
                <p>电子邮箱： $email$</p>
                <p>手机号： $phone$</p>
                <p>微信ID： $wechat_openid$</p>
                <p>短信提醒： $alertSms$</p>
                <p>邮件提醒： $alertEmail$</p>
                <p>appkey： $appkey$</p>
                <p>appsecret： $appsecret$</p>
                <p>_id：$_id$</p>
            </div>
        </div>
    </div>
    <p>没有用户</p>

</div>
<!-- /.container-fluid -->