<!-- <div id="home">
    <div id="home-container">
        <app-home-title-zh [hidden]="language === 'en'"></app-home-title-zh>
        <app-home-title-en [hidden]="language !== 'en'"></app-home-title-en>
        <div id="home-bg-anim">
            <div class="home-holder">
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
                <div class="home-circle"></div>
            </div>
        </div>
    </div>
</div> -->

<div id="home">
    <h1>endaye/p5-web-test: A test which processing runs well on website</h1>
    <h4>source
        <a href="https://www.openprocessing.org/sketch/434620" target="_blank">url</a> by
        <a href="https://www.openprocessing.org/user/58012" target="_blank">Koï Koï</a>
    </h4>
    <div id="equalizer"></div>
</div>

