.content {
  position: absolute;
  top: 70px;
  left: 240px;
  padding: 10px;
  width: calc(100% - 240px);
  height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: scroll;

  .thumbnail {
    width: 90px;
    height: 65px;
  }

  .ant-table-tbody>tr>td,
  .ant-table-thead>tr>th {
    padding: 10px !important;
  }
}

.image-panel {
  width: 350px;
}

.image-panel1 {
  width: 90px;
  height: 90px;
}

.image-panel2 {
  width: 150px;
  height: 40px;
}

.image-panel3 {
  width: 90px;
  height: 90px;
}

.search_panel {
  margin-bottom: 10px;
  .span_down {
    line-height: 30px;
  }
}
