<div id="plan">
    <div id="content-container">
        <h2><span>解决</span>方案</h2>
        <p>我们提供的是垂直领域最智能的语义识别技术，同时能根据客户的需求去提供完全定制化的解决方案。<br>
        在价格方面我们也是提供灵活的合作方式：既可以一次性付费，我们提供相应的技术，后续再根据技术升级、维护等收取服务费用。也可以前期只收取人工成本费用，后期根据产品利润分成、技术维护升级等形式获利共赢。<br>
        这种付费方式可以大幅降低中小企业与我们合作的前期试错成本。</p>
        <ul id="domain">
            <li id="education">
                <div>
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <p>教育领域</p>
                </div>
            </li>

            <li id="game">
                <div>
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    <p>游戏领域</p>
                </div>
            </li>

            <li id="animate">
                <div>
                    <i class="fa fa-wechat" aria-hidden="true"></i>
                    <p>动漫领域</p>
                </div>
            </li>
        </ul>
    </div>
</div>
