<div class="container-fluid" #mainScreen>
    <div id="qw_dialog_box">
        <div class="container">
            <div class="dialog_window">
                <div class="row">
                    <div class="col-md-12">
                        <div style="background: #F4F7FD; height: 72px; font-size: 200%;">
                            <p style="line-height:84px;">与 小悟 聊天中</p>
                        </div>
                        <div style="background: rgba(230,230,230,1);height: 1px;"></div>
                        <div class="scroll-chat-box" [ngStyle]="{'height': morethan400 ? '124rem' : morethan720 ? '62rem' : morethan1024 ? '37rem' : '124rem'}">
                            <ul class="chat-list">
                                <!-- <li *ngFor="let item of items" class="chat-list">
                                    {{ item.title }}
                                </li> -->
                            </ul>
                        </div>
                        <div class="input-box">
                            <!-- <span class="input-i">@</span> -->
                            <input type="text" class="chat-input" placeholder="你是谁">
                            <div style="display: contents;" class="chat-submit" (click)="submitMsg()">
                                <img src="/assets/images/panel_icon_send@2x.png" draggable="false" style="padding: 2rem 7rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <img src="/assets/images/logo_gray@2x.png" style="margin-bottom: 10rem;">
    </div>
</div>
