#header {
    height: 80px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    background-color: blueviolet;
    margin: 0 auto;
    #header-context {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        background-color: lime;
        #header-brand-logo {
            display: inline-block;
            margin: 15px 15px;
            img {
                height: 46px;
            }
        }
        #header-nav-bar {
            display: inline;
            position: absolute;
            left: 170px;
            ul {
                font-size: 14px;
                font-weight: 500px;
                font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
                li {
                    display: inline-block;
                    text-decoration: none;
                    padding: 10px 20px;
                    margin-top: 15px;
                    #lang-switch {
                        margin-left: 30px;
                    }
                    a {
                        color: #000000;
                        text-decoration: none;
                    }
                    a:hover {

                        color: gold;
                    }
                    .active {
                        color: gold;
                    }
                }   
            }
        }
    }
}
