<div id="header">
    <div id="left-block">
        <div id="chewrobot-logo-lg"></div>
    </div>
    <div id="main-container">
        <nav>
            <a href="#about" class="active">产品体验</a>
            <a href="#plan">方案</a>
            <a href="#partner">合作</a>
            <a href="#team">团队</a>
            <a href="#contact">联系</a>
        </nav>

        <div id="content">
            <h2>革 命 性</h2>
            <h3>语音交互技术</h3>
            <h4>解决方案提供商</h4>
        </div>
    </div>
</div>
