<!-- <div id="header">
    <div id="left-block">
        <div id="big-chewrobot-logo"></div>
    </div>
    <div id="right-container">
        <nav>
            <a href="#about">关于</a>
            <a href="#about" class="active">产品体验</a>
            <a href="#plan">方案</a>
            <a href="#partner">合作</a>
            <a href="#team">团队</a>
            <a href="#contact">联系</a>
        </nav>

        <div id="content">
            <h2>全球顶级</h2>
            <h3>语音交互技术</h3>
            <h4>解决方案提供商</h4>
            <h5>为行业内企业提供智能客服、智能助手、智能硬件、智能玩具、虚拟偶像、虚拟教师等定制化解决方案，帮助其产品实现差异化、智能化。</h5>
        </div>
    </div>
</div> -->


<div id="header">
        <div id="top-block">
            <div id="chewrobot-logo-sm"></div>
            <div id="slogan"><h3>见闲思<span>齐</span>　一闻千<span>悟</span></h3></div>
        </div>
        <div id="left-block">
            <div id="chewrobot-logo-lg"></div>
        </div>
        <div id="main-container">
            <nav>
                <a href="#about" class="active">关于</a>
                <a href="#about">产品</a>
                <a href="#plan">方案</a>
                <a href="#partner">合作</a>
                <a href="#team">团队</a>
                <a href="#contact">联系</a>
            </nav>

            <div id="content">
                <h2>全球顶级</h2>
                <h3>语音交互技术</h3>
                <h4>解决方案提供商</h4>
                <h5>为行业内企业提供智能客服、智能助手、智能硬件、智能玩具、虚拟偶像、虚拟教师等定制化解决方案，帮助其产品实现差异化、智能化。</h5>
            </div>
        </div>
    </div>
