#team-m {
    width: 420px;
    height: 495px;
    background-image: url(/assets/images/team_background.png); // position: relative;
    padding: 0 2% 0 2%;
    #content-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: #FEFEFE;
        position: relative;
        h2 {
            font-size: 24px;
            padding-top: 20px;
            padding-bottom: 20px;
            span {
                color: #FFD400;
            }
        }
        #detail {
            
            width: 100%;
            height: 210px; // margin-bottom: 50px;
            margin: 0 auto;

            .team-page {
                position: relative;
                margin: 0 auto;
                z-index: 3;
            }

            #left-part {
                width: 200px;
                
                .team-profile {
                    width: 202px;
                    height: 202px;
                }
                h3 {
                    font-size: 48px;
                    padding: 0;
                    margin: 0;
                }
                h4 {
                    font-size: 18px;
                    color: #FFD400;
                }
                img {
                    width: 200px;
                    height: 200px;
                }
            }
            #right-part {
                width: 300px;
                z-index: 99;
                text-align: left;
                h3 {
                    font-size: 48px;
                    padding: 0;
                    margin: 0;
                }
                h4 {
                    font-size: 18px;
                    color: #FFD400;
                }
                h5 {
                    font-size: 12px;
                    font-weight: 100;
                }
                p {
                    font-size: 12px;
                }
                #social {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    height: 12px;
                    width: 42px;
                    a {
                        text-decoration: none;
                        color: inherit;
                        padding-right: 50px;
                    }
                }
            }
        }
        #turn-to-right-page {
            height: 40px;
            width: 18px;
            position: absolute;
            top: 50%;
            left: 95%;
            padding: 0;
            margin: 0;
            img {
                height: 40px;
                width: 18px;
            }
        }
        #turn-to-left-page {
            height: 40px;
            width: 18px;
            position: absolute;
            top: 50%;
            left: 0%;
            padding: 0;
            margin: 0;
            img {
                height: 40px;
                width: 18px;
            }
        }
        .hide {
            display: none;
        }

        
        #member {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 620px;
            height: 90px;
            display: flex;
            justify-content: space-between;
            li {
                display: block;
                img {
                    width: 90px;
                    height: 90px;
                }
            }
            li:hover {
                cursor: pointer;
            }
            .active {
                img {
                    border: 4px solid #FFD400;
                }
            }
        }
        img {
            box-shadow: 0 0 12px 2px black;
        }
    }
    #big-name {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 100px;
        line-height: 100px;
        height: 200px;
        color: #4D4D4D;
        z-index: 1;
    }
}