<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2600px', y: '520px'}" *ngIf="!isSpinning">
  <thead>
    <tr>
      <th nzWidth="50px">序号</th>
      <th nzWidth="100px">时间</th>
      <th nzWidth="100px">唤醒导航人次</th>
      <th nzWidth="100px">导航唤醒行为数</th>
      <th nzWidth="100px">导航对话轮数（总）</th>
      <th nzWidth="100px">导航日最高对话轮数</th>
      <th nzWidth="100px">查询周边的次数</th>
      <th nzWidth="100px">查询地点的次数</th>
      <th nzWidth="100px">开始导航的次数</th>
      <th nzWidth="100px">结束导航的次数</th>
      <th nzWidth="100px">切换使用行为数</th>
      <th nzWidth="100px">到达目的地次数</th>
      <th nzWidth="100px">导航骑行行为数</th>
      <th nzWidth="100px">导航驾驶行为数</th>
      <th nzWidth="100px">导航步行行为数</th>
      <th nzWidth="100px">导航公交/地铁</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td nzWidth="100px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.awakNavigationUsers }}</td>
      <td nzWidth="100px">{{data.awakNavigationCount}}</td>
      <td nzWidth="100px">{{data.navigationSessionCount}}</td>
      <td nzWidth="100px">{{data.navigationSessionMax}}</td>
      <td nzWidth="100px">{{data.navigationQueryRound}}</td>
      <td nzWidth="100px">{{data.navigationQuerySite}}</td>
      <td nzWidth="100px">{{data.navigationStart}}</td>
      <td nzWidth="100px">{{data.navigationEnd}}</td>
      <td nzWidth="100px">{{data.navigationSwitch}}</td>
      <td nzWidth="100px">{{data.navigationArrived}}</td>
      <td nzWidth="100px">{{data.navigationForBiking}}</td>
      <td nzWidth="100px">{{data.navigationForDriving}}</td>
      <td nzWidth="100px">{{data.navigationForWalk}}</td>
      <td nzWidth="100px">{{data.navigationForPubTransport}}</td>
    </tr>
  </tbody>
</nz-table>
