<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2600px', y: '520px'}" *ngIf="!isSpinning">
  <thead>
    <tr>
      <th nzWidth="50px" nzLeft="0px">序号</th>
      <th nzWidth="100px" nzLeft="83px">时间</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[0].checked">唤醒导航人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[1].checked">导航唤醒行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[2].checked">导航对话轮数（总）</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[3].checked">导航日最高对话轮数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[4].checked">查询周边的次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[5].checked">查询地点的次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[6].checked">开始导航的次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[7].checked">结束导航的次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[8].checked">到达目的地次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[9].checked">切换使用行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[10].checked">导航骑行行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[11].checked">导航驾驶行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[12].checked">导航步行行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[13].checked">导航公交/地铁</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px" nzLeft="0px">{{i+1}}</td>
      <td nzWidth="100px" nzLeft="83px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[0].checked">{{data.awakNavigationUsers }}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[1].checked">{{data.awakNavigationCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[2].checked">{{data.navigationSessionCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[3].checked">{{data.navigationSessionMax}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[4].checked">{{data.navigationQueryRound}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[5].checked">{{data.navigationQuerySite}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[6].checked">{{data.navigationStart}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[7].checked">{{data.navigationEnd}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[8].checked">{{data.navigationArrived}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[9].checked">{{data.navigationSwitch}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[10].checked">{{data.navigationForBiking}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[11].checked">{{data.navigationForDriving}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[12].checked">{{data.navigationForWalk}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.navigate[13].checked">{{data.navigationForPubTransport}}</td>
    </tr>
  </tbody>
</nz-table>
