<div id="team">
    <div id="content-container">
        <h2>主要<span>技术团队</span></h2>
        <div id="detail">
            <div id="left-part">
                <img [src]="nowMember.img">
            </div>
            <div id="right-part">
                <h3>{{ nowMember.name }}</h3>
                <h4>{{ nowMember.position }}</h4>
                <h5>{{ nowMember.education }}</h5>
                <p>
                    {{ nowMember.introduction }}
                </p>
                <ul id="social">
                    <li id="linkedin"><a [href]="nowMember.linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li id="facebook"><a [href]="nowMember.facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <ul id="member">
            <li *ngFor="let member of members; let i = index" [class.active]="i == nowIndex" (click)="changeMember(i)">
                <img [src]="member.img">
            </li>
        </ul>
    </div>
    <div id="big-name">
        {{ nowMember.name }}
    </div>
</div>
