.top_nav {
  position: absolute;
  z-index: 999;
  width: 100%;
  .left_panel {
    .qiwu_logo {
      width: 1.5rem;
      margin: 20px;
    }
  }
  .right_panle {
    float: right;
    margin-top: 10px;
    .person_logo {
      width: 0.8rem;
      margin-right: 10px
    }
  }
}

.left_nav {
  width: 240px;
  height: 100%;

  .list {
    position: relative;
    height: 100%;
    padding-top: calc(60%);
  }

  .active_panel {
    background-color: #e6f7ff;
    color: #1890ff;
    border-right: 3px solid #1890ff;
  }
}

