<!-- 顶部 -->
<div class="top_nav">
  <ul nz-menu [nzMode]="'horizontal'">
    <li nz-menu-item class="left_panel">
      <a class="common-button" routerLink="/appVersion" routerLinkActive="active">
        <img src="assets/images/qiwu_logo.png" class="qiwu_logo" alt="">
      </a>
    </li>
    <li nz-menu-item class="right_panle">
      <nz-dropdown [nzPlacement]="'bottomRight'">
        <a nz-dropdown>
          <img src="assets/images/person_logo.png" class="person_logo" alt="">
          <strong>{{currentUser}}</strong>
        </a>
        <ul nz-menu>
          <li nz-menu-item (click)="modifyPwd()">
            <a>修改密码</a>
          </li>
          <li nz-menu-item (click)="cancellation()">
            <a>注销/退出</a>
          </li>
        </ul>
      </nz-dropdown>
    </li>
    <li nz-menu-item class="right_panle" *ngIf="appHeaderAllow.length > 1">
      <nz-select [(ngModel)]="currentAppHeader" (ngModelChange)="currentAppHeaderOnChange($event, 'currentAppHeader')">
        <nz-option *ngFor="let item of appHeaderAllow; let i=index;" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
      </nz-select>
    </li>
  </ul>
</div>

<!-- 左侧 -->
<div class="left_nav">
  <div class="left_nav_child">
    <ul nz-menu [nzMode]="'inline'" class="list" [nzInlineCollapsed]="commonService.isCollapsed">
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', 'APP管理')" [ngClass]="{'active_panel': commonService.nav[1].active}">
        <a class="common-button" routerLink="/appVersion" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-appstore-o" twoToneColor="#ffffff"></i><span>APP管理</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '客服中心')" [ngClass]="{'active_panel': commonService.nav[2].active}">
        <a class="common-button" routerLink="/customer" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-customer-service"></i><span>客服中心</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '用户管理')" [ngClass]="{'active_panel': commonService.nav[3].active}">
        <a class="common-button" routerLink="/user" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-user"></i><span>用户管理</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '客户管理')" [ngClass]="{'active_panel': commonService.nav[9].active}">
        <a class="common-button" routerLink="/consumer" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-team"></i><span>客户管理</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '运维后台')" [ngClass]="{'active_panel': commonService.nav[4].active}">
        <a class="common-button" routerLink="/operate" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-dot-chart"></i><span>运维后台</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '内容管理')" [ngClass]="{'active_panel': commonService.nav[5].active}">
        <a class="common-button" routerLink="/content" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-file-text"></i><span>内容管理</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '活动管理')" [ngClass]="{'active_panel': commonService.nav[6].active}">
        <a class="common-button" routerLink="/activity" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-gift"></i><span>活动管理</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '数据中心')" [ngClass]="{'active_panel': commonService.nav[0].active}">
        <a class="common-button" routerLink="/dataCenter" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-database"></i><span>数据中心</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '新闻词库')" [ngClass]="{'active_panel': commonService.nav[10].active}">
        <a class="common-button" routerLink="/news" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-mobile"></i><span>新闻词库</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '对话分析')" [ngClass]="{'active_panel': commonService.nav[8].active}">
        <a class="common-button" routerLink="/sessionAnalysis" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-line-chart"></i><span>对话分析</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '对话分析')" [ngClass]="{'active_panel': commonService.nav[11].active}">
        <a class="common-button" routerLink="/regression" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-setting"></i><span>回归工具</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '对话分析')" [ngClass]="{'active_panel': commonService.nav[12].active}">
        <a class="common-button" routerLink="/platform" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-api"></i><span>开放平台</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '对话分析')" [ngClass]="{'active_panel': commonService.nav[13].active}">
        <a class="common-button" routerLink="/jiaoyou" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-smile-o"></i><span>交游天下</span>
          </span>
        </a>
      </li>
      <li nz-menu-item nz-tooltip *ngIf="haveMenuPermission('menu', '权限后台')" [ngClass]="{'active_panel': commonService.nav[7].active}">
        <a class="common-button" routerLink="/account" routerLinkActive="active">
          <span title>
            <i class="anticon anticon-key"></i><span>权限后台</span>
          </span>
        </a>
      </li>
      <!-- <li nz-menu-item nz-tooltip style="position: absolute;bottom: 0;" (click)="toggleCollapsed()">
        <span title>
          <i class="anticon anticon-menu-unfold" [class.anticon-menu-unfold]="commonService.isCollapsed"
            [class.anticon-menu-fold]="!commonService.isCollapsed"></i>
        </span>
      </li> -->
    </ul>
  </div>
</div>
