<!-- 顶部 -->
<div class="top_nav">
  <ul nz-menu [nzMode]="'horizontal'">
    <li nz-menu-item class="left_panel">
      <a class="common-button" routerLink="/appVersion" routerLinkActive="active">
        <img src="assets/images/qiwu_logo.png" class="qiwu_logo" alt="">
      </a>
    </li>
    <li nz-menu-item class="right_panle">
      <nz-dropdown [nzPlacement]="'bottomRight'">
        <a nz-dropdown>
          <img src="assets/images/person_logo.png" class="person_logo" alt="">
          <strong>管理员</strong>
        </a>
        <ul nz-menu>
          <li nz-menu-item (click)="cancellation()">
            <a>注销/退出</a>
          </li>
        </ul>
      </nz-dropdown>
    </li>
    <li nz-menu-item class="right_panle">
      <nz-select [(ngModel)]="currentAppHeader" (ngModelChange)="currentAppHeaderOnChange($event, 'currentAppHeader')">
        <nz-option required [nzLabel]="'你好小悟'" [nzValue]="'XIAOWU'"></nz-option>
        <nz-option required [nzLabel]="'听听同学'" [nzValue]="'LENZE'"></nz-option>
      </nz-select>
    </li>
  </ul>
</div>

<!-- 左侧 -->
<div class="left_nav">
  <ul nz-menu [nzMode]="'inline'" class="list" [nzInlineCollapsed]="commonService.isCollapsed">
    <li nz-menu-item nz-tooltip [ngClass]="{'active_panel': commonService.nav[1].active}">
      <a class="common-button" routerLink="/appVersion" routerLinkActive="active">
        <span title>
          <i class="anticon anticon-book"></i><span>APP管理</span>
        </span>
      </a>
    </li>
    <li nz-menu-item nz-tooltip [ngClass]="{'active_panel': commonService.nav[2].active}">
      <a class="common-button" routerLink="/customer" routerLinkActive="active">
        <span title>
          <i class="anticon anticon-book"></i><span>客服中心</span>
        </span>
      </a>
    </li>
    <li nz-menu-item nz-tooltip [ngClass]="{'active_panel': commonService.nav[3].active}">
      <a class="common-button" routerLink="/user" routerLinkActive="active">
        <span title>
          <i class="anticon anticon-user"></i><span>用户管理</span>
        </span>
      </a>
    </li>
    <li nz-menu-item nz-tooltip [ngClass]="{'active_panel': commonService.nav[4].active}">
      <a class="common-button" routerLink="/operate" routerLinkActive="active">
        <span title>
          <i class="anticon anticon-windows"></i><span>运维后台</span>
        </span>
      </a>
    </li>
    <li nz-menu-item nz-tooltip [ngClass]="{'active_panel': commonService.nav[5].active}">
      <a class="common-button" routerLink="/content" routerLinkActive="active">
        <span title>
          <i class="anticon anticon-file-text"></i><span>内容管理</span>
        </span>
      </a>
    </li>
    <li nz-menu-item nz-tooltip [ngClass]="{'active_panel': commonService.nav[6].active}">
      <a class="common-button" routerLink="/activity" routerLinkActive="active">
        <span title>
          <i class="anticon anticon-gift"></i><span>活动相关</span>
        </span>
      </a>
    </li>
    <li nz-submenu nz-tooltip [ngClass]="{'active_panel': commonService.nav[0].active}" routerLinkActive="active">
      <span title (click)="goDataCenter()">
        <i class="anticon anticon-bar-chart"></i><span>数据中心</span>
      </span>
      <ul>
        <li nz-menu-item (click)="commonService.changeDataCenter(0, '/dataCenter/app')">APP总览</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(1, '/dataCenter/keepApp')">APP留存</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(2, '/dataCenter/overview')">BOT总览</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(3, '/dataCenter/product')">产品权限</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(4, '/dataCenter/error')">异常表述</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(5, '/dataCenter/ticket')">机票BOT</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(6, '/dataCenter/train')">火车BOT</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(7, '/dataCenter/hotel')">酒店BOT</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(8, '/dataCenter/weather')">天气BOT</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(9, '/dataCenter/navigate')">导航BOT</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(10, '/dataCenter/taxi')">打车BOT</li>
        <li nz-menu-item (click)="commonService.changeDataCenter(11, '/dataCenter/music')">音乐BOT</li>
      </ul>
    </li>
    <!-- <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="commonService.isCollapsed ? 'Navigation One' : ''"
      [ngClass]="{'active_panel': commonService.nav[7].active}">
      <a class="common-button" routerLink="/account" routerLinkActive="active">
        <span title>
          <i class="anticon anticon-book"></i>
          <span>权限管理</span>
        </span>
      </a>
    </li> -->
    <!-- <li nz-menu-item nz-tooltip style="position: absolute;bottom: 0;" (click)="toggleCollapsed()">
      <span title>
        <i class="anticon anticon-menu-unfold" [class.anticon-menu-unfold]="commonService.isCollapsed"
          [class.anticon-menu-fold]="!commonService.isCollapsed"></i>
      </span>
    </li> -->
  </ul>
</div>
