<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'3000px', y:'520px'}">
  <thead>
    <tr>
      <th nzWidth="50px">序号</th>
      <th nzWidth="100px">时间</th>
      <th nzWidth="100px">表述1人数</th>
      <th nzWidth="100px">表述2人数</th>
      <th nzWidth="100px">表述3人数</th>
      <th nzWidth="100px">表述4人数</th>
      <th nzWidth="100px">表述5人数</th>
      <th nzWidth="100px">表述6人数</th>
      <th nzWidth="100px">表述7人数</th>
      <th nzWidth="100px">表述8人数</th>
      <th nzWidth="100px">表述9人数</th>
      <th nzWidth="100px">表述10人数</th>
      <th nzWidth="100px">表述11人数</th>
      <th nzWidth="100px">表述1行为数</th>
      <th nzWidth="100px">表述2行为数</th>
      <th nzWidth="100px">表述3行为数</th>
      <th nzWidth="100px">表述4行为数</th>
      <th nzWidth="100px">表述5行为数</th>
      <th nzWidth="100px">表述6行为数</th>
      <th nzWidth="100px">表述7行为数</th>
      <th nzWidth="100px">表述8行为数</th>
      <th nzWidth="100px">表述9行为数</th>
      <th nzWidth="100px">表述10行为数</th>
      <th nzWidth="100px">表述11行为数</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td nzWidth="100px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.botException1Users}}</td>
      <td nzWidth="100px">{{data.botException2Users}}</td>
      <td nzWidth="100px">{{data.botException3Users}}</td>
      <td nzWidth="100px">{{data.botException4Users}}</td>
      <td nzWidth="100px">{{data.botException5Users}}</td>
      <td nzWidth="100px">{{data.botException6Users}}</td>
      <td nzWidth="100px">{{data.botException7Users}}</td>
      <td nzWidth="100px">{{data.botException8Users}}</td>
      <td nzWidth="100px">{{data.botException9Users}}</td>
      <td nzWidth="100px">{{data.botException10Users}}</td>
      <td nzWidth="100px">{{data.botException11Users}}</td>
      <td nzWidth="100px">{{data.botException1Count}}</td>
      <td nzWidth="100px">{{data.botException2Count}}</td>
      <td nzWidth="100px">{{data.botException3Count}}</td>
      <td nzWidth="100px">{{data.botException4Count}}</td>
      <td nzWidth="100px">{{data.botException5Count}}</td>
      <td nzWidth="100px">{{data.botException6Count}}</td>
      <td nzWidth="100px">{{data.botException7Count}}</td>
      <td nzWidth="100px">{{data.botException8Count}}</td>
      <td nzWidth="100px">{{data.botException9Count}}</td>
      <td nzWidth="100px">{{data.botException10Count}}</td>
      <td nzWidth="100px">{{data.botException11Count}}</td>
    </tr>
  </tbody>
</nz-table>
