<div id="tech-m">
    <div id="tech-container">
        <div id="tech-main" [class.tech-left-zh]="language == 'zh'" [class.tech-left-en]="language == 'en'">
            <h3>{{nowTech.mainTitle}}</h3>
            <p>{{nowTech.mainSub}}</p>
            <ul id="tech-menu">
                <li *ngFor="let tech of nowTech.pages; let i = index" [class.tech-menu-active]="i == nowIndex" class="tech-menu-inner" (click)="changeTechAndShow(i)">
                    <img [src]="tech.icon" [alt]="tech.name">
                    <p>{{tech.name}}</p>
                </li>
            </ul>
        </div>
        <div id="tech-carousel" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" (panstart)="onPanStart($event)"
            (panmove)="onPan($event)">
            <div id="tech-carousel-inner">
                <!-- <div class="location">({{x}}, {{y}})</div> -->
                <div id="tech-detail" [class.tech-detail-zh]="language == 'zh'" [class.tech-detail-en]="language == 'en'">
                    <h4>{{nowTechSingle.title}}</h4>
                    <h5>{{nowTechSingle.sub}}</h5>
                    <p>{{nowTechSingle.desc}}</p>
                </div>
                <div id="tech-switch">
                    <ul>
                        <li *ngFor="let tech of nowTech.pages; let i = index" [class.tech-switch-active]="i == nowIndex" (click)="changeTechAndShow(i)">　</li>
                    </ul>
                </div>
                <div id="tech-close" (click)="closePan()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</div>
