<div id="tech">
    <div id="tech-container">
        <div id="tech-left" [class.tech-left-zh]="language == 'zh'" [class.tech-left-en]="language == 'en'">
            <h3>{{nowTech.mainTitle}}</h3>
            <p>{{nowTech.mainSub}}</p>
            <ul id="tech-menu">
                <li *ngFor="let tech of nowTech.pages; let i = index" [class.tech-menu-active]="i == nowIndex" class="tech-menu-inner" (click)="changeTech(i)">
                    <img [src]="tech.icon" [alt]="tech.name">
                    <p>{{tech.name}}</p>
                </li>
            </ul>
        </div>
        <div id="tech-right">
            <div id="tech-detail" [class.tech-detail-zh]="language == 'zh'" [class.tech-detail-en]="language == 'en'">
                <h4>{{nowTechSingle.title}}</h4>
                <h5>{{nowTechSingle.sub}}</h5>
                <p>{{nowTechSingle.desc}}</p>
            </div>
            <img id="tech-right-logo" src="/assets/img/brand_logo_gold.png">
        </div>
    </div>
</div>
