#tech-m {
    width: 100vw;
    margin: 0 auto;
    background-image: url(/assets/img/tech_bg_long.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #tech-container {
        --padding-a: 8vw;
        --padding-b: 5vw;
        position: relative;
        margin: 0 auto;
        padding-bottom: calc(var(--padding-a));
        #tech-main {
            position: relative;
            top: calc(var(--padding-a));
            left: calc(var(--padding-a));
            margin-bottom: calc(var(--padding-a));
            width: calc(100vw - var(--padding-a) * 2);
            padding: calc(var(--padding-b));
            background-color: gold;
            box-shadow: 5px 5px 50px #cccccc;
            z-index: 1;
            h3 {
                font-size: 5rem;
                margin-bottom: calc(var(--padding-b));
            }
            p {
                font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
                font-size: 3rem;
                font-weight: 100;
                line-height: 5rem;
                letter-spacing: 1px;
                margin-bottom: calc(var(--padding-b) * 0.5);
            }
            #tech-menu {
                width: 100%;
                padding-left: 0;
                list-style-type: none;
                .tech-menu-inner {
                    --item-size: calc((100vw - var(--padding-a) * 2 - var(--padding-b) * 2) /3);
                    display: inline-block;
                    position: relative;
                    width: calc(var(--item-size));
                    height: calc((100vw - var(--padding-a) * 2 - var(--padding-b) * 2) / 3);
                    margin: 0;
                    text-align: center;
                    img {
                        display: inline-block;
                        margin-top: 15px;
                        width: calc(var(--item-size) * 0.6);
                        padding: 0;
                        animation-iteration-count: infinite;
                    }
                    P {
                        margin: 0;
                        color: #ffffff;
                        font-weight: lighter;
                        text-align: center;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
        .tech-left-zh {
            font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
        }
        .tech-left-en {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
        }
        #tech-carousel {
            position: fixed;
            top: calc(8rem + 1vh * 2);
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
            #tech-carousel-inner {
                position: relative;
                height: calc(100vh - (var(--padding-b) * 4) - (8rem + 1vh * 2));
                z-index: 11;
                margin: calc(var(--padding-b) * 2) calc(var(--padding-b));
                padding: calc(var(--padding-b) * 3) calc(var(--padding-b)* 1.5);
                background-color: white;
                box-shadow: 0 0 50px 3vw rgba(0, 0, 0, 0.4);
                #tech-detail {
                    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
                    h4 {
                        font-size: 7rem;
                        font-weight: 400;
                        letter-spacing: 4px;
                        margin-bottom: calc(var(--padding-b));
                    }
                    h5 {
                        font-size: 3.6rem;
                        font-weight: 100;
                        line-height: 6rem;
                        letter-spacing: 2px;
                        margin-bottom: calc(var(--padding-b));
                        color: black;
                    }
                    p {
                        font-size: 3.6rem;
                        font-weight: 100;
                        line-height: 6rem;
                        color: gray;
                        letter-spacing: 2px;
                    }
                }
                #tech-switch {
                    --padding-c: 10vw; // offset
                    position: absolute;
                    left: calc((100vw - 56vw) / 2 - var(--padding-b) + var(--padding-c));
                    bottom: calc(var(--padding-b) * 2);
                    font-size: 8rem;
                    color: gold;
                    text-align: center;
                    width: 56vw;
                    margin: 0 auto;
                    li {
                        float: left;
                        opacity: 0.5;
                        width: 8vw;
                    }
                    .tech-switch-active {
                        opacity: 1;
                    }
                }
                img#tech-right-logo {
                    position: absolute;
                    height: 10rem;
                    top: calc(var(--padding-b) * 2.8);
                    right: calc(var(--padding-b) * 2);
                }
            }
            #tech-detail-bg {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: gold;
                opacity: 0.5;
            }
        }
    }
}
