#career-m {
    width: 100vw;
    margin: 0 auto;
    margin-top: calc(8rem + 1vh * 2);
    min-height: calc(100vh - (8rem + 1vh * 2));
    background-image: url(/assets/img/career_bg_long.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #career-container {
        --padding-a: 8vw;
        height: 100%;
        margin: 0 auto;
        padding: calc(var(--padding-a));
        color: lightgray;
        #career-title {
            margin-bottom: calc(var(--padding-a));
            text-align: center;
            small {
                font-size: 3rem;
            }
        }
        .career-title-zh {
            font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
            small {
                letter-spacing: 2px;
            }
        }
        .career-title-en {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            small {
                letter-spacing: 1px;
            }
        }
        #career-info {
            letter-spacing: 3px;
            font-size: 3rem;
            position: relative;
            .career-job-position-profix {
                color: #ffffff;
                font-size: 3rem;
            }
            div {
                color: lightgray;
                span {
                    color: white;
                }
            }
            #career-job-selected {
                position: relative;
                width: 100%;
                padding: calc(var(--padding-a) * 0.25) calc(var(--padding-a) * 0.5);
                background-color: rgba(255, 255, 255, 0.1);
                color: lightgray;
                #career-caret-down {
                    position: absolute;
                    right: calc(var(--padding-a) * 0.5);
                    color: gold;
                }
            }
            #career-job-menu {
                position: absolute;
                width: 100%;
                margin-top: calc(var(--padding-a) * 0.25);
                z-index: 2;
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    width: 100%;
                    li {
                        width: 100%;
                        padding: calc(var(--padding-a) * 0.25) calc(var(--padding-a) * 0.5);
                        border: solid 1px #ffffff;
                        margin-bottom: 3px;
                        background-color: rgba(9, 37, 59, 0.9);
                        &:hover {
                            background-color: gold;
                            color: black;
                            span {
                                color: black;
                            }
                        }
                    }
                }
            }
            #career-job-info {
                position: relative;
                overflow-y: scroll;
                overflow-x: hidden;
                margin-top: calc(var(--padding-a) * 0.25);
                padding: calc(var(--padding-a) * 0.25) calc(var(--padding-a) * 0.5);
                background-color: rgba(255, 255, 255, 0.1);
                font-size: 3rem;
                color: lightgray;
                font-weight: 100;
                line-height: 8rem;
                letter-spacing: 2px;
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
                    background-color: rgba(245, 245, 245, 0);
                }
                &::-webkit-scrollbar {
                    width: 10px;
                    background-color: rgba(245, 245, 245, 0);
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(245, 245, 245, 0.1);
                }
                h5 {
                    font-size: 3rem;
                    letter-spacing: 3px;
                    ;
                    color: #ffffff;
                }
                #career-job-resp {
                    width: 100%;
                    ul li {
                        font-size: 3rem;
                    }
                }
                #career-job-detail {
                    width: 100%;
                    margin-top: calc(var(--padding-a) * 0.5);
                    ul li {
                        font-size: 3rem;
                    }
                }
            }
        }
        .career-info-zh {}
        /*
        .career-info-en {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            letter-spacing: -2px;
            .career-job-position-profix {
                color: #ffffff;
            }
            div {
                color: lightgray;
                span {
                    color: white;
                }
            }
            #career-job-selected {
                position: relative;
                width: 500px;
                padding: 10px 25px;
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
                #career-caret-down {
                    position: absolute;
                    right: 15px;
                    color: gold;
                }
            }
            #career-job-menu {
                position: absolute;
                width: 500px;
                margin-top: 20px;
                z-index: 2;
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    li {
                        padding: 10px 25px;
                        border: solid 1px #ffffff;
                        margin-bottom: 3px;
                        background-color: rgba(9, 37, 59, 0.9);
                        &:hover {
                            background-color: gold;
                            color: black;
                            span {
                                color: black;
                            }
                        }
                    }
                }
            }
            #career-job-info {
                letter-spacing: 1px;
                h5 {
                    font-size: 14px;
                }
                #career-job-resp {
                    letter-spacing: 1px;
                }
                #career-job-detail {
                    letter-spacing: 1px;
                }
            }
        }
        */
        #career-hr {
            margin-top: calc(var(--padding-a));
            text-align: left;
            font-size: 3rem;
            a {
                color: gold;
                text-decoration: none;
            }
        }
        .career-hr-zh {
            letter-spacing: 3px;
        }
        .career-hr-en {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            letter-spacing: 1px;
        }
    }
}
