#header-m {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: mediumaquamarine;
    #header-m-brand {
        width:8vw !important;
    }
    mat-icon {
        font-size: 1
    }
    mat-menu {
        height:100vh !important;
        background-color: goldenrod;
    }
}

