<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                对话日志
                <small>列表</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">控制台</a>
                </li>
                <li class="active">
                    <i class="fa fa-file-text"></i> 对话日志
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    {{#if user.appkey}}
    <div id="log-alert-0">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> 点击即可查看对话详情
        </div>
    </div>
    <div id="log-alert-1" hidden>
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-close"></i> AJAX请求失败，请检查APP接入信息和网络连接。
        </div>
    </div>
    {{else}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> 当前用户没有APP对接信息，请在“APP管理”中进行关联，或联系管理员。
    </div>
    {{/if}}

    <div id="log-alert-1" hidden>
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-close"></i> AJAX请求失败，请检查网络。
        </div>
    </div>
    <div id="log-alert-2" hidden>
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i> <strong>使用遇到疑问？</strong>请联系<a href="https://www.linkedin.com/in/fangzhoulong/"
                class="alert-link">技术人员</a>寻求帮助！
        </div>
    </div>
    <!-- /.log-alert -->

    <!-- Page Heading -->
    <h1 class="page-header">
        <small id="log-result-header"></small>
    </h1>
    <!-- /.row -->

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group" id="log-result-context">
            </ul>
        </div>

        <div id="log-list-result-temp" class="list-group" style="display: none">
            <a href="log-detail?uid=$uid$&cid=$cid$" class="list-group-item">
                <span class="log-id"><span class="log-id-pound">#</span>$id$ </span>
                <span class="log-time">$timestamp$</span><br>
                <span class="log-app">$app$</span>
                <span class="log-nickname">　$nickname$</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default" id="log-first-page">首页</button>
            <button type="button" class="btn btn-default" id="log-prev-page">上一页</button>
            <button type="button" class="btn btn-default" id="log-next-page">下一页</button>
            <button type="button" class="btn btn-default" id="log-search">搜索</button>
            <div class="form-group" id="log-page-size">
                <label>每页显示</label>
                <select class="form-control" id="log-page-size-select">
                    <option>10</option>
                    <option>30</option>
                    <option>50</option>
                </select>
                <label>条</label>
            </div>
        </div>
    </div>

    <div style="display:none">
        <span id="appkey">{{user.appkey}}</span>
        <span id="appsecret">{{user.appsecret}}</span>
        <span id="uid">{{user._id}}</span>
    </div>

</div>
<!-- /.container-fluid -->