<app-left-nav></app-left-nav>
<div class="content" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large">
        <nz-tab [nzTitle]="contentTemplate" (nzClick)="changePanel('content')" *ngIf="commonService.haveMenuPermission('children', '版本更新')">
          <ng-template #contentTemplate><i class="anticon anticon-cloud-upload-o"></i>版本更新</ng-template>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="21"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showAddModal('content')"><i class="anticon anticon-file-add"></i>新增/修改APP版本</button>
            </div>
          </div>
          <nz-table #contentTable [nzData]="dataContent" *ngIf="!isSpinning">
            <thead>
              <tr>
                <th>序号</th>
                <th>标题</th>
                <th>副标题</th>
                <th>更新时间</th>
                <th>渠道</th>
                <th>下载链接</th>
                <th>文件大小</th>
                <th>系统类型</th>
                <th>版本</th>
                <th>允许的最低版本</th>
                <th>更新详情</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of contentTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.title}}</td>
                <td>{{data.sub_title}}</td>
                <td>{{data.update}}</td>
                <td>{{data.channel}}</td>
                <td>{{data.file}}</td>
                <td>{{data.size}}</td>
                <td>{{data.system_symbol}}</td>
                <td>{{data.version}}</td>
                <td>{{data.version_allowed}}</td>
                <td nzTitle="{{data.description}}" nzPlacement="bottom" nz-tooltip><a>{{data.description.length > 12 ? data.description.substring(0, 12) : data.description}}</a></td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <!-- 弹框 —— 新增 —— 新增内容 -->
          <nz-modal [(nzVisible)]="visiable.addContent" nzWidth="1150" nzTitle="新增/修改APP版本" [nzFooter]="addContentModalFooter" (nzOnCancel)="hideModal('content')" nzMaskClosable="false">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="16">
                <form [formGroup]="addContentForm">
                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*渠道：</div>
                    <div nz-col nzSpan="12" class="span_down">
                      {{this.commonService.AppHeaderAllow[this.commonService.currentChanelId]}}
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*系统类型：</div>
                    <div nz-col nzSpan="12">
                      <nz-radio-group [(ngModel)]="contentDate.system_symbol" formControlName="system_symbol">
                        <label nz-radio nzValue="ANDROID">安卓</label>
                        <label nz-radio nzValue="IOS">IOS</label>
                      </nz-radio-group>
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*标题：</div>
                    <div nz-col nzSpan="12">
                      <input nz-input formControlName="title" [(ngModel)]="contentDate.title" placeholder="请输入标题" nzSize="default">
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*副标题：</div>
                    <div nz-col nzSpan="12">
                      <input nz-input formControlName="sub_title" [(ngModel)]="contentDate.sub_title" placeholder="请输入副标题" nzSize="default">
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*版本：</div>
                    <div nz-col nzSpan="12">
                      <input nz-input formControlName="version" [(ngModel)]="contentDate.version" placeholder="请输入版本（不需要输入 V 或 v）" nzSize="default">
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*允许的最低版本：</div>
                    <div nz-col nzSpan="12">
                      <input nz-input formControlName="version_allowed" [(ngModel)]="contentDate.version_allowed" placeholder="请输入允许的最低版本（不需要输入 V 或 v）" nzSize="default">
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*下载链接：</div>
                    <div nz-col nzSpan="12">
                      <input nz-input formControlName="file" [(ngModel)]="contentDate.file"
                        placeholder="请输入下载链接" nzSize="default">
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*文件大小：</div>
                    <div nz-col nzSpan="12">
                      <input nz-input formControlName="size" [(ngModel)]="contentDate.size"
                        placeholder="请输入文件大小(单位：kb)" nzSize="default">
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                  <div nz-row class="search_panel">
                    <div nz-col nzSpan="3"></div>
                    <div nz-col nzSpan="5" class="span_down right_alignment">*更新详情：</div>
                    <div nz-col nzSpan="12">
                      <textarea rows="4" formControlName="description" [(ngModel)]="contentDate.description" nz-input placeholder="请输入更新详情" (ngModelChange)="onChange('description')"></textarea>
                    </div>
                    <div nz-col nzSpan="4"></div>
                  </div>

                </form>
              </div>
              <div nz-col nzSpan="6" class="content_p">
                <div nz-row class="search_panel top_p">
                  <div nz-col nzSpan="24" class="span_down"><b>{{this.commonService.AppHeaderAllow[this.commonService.currentChanelId]}}新版本{{contentDate.version}}</b><br>{{contentDate.title}}</div>
                </div>
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="24" class="span_down title_p">最新版本：V{{contentDate.version}}<br>更新大小：{{(contentDate.size/1024).toFixed(2)}} MB<br>更新内容：</div>
                </div>
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="24" class="span_down title_p" [innerHTML]="tempContent"></div>
                </div>
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="24" class="span_down">
                    <button nz-button nzType="primary" class="bottom_but">立即更新</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 弹框和底部定制 -->
            <ng-template #addContentModalFooter>
              <button nz-button nzType="primary" (click)="doSave('content')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('content')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab [nzTitle]="shareTemplate" (nzClick)="changePanel('share')" *ngIf="commonService.haveMenuPermission('children', '分享文案')">
          <ng-template #shareTemplate><i class="anticon anticon-share-alt"></i>分享文案</ng-template>
          <div nz-row class="search_panel">
            <form [formGroup]="shareForm">

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3" class="span_down" style="font-size: 20px;font-weight: bold;">微信分享</div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">标题：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="wechatTitle" [(ngModel)]="dataShare.wechatTitle" *ngIf="isSaveShareButton" placeholder="输入标题" nzSize="default">
                  {{!isSaveShareButton ? dataShare.wechatTitle : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">内容：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <textarea rows="5" nz-input formControlName="wechatContent" [(ngModel)]="dataShare.wechatContent" *ngIf="isSaveShareButton" placeholder="请输入内容" nzSize="default"></textarea>
                  {{!isSaveShareButton ? dataShare.wechatContent : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down right_alignment"><i class="anticon anticon-add"></i>
                  分享图片：
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="21">
                  <nz-upload [(nzFileList)]="fileList" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button (click)="choosePng('0')" nzType="primary" [disabled]="!isSaveShareButton">
                      <i class="anticon anticon-upload"></i><span>上传图片</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：90*90&nbsp;&nbsp;限制大小：32K</font>
                  </nz-upload>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="shareImageUrl01 !== ''">
                <div nz-col nzSpan="2" class="span_down right_alignment"></div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="21">
                  <img *ngIf="shareImageUrl01" [src]="shareImageUrl01" class="image-panel">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：90*90&nbsp;&nbsp;限制大小：32K</font>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">域名路径：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input formControlName="wechatHost" [(ngModel)]="dataShare.wechatHost" *ngIf="isSaveShareButton" placeholder="请输入域名路径" nzSize="default">
                  {{!isSaveShareButton ? dataShare.wechatHost : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">跳转链接：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input formControlName="wechatUrl" [(ngModel)]="dataShare.wechatUrl" *ngIf="isSaveShareButton" placeholder="请输入跳转链接" nzSize="default">
                  {{!isSaveShareButton ? dataShare.wechatUrl : ''}}
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3" class="span_down" style="font-size: 20px;font-weight: bold;">复制链接</div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">标题：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="linkTitle" [(ngModel)]="dataShare.linkTitle" *ngIf="isSaveShareButton" placeholder="输入标题" nzSize="default">
                  {{!isSaveShareButton ? dataShare.linkTitle : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">域名路径：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input formControlName="linkHost" [(ngModel)]="dataShare.linkHost" *ngIf="isSaveShareButton" placeholder="输入域名路径" nzSize="default">
                  {{!isSaveShareButton ? dataShare.linkHost : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">跳转链接：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input formControlName="linkUrl" [(ngModel)]="dataShare.linkUrl" *ngIf="isSaveShareButton" placeholder="输入跳转链接" nzSize="default">
                  {{!isSaveShareButton ? dataShare.linkUrl : ''}}
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="20"></div>
                <div nz-col nzSpan="2" *ngIf="!isSaveShareButton"></div>
                <div nz-col nzSpan="2">
                  <button *ngIf="!isSaveShareButton" nz-button nzType="primary" (click)="doSave('editShare')"><i class="anticon anticon-form"></i>编辑</button>
                  <button *ngIf="isSaveShareButton" nz-button nzType="primary" (click)="doSave('share')"><i class="anticon anticon-save"></i>保存</button>
                </div>
                <div nz-col nzSpan="2" *ngIf="isSaveShareButton">
                  <button nz-button nzType="primary" (click)="hideModal('share')"><i class="anticon anticon-close-circle-o"></i>取消</button>
                </div>
              </div>
            </form>
          </div>
        </nz-tab>

        <nz-tab [nzTitle]="guideTemplate" (nzClick)="changePanel('guide')" *ngIf="commonService.haveMenuPermission('children', '引导语模板')">
          <ng-template #guideTemplate><i class="anticon anticon-tag-o"></i>引导语模板</ng-template>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="21"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showAddModal('guide')"><i class="anticon anticon-file-add"></i>新增模板</button>
            </div>
          </div>
          <nz-table #guideTable [nzData]="dataGuide" *ngIf="!isSpinning">
            <thead>
              <tr>
                <th>序号</th>
                <th>模板类型</th>
                <th>模板名称</th>
                <th>启用状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of guideTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.type === 'BEGINNNER_GUIDE' ? '新手引导' : '活动推荐'}}</td>
                <td>{{data.name}}</td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-switch [(ngModel)]="data.enabled" (click)="clickSwitch(data, 'guide')"></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <button nz-button nzType="primary" (click)="showModifyModal(data, 'guide')" style="margin-right: 10px;"><i class="anticon anticon-form"></i>编辑</button>
                  <button nz-button nzType="primary" (click)="showDeleteModal(data.id, 'guide')" style="margin-right: 10px;"><i class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addGuide || visiable.modifyGuide" nzWidth="950" nzTitle="{{isModifyGuideVisible ? '修改模板' : '新增模板'}}" [nzFooter]="addGuideModalFooter" (nzOnCancel)="hideModal('guide')" nzMaskClosable="false">
            <form [formGroup]="addGuideForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  模板名称：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="name" [(ngModel)]="guideDate.name" placeholder="请输入模板名称" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  模板类型：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  <nz-radio-group [(ngModel)]="guideDate.type" formControlName="type">
                    <label nz-radio nzValue="BEGINNNER_GUIDE">新手引导</label>
                    <label nz-radio nzValue="percentage_discount" [nzDisabled]="true">活动推荐</label>
                  </nz-radio-group>
                </div>
              </div>
            </form>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">
                对话配置：
              </div>
              <div nz-col nzSpan="12" class="span_down">
                APP对用户说的话
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('guide_message')"><i class="anticon anticon-file-add"></i>添加</button>
              </div>
            </div>
            <ng-container *ngFor="let item of guideItem.messageArr; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="12" class="span_down">
                  <textarea rows="3" nz-input [ngModel]="guideItem.messageArr[i].text" (ngModelChange)="onInputChange($event, 'messageText', i)" nzSize="default"></textarea>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="guideItem.messageArr[i].sort" (ngModelChange)="onInputChange($event, 'messageSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'guide_message')"><i class="anticon anticon-delete"></i>删除</button>
                </div>
              </div>
            </ng-container>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">
                表单配置：
              </div>
              <div nz-col nzSpan="12" class="span_down">
                点击后，替用户，在对话框输入对应内容
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('guide_button')"><i class="anticon anticon-file-add"></i>添加</button>
              </div>
            </div>
            <ng-container *ngFor="let item of guideItem.buttonArr; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="12" class="span_down">
                  <textarea rows="3" nz-input [ngModel]="guideItem.buttonArr[i].text" (ngModelChange)="onInputChange($event, 'buttonText', i)" nzSize="default"></textarea>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="guideItem.buttonArr[i].sort" (ngModelChange)="onInputChange($event, 'buttonSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'guide_button')"><i class="anticon anticon-delete"></i>删除</button>
                </div>
              </div>
            </ng-container>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">
                图片配置：
              </div>
              <div nz-col nzSpan="12" class="span_down">
                点击后，可自动配置跳转方式
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('guide_image')"><i class="anticon anticon-file-add"></i>添加</button>
              </div>
            </div>
            <ng-container *ngFor="let item of guideItem.imageArr; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="12">
                  <nz-upload [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button nzType="primary">
                      <i class="anticon anticon-upload"></i><span>选择文件</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：702px*400px&nbsp;&nbsp;限制大小：500K</font>
                  </nz-upload>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="guideItem.imageArr[i].sort" (ngModelChange)="onInputChange($event, 'imageSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'guide_image')"><i class="anticon anticon-delete"></i>删除</button>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="fileList.length >= 1">
                <div nz-col nzSpan="4" class="span_down right_alignment"></div>
                <div nz-col nzSpan="12">
                  <img *ngIf="showImageUrl" [src]="showImageUrl" class="image-panel">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：702px*400px&nbsp;&nbsp;限制大小：500K</font>
                </div>
                <div nz-col nzSpan="5"></div>
                <div nz-col nzSpan="1"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  跳转位置：
                </div>
                <div nz-col nzSpan="12">
                  <nz-select [(ngModel)]="guideDate.jumpType" (ngModelChange)="onInputChange($event, 'imageJumpType', i)">
                    <nz-option required [nzLabel]="'不跳转&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'" [nzValue]="'DISABLE'"></nz-option>
                    <nz-option required [nzLabel]="'跳转到网页'" [nzValue]="'WEB'"></nz-option>
                    <nz-option required [nzLabel]="'跳转到APP'" [nzValue]="'APP'"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="guideDate.jumpType === 'APP'">
                <div nz-col nzSpan="4" class="span_down right_alignment">APP标识：</div>
                <div nz-col nzSpan="20">
                  <nz-select [(ngModel)]="guideDate.appDestinationType" (ngModelChange)="onInputChange($event, 'imageAppDestinationType', i)">
                    <nz-option required [nzLabel]="'个人中心---------------------------------'" [nzValue]="'PERSONAL_CENTER'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 设置-------------------------'" [nzValue]="'SETTINGS'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 我的订单--------------------'" [nzValue]="'ORDER_LIST'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 常用信息--------------------'" [nzValue]="'GENERAL_INFO'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 我的账户 > 充值------------'" [nzValue]="'CHARGE'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 我的账户--------------------'" [nzValue]="'ACCOUNT'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 联系我们 > 我的建议-------'" [nzValue]="'ADVICE'"></nz-option>
                    <nz-option required [nzLabel]="'对话流 > 帮助----------------------------'" [nzValue]="'HELP'"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="guideDate.jumpType === 'WEB'">
                <div nz-col nzSpan="4" class="span_down right_alignment">链接地址：</div>
                <div nz-col nzSpan="12">
                  <input nz-input [(ngModel)]="guideDate.webUrl" (ngModelChange)="onInputChange($event, 'imageWebUrl', i)" placeholder="请输入链接地址" nzSize="default">
                </div>
              </div>
            </ng-container>
            <ng-template #addGuideModalFooter>
              <button nz-button nzType="primary" (click)="doSave('guide')"><i class="anticon anticon-save"></i>确定</button>
              <button nz-button nzType="default" (click)="hideModal('guide')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab [nzTitle]="helpTemplate" (nzClick)="changePanel('help')" *ngIf="commonService.haveMenuPermission('children', '帮助管理')">
          <ng-template #helpTemplate><i class="anticon anticon-question-circle-o"></i>帮助管理</ng-template>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="21"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showAddModal('help')"><i class="anticon anticon-file-add"></i>新增技能</button>
            </div>
          </div>
          <nz-table #helpTable [nzData]="dataHelp" *ngIf="!isSpinning">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">技能名称</th>
                <th nzWidth="20px">技能ICON</th>
                <th nzWidth="20px">技能类别</th>
                <th nzWidth="20px">技能排序</th>
                <th nzWidth="20px">跳转话术</th>
                <th nzWidth="20px">启用状态</th>
                <th nzWidth="20px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of helpTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td><img [src]="commonService.baseUrl.substring(0, commonService.baseUrl.indexOf('/admin')) + '/v1/cms/skills/images/' + data.image" class="thumbnail" style="width: 32px"></td>
                <td>{{data.type === 'TRAVEL'? '出行' : data.type === 'LIFE' ? '生活' : data.type === 'AMUSEMENT' ? '娱乐' : data.type === 'TOOL' ? '工具' : 'null'}}</td>
                <td>{{data.order}}</td>
                <td nzTitle="【{{data.guides.join('】、【')}}】" nzPlacement="bottom" nz-tooltip><a>{{data.guides[0]}}</a></td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-switch [(ngModel)]="data.enabled" (click)="clickSwitch(data, 'help')"></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <button nz-button nzType="primary" (click)="showModifyModal(data, 'help')" style="margin-right: 10px;"><i
                      class="anticon anticon-form"></i>编辑</button>
                  <button nz-button nzType="primary" (click)="showDeleteModal(data.id, 'help')" style="margin-right: 10px;"><i
                      class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addHelp" nzWidth="1150" nzTitle="新增技能" [nzFooter]="addHelpModalFooter" (nzOnCancel)="hideModal('addHelp')" nzMaskClosable="false">
            <form [formGroup]="addHelpForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能名称：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="name" [(ngModel)]="helpDate.name" placeholder="请输入技能标题" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment"><i class="anticon anticon-add"></i>
                  <font color="red">*</font>技能icon：
                </div>
                <div nz-col nzSpan="16">
                  <nz-upload [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i class="anticon anticon-upload"></i><span>选择文件</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：50K</font>
                  </nz-upload>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="fileList.length == 1">
                <div nz-col nzSpan="4" class="span_down right_alignment"></div>
                <div nz-col nzSpan="16">
                  <img *ngIf="imageUrl" [src]="showImageUrl" class="image-panel">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：150K</font>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  技能类型：
                </div>
                <div nz-col nzSpan="16" class="span_down">
                  <nz-radio-group [(ngModel)]="helpType" formControlName="type">
                    <label nz-radio nzValue="TRAVEL">出行</label>
                    <label nz-radio nzValue="LIFE">生活</label>
                    <label nz-radio nzValue="AMUSEMENT">娱乐</label>
                    <label nz-radio nzValue="TOOL">工具</label>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能排序：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="order" [(ngModel)]="helpDate.order" placeholder="请输入技能排序，数字越大，技能排序越靠前" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>外部跳转编辑：
                </div>
                <div nz-col nzSpan="16">
                  <textarea formControlName="guides" [(ngModel)]="helpDate.guides" placeholder="技能话术至少填写3句&#13;&#10;每句限制20字符&#13;&#10;以换行进行区分" rows="10" nz-input></textarea>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">技能介绍：</div>
                <div nz-col nzSpan="16">
                  <quill-editor formControlName="describe" [(ngModel)]="helpDate.describe" [modules]="config" [style]="{height: '350px'}"></quill-editor>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">详情页编辑：</div>
                <div nz-col nzSpan="16">
                  <quill-editor formControlName="details" [(ngModel)]="helpDate.details" [modules]="config" [style]="{height: '350px'}"></quill-editor>
                </div>
              </div>
            </form>
            <ng-template #addHelpModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addHelp')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addHelp')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.modifyHelp" nzWidth="1150" nzTitle="修改技能" [nzFooter]="modifyHelpModalFooter" (nzOnCancel)="hideModal('modifyHelp')" nzMaskClosable="false">
            <form [formGroup]="modifyHelpForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能名称：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="name" [(ngModel)]="helpDate.name" placeholder="请输入技能标题" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment"><i class="anticon anticon-add"></i>
                  <font color="red">*</font>技能icon：
                </div>
                <div nz-col nzSpan="16">
                  <nz-upload [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i class="anticon anticon-upload"></i><span>选择文件</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：50K</font>
                  </nz-upload>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="fileList.length == 1">
                <div nz-col nzSpan="4" class="span_down right_alignment"></div>
                <div nz-col nzSpan="16">
                  <img *ngIf="imageUrl" [src]="showImageUrl" class="image-panel">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：150K</font>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  技能类型：
                </div>
                <div nz-col nzSpan="16" class="span_down">
                  <nz-radio-group [(ngModel)]="helpType" formControlName="type">
                    <label nz-radio nzValue="TRAVEL">出行</label>
                    <label nz-radio nzValue="LIFE">生活</label>
                    <label nz-radio nzValue="AMUSEMENT">娱乐</label>
                    <label nz-radio nzValue="TOOL">工具</label>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能排序：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="order" type="text" [(ngModel)]="helpDate.order" placeholder="请输入技能排序，数字越大，技能排序越靠前" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>外部跳转编辑：
                </div>
                <div nz-col nzSpan="16">
                  <textarea formControlName="guides" [(ngModel)]="helpDate.guideArr" placeholder="技能话术至少填写3句&#13;&#10;每句限制20字符&#13;&#10;以换行进行区分" rows="10" nz-input></textarea>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">技能介绍：</div>
                <div nz-col nzSpan="16">
                  <quill-editor formControlName="describe" [(ngModel)]="helpDate.describe" [modules]="config" [style]="{height: '350px'}"></quill-editor>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">详情页编辑：</div>
                <div nz-col nzSpan="16">
                  <quill-editor formControlName="details" [(ngModel)]="helpDate.details" [modules]="config" [style]="{height: '350px'}"></quill-editor>
                </div>
              </div>
            </form>
            <ng-template #modifyHelpModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyHelp')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('modifyHelp')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>
        </nz-tab>

        <nz-tab [nzTitle]="protocolTemplate" (nzClick)="changePanel('protocol')" *ngIf="commonService.haveMenuPermission('children', '协议管理')">
          <ng-template #protocolTemplate><i class="anticon anticon-info-circle-o"></i>协议与介绍管理</ng-template>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="24">
              <nz-radio-group [(ngModel)]="currentProtocol" (ngModelChange)="chooseProtocol($event)">
                <label nz-radio nzValue="1">火车退票/改签协议</label>
                <label nz-radio nzValue="2">火车票服务协议</label>
                <!-- <label nz-radio nzValue="3">机票退改及行李额说明</label> -->
                <label nz-radio nzValue="4">关于我们</label>
                <label nz-radio nzValue="5">版本更新说明</label>
                <label nz-radio nzValue="6">版本功能介绍</label>
                <label nz-radio nzValue="7">开票说明</label>
                <label nz-radio nzValue="8">充值协议</label>
                <label nz-radio nzValue="9">小额免密</label>
                <label nz-radio nzValue="10">币和豆</label>
                <label nz-radio nzValue="11">隐私协议</label>
                <label nz-radio nzValue="12">用户协议</label>
                <label nz-radio nzValue="13">闪送重量说明</label>
                <label nz-radio nzValue="14">闪送服务协议</label>
                <label nz-radio nzValue="15">用车服务协议</label>
                <label nz-radio nzValue="16">话费服务协议</label>
                <label nz-radio nzValue="17">电影票服务协议</label>
                <label nz-radio nzValue="18">关于你好小悟</label>
                <label nz-radio nzValue="19"><a>用户服务协议</a></label>
                <label nz-radio nzValue="20">任务说明</label>
                <label nz-radio nzValue="21">三基交游付费说明</label>
              </nz-radio-group>
            </div>
          </div>
          <div nz-row class="search_panel">
            <form [formGroup]="addProtocolForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="24" *ngIf="!isSaveProtocolButton">
                  <textarea formControlName="content" [(ngModel)]="dataProtocol" disabled rows="20" nz-input style="background-color: #f5f5f5"></textarea>
                </div>
                <div nz-col nzSpan="24" *ngIf="isSaveProtocolButton">
                  <quill-editor formControlName="content" [(ngModel)]="dataProtocol" [modules]="config" [style]="{height: '350px'}"></quill-editor>
                </div>
              </div>
            </form>
          </div>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="2">
              <button *ngIf="!isSaveProtocolButton" nz-button nzType="primary" (click)="doSave('editProtocol', '')"><i class="anticon anticon-form"></i>编辑</button>
              <button *ngIf="isSaveProtocolButton" nz-button nzType="primary" (click)="doSave('saveProtocol', '')"><i class="anticon anticon-save"></i>保存</button>
            </div>
            <div nz-col nzSpan="2" *ngIf="isSaveProtocolButton">
              <button nz-button nzType="primary" (click)="hideModal('protocol')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="doSave('previewProtocol', '')"><i class="anticon anticon-eye-o"></i>预览</button>
            </div>
          </div>
        </nz-tab>

        <nz-tab [nzTitle]="flowPointTemplate" (nzClick)="changePanel('flowPoint')" *ngIf="commonService.haveMenuPermission('children', '流程点引导')">
          <ng-template #flowPointTemplate><i class="anticon anticon-customer-service"></i>流程点引导</ng-template>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="19">
              <nz-radio-group [(ngModel)]="flowPointBotName">
                <label nz-radio nzValue="">全部</label>
                <label nz-radio nzValue="FLIGHT">机票</label>
                <label nz-radio nzValue="TRAIN">火车票</label>
                <label nz-radio nzValue="HOTEL">酒店</label>
                <label nz-radio nzValue="NAVIGATION">导航</label>
                <label nz-radio nzValue="TAXI">打车</label>
                <label nz-radio nzValue="MOVIE">电影票</label>
                <label nz-radio nzValue="ERRAND">闪送</label>
                <label nz-radio nzValue="WEATHER">天气</label>
                <label nz-radio nzValue="MUSIC">音乐</label>
                <label nz-radio nzValue="CALL">打电话</label>
                <label nz-radio nzValue="MOBILE_RECHARGE">充话费</label>
                <label nz-radio nzValue="RECHARGE">充值</label>
                <label nz-radio nzValue="NEWS">新闻</label>
                <label nz-radio nzValue="HOROSCOPE">星座</label>
                <label nz-radio nzValue="CHAT">闲聊</label>
                <label nz-radio nzValue="OTHER">其他</label>
              </nz-radio-group>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('flowPoint')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showAddModal('flowPoint')"><i class="anticon anticon-file-add"></i>新建流程点</button>
            </div>
          </div>
          <nz-table #flowPointTable [nzData]="dataFlowPoint" *ngIf="!isSpinning">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">bot功能</th>
                <th nzWidth="20px">流程点名称</th>
                <th nzWidth="20px">对应后台返回话术</th>
                <th nzWidth="20px">指引语</th>
                <th nzWidth="20px">修改时间</th>
                <th nzWidth="20px">启用状态</th>
                <th nzWidth="20px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of flowPointTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.botName === 'FLIGHT' ? '机票' : data.botName === 'TRAIN' ? '火车票' : data.botName === 'HOTEL' ? '酒店' : data.botName === 'NAVIGATION' ? '导航' : data.botName === 'TAXI' ? '打车' : data.botName === 'MOVIE' ? '电影票' : data.botName === 'ERRAND' ? '闪送' : data.botName === 'WEATHER' ? '天气' : data.botName === 'MUSIC' ? '音乐' : data.botName === 'CALL' ? '打电话' : data.botName === 'MOBILE_RECHARGE' ? '充话费' : data.botName === 'RECHARGE' ? '充值' : data.botName === 'NEWS' ? '新闻' : data.botName === 'HOROSCOPE' ? '星座' : data.botName === 'CHAT' ? '闲聊' : data.botName === 'OTHER' ? '其他' : data.botName}}</td>

                <!-- <label nz-radio nzValue="MOBILE_RECHARGE">充话费</label>
                <label nz-radio nzValue="RECHARGE">充值</label> -->
                <td>{{data.process}}</td>
                <td nzTitle="{{data.botMsg ? data.botMsg : ''}}" nzPlacement="bottom" nz-tooltip><a>{{data.botMsg ? data.botMsg.substring(0, 8) + '…' : ''}}</a></td>
                <td nzTitle="{{data.guideArr ? data.guideArr : ''}}" nzPlacement="bottom" nz-tooltip><a>{{data.guideArr ? data.guideArr[0] : ''}}</a></td>
                <td>{{data.mtime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-switch [(ngModel)]="data.status" (click)="clickSwitch(data, 'flowPoint')"></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <button nz-button nzType="primary" (click)="showModifyModal(data, 'modifyFlowPoint')" style="margin-right: 10px;"><i
                      class="anticon anticon-form"></i>编辑</button>
                  <button nz-button nzType="primary" (click)="showDeleteModal(data.id, 'flowPoint')" style="margin-right: 10px;"><i
                      class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <!-- 弹框 —— 新增 —— 新增流程点引导 -->
          <nz-modal [(nzVisible)]="visiable.addFlowPoint" nzWidth="750" nzTitle="新增流程点引导" [nzFooter]="addFlowPointModalFooter" (nzOnCancel)="hideModal('addFlowPoint')" nzMaskClosable="false">
            <form [formGroup]="addFlowPointForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">bot选择：</div>
                <div nz-col nzSpan="12" class="span_down">
                  <nz-radio-group [(ngModel)]="flowPointDate.botName" formControlName="botName">
                    <label nz-radio nzValue="FLIGHT">机票</label>
                    <label nz-radio nzValue="TRAIN">火车票</label>
                    <label nz-radio nzValue="HOTEL">酒店</label>
                    <label nz-radio nzValue="NAVIGATION">导航</label>
                    <label nz-radio nzValue="TAXI">打车</label>
                    <label nz-radio nzValue="MOVIE">电影票</label>
                    <label nz-radio nzValue="ERRAND">闪送</label>
                    <label nz-radio nzValue="WEATHER">天气</label>
                    <label nz-radio nzValue="MUSIC">音乐</label>
                    <label nz-radio nzValue="CALL">打电话</label>
                    <label nz-radio nzValue="MOBILE_RECHARGE">充话费</label>
                    <label nz-radio nzValue="RECHARGE">充值</label>
                    <label nz-radio nzValue="NEWS">新闻</label>
                    <label nz-radio nzValue="HOROSCOPE">星座</label>
                    <label nz-radio nzValue="CHAT">闲聊</label>
                    <label nz-radio nzValue="OTHER">其他</label>
                  </nz-radio-group>
                </div>
                <div nz-col nzSpan="8"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">流程点名称：</div>
                <div nz-col nzSpan="18">
                  <input nz-input formControlName="process" [(ngModel)]="flowPointDate.process" placeholder="请输入流程点名称" nzSize="default">
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">对应后台话术：</div>
                <div nz-col nzSpan="18">
                  <input nz-input formControlName="botMsg" [(ngModel)]="flowPointDate.botMsg" placeholder="请输入对应后台话术" nzSize="default">
                </div>
              </div>
            </form>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">指引语设置：</div>
              <div nz-col nzSpan="10" class="span_down">
                APP对用户说的话
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('flow_guides')"><i class="anticon anticon-file-add"></i>添加</button>
              </div>
              <div nz-col nzSpan="2"></div>
            </div>
            <ng-container *ngFor="let item of flowPointDate.guides; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="10" class="span_down">
                  <textarea rows="3" nz-input [ngModel]="flowPointDate.guides[i].text" (ngModelChange)="onInputChange($event, 'flowGuide', i)" nzSize="default"></textarea>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="flowPointDate.guides[i].sort" (ngModelChange)="onInputChange($event, 'flowSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'flow_guides')"><i class="anticon anticon-delete"></i>删除</button>
                </div>
                <div nz-col nzSpan="2"></div>
              </div>
            </ng-container>

            <!-- 弹框和底部定制 -->
            <ng-template #addFlowPointModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addFlowPoint')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addFlowPoint')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <!-- 弹框 —— 修改 —— 修改流程点引导 -->
          <nz-modal [(nzVisible)]="visiable.modifyFlowPoint" nzWidth="750" nzTitle="修改流程点引导" [nzFooter]="modifyFlowPointModalFooter" (nzOnCancel)="hideModal('modifyFlowPoint')" nzMaskClosable="false">
            <form [formGroup]="modifyFlowPointForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">bot选择：</div>
                <div nz-col nzSpan="12" class="span_down">
                  <nz-radio-group [(ngModel)]="flowPointDate.botName" formControlName="botName">
                    <label nz-radio nzValue="FLIGHT">机票</label>
                    <label nz-radio nzValue="TRAIN">火车票</label>
                    <label nz-radio nzValue="HOTEL">酒店</label>
                    <label nz-radio nzValue="NAVIGATION">导航</label>
                    <label nz-radio nzValue="TAXI">打车</label>
                    <label nz-radio nzValue="MOVIE">电影票</label>
                    <label nz-radio nzValue="ERRAND">闪送</label>
                    <label nz-radio nzValue="WEATHER">天气</label>
                    <label nz-radio nzValue="MUSIC">音乐</label>
                    <label nz-radio nzValue="CALL">打电话</label>
                    <label nz-radio nzValue="MOBILE_RECHARGE">充话费</label>
                    <label nz-radio nzValue="RECHARGE">充值</label>
                    <label nz-radio nzValue="NEWS">新闻</label>
                    <label nz-radio nzValue="HOROSCOPE">星座</label>
                    <label nz-radio nzValue="CHAT">闲聊</label>
                    <label nz-radio nzValue="OTHER">其他</label>
                  </nz-radio-group>
                </div>
                <div nz-col nzSpan="8"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">流程点名称：</div>
                <div nz-col nzSpan="18">
                  <input nz-input formControlName="process" [(ngModel)]="flowPointDate.process" placeholder="请输入流程点名称" nzSize="default">
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">对应后台话术：</div>
                <div nz-col nzSpan="18">
                  <input nz-input formControlName="botMsg" [(ngModel)]="flowPointDate.botMsg" placeholder="请输入对应后台话术" nzSize="default">
                </div>
              </div>

            </form>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">指引语设置：</div>
              <div nz-col nzSpan="10" class="span_down">
                APP对用户说的话
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('flow_guides')"><i class="anticon anticon-file-add"></i>添加</button>
              </div>
              <div nz-col nzSpan="2"></div>
            </div>
            <ng-container *ngFor="let item of flowPointDate.guides; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="10" class="span_down">
                  <textarea rows="3" nz-input [ngModel]="flowPointDate.guideArr[i]" (ngModelChange)="onInputChange($event, 'flowGuide', i)" nzSize="default"></textarea>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="i+1" (ngModelChange)="onInputChange($event, 'flowSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'flow_guides')"><i class="anticon anticon-delete"></i>删除</button>
                </div>
                <div nz-col nzSpan="2"></div>
              </div>
            </ng-container>
            <!-- 弹框和底部定制 -->
            <ng-template #modifyFlowPointModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyFlowPoint')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('modifyFlowPoint')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>
        </nz-tab>

        <nz-tab [nzTitle]="qqCustomerTemplate" (nzClick)="changePanel('qqCustomer')" *ngIf="commonService.haveMenuPermission('children', '客服QQ')">
          <ng-template #qqCustomerTemplate><i class="anticon anticon-qq"></i>客服QQ</ng-template>
          <div nz-row class="search_panel">
            <form [formGroup]="qqCustomerForm">

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3" class="span_down" style="font-size: 20px;font-weight: bold;">客服QQ</div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">QQ号：</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="contact_qq" [(ngModel)]="dataQQCustomer" *ngIf="isSaveQQCustomerButton" placeholder="输入QQ号" nzSize="default">
                  {{!isSaveQQCustomerButton ? dataQQCustomer : ''}}
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="20"></div>
                <div nz-col nzSpan="2" *ngIf="!isSaveQQCustomerButton"></div>
                <div nz-col nzSpan="2">
                  <button *ngIf="!isSaveQQCustomerButton" nz-button nzType="primary" (click)="doSave('editQQCustomer')"><i class="anticon anticon-form"></i>编辑</button>
                  <button *ngIf="isSaveQQCustomerButton" nz-button nzType="primary" (click)="doSave('qqCustomer')"><i class="anticon anticon-save"></i>保存</button>
                </div>
                <div nz-col nzSpan="2" *ngIf="isSaveQQCustomerButton">
                  <button nz-button nzType="primary" (click)="hideModal('qqCustomer')"><i class="anticon anticon-close-circle-o"></i>取消</button>
                </div>
              </div>
            </form>
          </div>
        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
