<app-left-nav></app-left-nav>
<div class="content" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large">
        <nz-tab nzTitle="版本更新" (nzClick)="changePanel('content')" *ngIf="commonService.haveMenuPermission('children', '版本更新')">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="19"></div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('content')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showAddModal('content')"><i class="anticon anticon-file-add"></i>新增APP版本</button>
            </div>
          </div>
          <nz-table #contentTable [nzData]="dataContent">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">标题</th>
                <th nzWidth="20px">副标题</th>
                <th nzWidth="20px">更新时间</th>
                <th nzWidth="20px">渠道</th>
                <th nzWidth="20px">下载链接</th>
                <th nzWidth="20px">文件大小</th>
                <th nzWidth="20px">系统类型</th>
                <th nzWidth="20px">版本</th>
                <th nzWidth="20px">允许的最低版本</th>
                <th nzWidth="20px">更新详情</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of contentTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.title}}</td>
                <td>{{data.sub_title}}</td>
                <td>{{data.update}}</td>
                <td>{{data.channel}}</td>
                <td>{{data.file}}</td>
                <td>{{data.size}}</td>
                <td>{{data.system_symbol}}</td>
                <td>{{data.version}}</td>
                <td>{{data.version_allowed}}</td>
                <td>{{data.description}}</td>
              </tr>
            </tbody>
          </nz-table>

          <!-- 弹框 —— 新增 —— 新增内容 -->
          <nz-modal [(nzVisible)]="isAddContentVisible" nzWidth="750" nzTitle="新增APP版本" [nzFooter]="addContentModalFooter" (nzOnCancel)="hideModal('content')">
            <form [formGroup]="addContentForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*渠道：</div>
                <div nz-col nzSpan="12" class="span_down">
                  {{currentChanelId === 'XIAOWU' ? '小悟' : (currentChanelId === 'LENZE' ? '伦茨' : 'null')}}
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*系统类型：</div>
                <div nz-col nzSpan="12">
                  <nz-select [ngModel]="contentDate.system_symbol" formControlName="system_symbol">
                    <nz-option [nzLabel]="'---无---'" [nzValue]="''"></nz-option>
                    <nz-option required [nzLabel]="'安卓'" [nzValue]="'ANDROID'"></nz-option>
                    <nz-option required [nzLabel]="'IOS'" [nzValue]="'IOS'"></nz-option>
                  </nz-select>
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*标题：</div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="title" [(ngModel)]="contentDate.title" placeholder="请输入标题" nzSize="default">
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*副标题：</div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="sub_title" [(ngModel)]="contentDate.sub_title" placeholder="请输入副标题" nzSize="default">
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*版本：</div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="version" [(ngModel)]="contentDate.version" placeholder="请输入版本" nzSize="default">
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*允许的最低版本：</div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="version_allowed" [(ngModel)]="contentDate.version_allowed" placeholder="请输入允许的最低版本" nzSize="default">
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*下载链接：</div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="file" [(ngModel)]="contentDate.file"
                    placeholder="请输入下载链接" nzSize="default">
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*文件大小：</div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="size" [(ngModel)]="contentDate.size"
                    placeholder="请输入文件大小" nzSize="default">
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3"></div>
                <div nz-col nzSpan="5" class="span_down right_alignment">*更新详情：</div>
                <div nz-col nzSpan="12">
                  <textarea rows="4" formControlName="description" [(ngModel)]="contentDate.description" maxlength="50" nz-input placeholder="请输入更新详情"></textarea>
                </div>
                <div nz-col nzSpan="4"></div>
              </div>

            </form>
            <!-- 弹框和底部定制 -->
            <ng-template #addContentModalFooter>
              <button nz-button nzType="primary" (click)="doSave('content')">保存</button>
              <button nz-button nzType="default" (click)="hideModal('content')">取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab nzTitle="分享文案" (nzClick)="changePanel('share')" *ngIf="commonService.haveMenuPermission('children', '分享文案')">
          <div nz-row class="search_panel">
            <form [formGroup]="shareForm">

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3" class="span_down" style="font-size: 20px;font-weight: bold;">微信分享</div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">标题</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="wechatTitle" [(ngModel)]="dataShare.wechatTitle" *ngIf="isSaveShareButton" placeholder="输入标题" nzSize="default">
                  {{!isSaveShareButton ? dataShare.wechatTitle : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">内容</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <textarea rows="5" nz-input formControlName="wechatContent" [(ngModel)]="dataShare.wechatContent" *ngIf="isSaveShareButton" placeholder="请输入内容" nzSize="default"></textarea>
                  {{!isSaveShareButton ? dataShare.wechatContent : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down right_alignment"><i class="anticon anticon-add"></i>
                  分享图片
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="21">
                  <nz-upload [(nzFileList)]="fileList" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button (click)="choosePng('0')" nzType="primary" [disabled]="!isSaveShareButton">
                      <i class="anticon anticon-upload"></i><span>上传图片</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：90*90&nbsp;&nbsp;限制大小：32K</font>
                  </nz-upload>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="shareImageUrl01 !== ''">
                <div nz-col nzSpan="2" class="span_down right_alignment"></div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="21">
                  <img *ngIf="shareImageUrl01" [src]="shareImageUrl01" class="image-panel1">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：90*90&nbsp;&nbsp;限制大小：32K</font>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">域名路径</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="wechatHost" [(ngModel)]="dataShare.wechatHost" *ngIf="isSaveShareButton" placeholder="请输入域名路径" nzSize="default">
                  {{!isSaveShareButton ? dataShare.wechatHost : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">跳转链接</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="wechatUrl" [(ngModel)]="dataShare.wechatUrl" *ngIf="isSaveShareButton" placeholder="请输入跳转链接" nzSize="default">
                  {{!isSaveShareButton ? dataShare.wechatUrl : ''}}
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="3" class="span_down" style="font-size: 20px;font-weight: bold;">复制链接</div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">标题</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="linkTitle" [(ngModel)]="dataShare.linkTitle" *ngIf="isSaveShareButton" placeholder="输入标题" nzSize="default">
                  {{!isSaveShareButton ? dataShare.linkTitle : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">域名路径</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="linkHost" [(ngModel)]="dataShare.linkHost" *ngIf="isSaveShareButton" placeholder="输入域名路径" nzSize="default">
                  {{!isSaveShareButton ? dataShare.linkHost : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">跳转链接</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9" class="span_down">
                  <input nz-input maxlength="32" formControlName="linkUrl" [(ngModel)]="dataShare.linkUrl" *ngIf="isSaveShareButton" placeholder="输入跳转链接" nzSize="default">
                  {{!isSaveShareButton ? dataShare.linkUrl : ''}}
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="20"></div>
                <div nz-col nzSpan="2" *ngIf="!isSaveShareButton"></div>
                <div nz-col nzSpan="2">
                  <button *ngIf="!isSaveShareButton" nz-button nzType="primary" (click)="doSave('editShare')">编辑</button>
                  <button *ngIf="isSaveShareButton" nz-button nzType="primary" (click)="doSave('share')">保存</button>
                </div>
                <div nz-col nzSpan="2" *ngIf="isSaveShareButton">
                  <button nz-button nzType="primary" (click)="hideModal('share')">取消</button>
                </div>
              </div>
            </form>
          </div>
        </nz-tab>

        <nz-tab nzTitle="引导语模板" (nzClick)="changePanel('guide')" *ngIf="commonService.haveMenuPermission('children', '引导语模板')">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="21"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showAddModal('guide')"><i class="anticon anticon-file-add"></i>新增模板</button>
            </div>
          </div>
          <nz-table #guideTable [nzData]="dataGuide">
            <thead>
              <tr>
                <th>序号</th>
                <th>模板类型</th>
                <th>模板名称</th>
                <th>启用状态</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of guideTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.type === 'BEGINNNER_GUIDE' ? '新手引导' : '活动推荐'}}</td>
                <td>{{data.name}}</td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-switch [(ngModel)]="data.enabled" (click)="clickSwitch(data, 'guide')"></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <button nz-button nzType="primary" (click)="showModifyModal(data, 'guide')" style="margin-right: 10px;"><i
                      class="anticon anticon-form"></i>编辑</button>
                  <button nz-button nzType="primary" (click)="doDelete(data.id, 'guide')" style="margin-right: 10px;"><i
                      class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>

          <nz-modal [(nzVisible)]="isAddGuideVisible || isModifyGuideVisible" nzWidth="950" nzTitle="{{isModifyGuideVisible ? '修改模板' : '新增模板'}}" [nzFooter]="addGuideModalFooter" (nzOnCancel)="hideModal('guide')">
            <form [formGroup]="addGuideForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  模板名称：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="name" [(ngModel)]="guideDate.name" placeholder="请输入模板名称" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  模板类型：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  <nz-radio-group [(ngModel)]="guideDate.type" formControlName="type">
                    <label nz-radio nzValue="BEGINNNER_GUIDE">新手引导</label>
                    <label nz-radio nzValue="percentage_discount" [nzDisabled]="true">活动推荐</label>
                  </nz-radio-group>
                </div>
              </div>
            </form>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">
                对话配置：
              </div>
              <div nz-col nzSpan="12" class="span_down">
                APP对用户说的话
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('guide_message')">添加</button>
              </div>
            </div>
            <ng-container *ngFor="let item of guideItem.messageArr; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="12" class="span_down">
                  <textarea rows="3" nz-input [ngModel]="guideItem.messageArr[i].text" (ngModelChange)="onInputChange($event, 'messageText', i)" maxlength="50" nzSize="default"></textarea>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="guideItem.messageArr[i].sort" (ngModelChange)="onInputChange($event, 'messageSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'guide_message')">删除</button>
                </div>
              </div>
            </ng-container>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">
                表单配置：
              </div>
              <div nz-col nzSpan="12" class="span_down">
                点击后，替用户，在对话框输入对应内容
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('guide_button')">添加</button>
              </div>
            </div>
            <ng-container *ngFor="let item of guideItem.buttonArr; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="12" class="span_down">
                  <textarea rows="3" nz-input [ngModel]="guideItem.buttonArr[i].text" (ngModelChange)="onInputChange($event, 'buttonText', i)" maxlength="50" nzSize="default"></textarea>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="guideItem.buttonArr[i].sort" (ngModelChange)="onInputChange($event, 'buttonSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'guide_button')">删除</button>
                </div>
              </div>
            </ng-container>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down right_alignment">
                图片配置：
              </div>
              <div nz-col nzSpan="12" class="span_down">
                点击后，可自动配置跳转方式
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="4" class="span_down">
                排序
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="2" class="span_down right_alignment">
                <button nz-button nzType="primary" (click)="doSave('guide_image')">添加</button>
              </div>
            </div>
            <ng-container *ngFor="let item of guideItem.imageArr; let i=index;">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="12">
                  <nz-upload [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button nzType="primary">
                      <i class="anticon anticon-upload"></i><span>选择文件</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：702px*394px&nbsp;&nbsp;限制大小：500K</font>
                  </nz-upload>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <input nz-input [ngModel]="guideItem.imageArr[i].sort" (ngModelChange)="onInputChange($event, 'imageSort', i)" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'guide_image')">删除</button>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="fileList.length >= 1">
                <div nz-col nzSpan="4" class="span_down right_alignment"></div>
                <div nz-col nzSpan="12">
                  <img *ngIf="showImageUrl" [src]="showImageUrl" class="image-panel">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：750*300&nbsp;&nbsp;限制大小：150K</font>
                </div>
                <div nz-col nzSpan="5"></div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  <button nz-button nzType="primary" (click)="doDelete(i, 'guide_image')">删除</button>
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  跳转位置：
                </div>
                <div nz-col nzSpan="12">
                  <nz-select [(ngModel)]="guideDate.jumpType" (ngModelChange)="onInputChange($event, 'imageJumpType', i)">
                    <nz-option required [nzLabel]="'不跳转'" [nzValue]="'DISABLE'"></nz-option>
                    <nz-option required [nzLabel]="'跳转到网页'" [nzValue]="'WEB'"></nz-option>
                    <nz-option required [nzLabel]="'跳转到APP'" [nzValue]="'APP'"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="guideDate.jumpType === 'APP'">
                <div nz-col nzSpan="4" class="span_down right_alignment">APP标识：</div>
                <div nz-col nzSpan="12">
                  <nz-select [(ngModel)]="guideDate.appDestinationType" (ngModelChange)="onInputChange($event, 'imageAppDestinationType', i)">
                    <nz-option required [nzLabel]="'个人中心'" [nzValue]="'PERSONAL_CENTER'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 设置'" [nzValue]="'SETTINGS'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 我的订单'" [nzValue]="'ORDER_LIST'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 常用信息'" [nzValue]="'GENERAL_INFO'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 我的账户 > 充值'" [nzValue]="'CHARGE'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 我的账户'" [nzValue]="'ACCOUNT'"></nz-option>
                    <nz-option required [nzLabel]="'个人中心 > 联系我们 > 我的建议'" [nzValue]="'ADVICE'"></nz-option>
                    <nz-option required [nzLabel]="'对话流 > 帮助'" [nzValue]="'HELP'"></nz-option>
                  </nz-select>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="guideDate.jumpType === 'WEB'">
                <div nz-col nzSpan="4" class="span_down right_alignment">链接地址：</div>
                <div nz-col nzSpan="12">
                  <input nz-input [(ngModel)]="guideDate.webUrl" (ngModelChange)="onInputChange($event, 'imageWebUrl', i)" placeholder="请输入链接地址" nzSize="default">
                </div>
              </div>
            </ng-container>
            <ng-template #addGuideModalFooter>
              <button nz-button nzType="primary" (click)="doSave('guide')">确定</button>
              <button nz-button nzType="default" (click)="hideModal('guide')">取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab nzTitle="帮助管理" (nzClick)="changePanel('help')" *ngIf="commonService.haveMenuPermission('children', '帮助管理')">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="21"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showAddModal('help')"><i class="anticon anticon-file-add"></i>新增技能</button>
            </div>
          </div>
          <nz-table #helpTable [nzData]="dataHelp">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">技能名称</th>
                <th nzWidth="20px">技能ICON</th>
                <th nzWidth="20px">技能类别</th>
                <th nzWidth="20px">技能排序</th>
                <th nzWidth="20px">跳转话术</th>
                <th nzWidth="20px">启用状态</th>
                <th nzWidth="20px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of helpTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td><img [src]="commonService.baseUrl.substring(0, commonService.baseUrl.indexOf('/admin')) + '/v1/cms/skills/images/' + data.image" class="thumbnail"></td>
                <td>{{data.jump === 'DISABLED'? '不跳转' : data.jump === 'HTML' ? '跳转到网页' : '跳转到APP'}}</td>
                <td>{{data.order}}</td>
                <td>{{data.site === 1 ? '个人中心' : data.site === 2 ? '个人中心 > 设置' : data.site === 3 ? '个人中心 > 我的订单' : data.site === 4 ? '个人中心 > 常用信息' : data.site === 5 ? '个人中心 > 我的账户 > 充值' : data.site === 6 ? '个人中心 > 我的账户' : data.site === 7 ? '个人中心 > 联系我们 > 我的建议' : data.site === 8 ? '对话流 > 帮助' : '无'}}</td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-switch [(ngModel)]="data.enabled" (click)="clickSwitch(data, 'help')"></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <button nz-button nzType="primary" (click)="showModifyModal(data, 'help')" style="margin-right: 10px;"><i
                      class="anticon anticon-form"></i>编辑</button>
                  <button nz-button nzType="primary" (click)="doDelete(data.id, 'help')" style="margin-right: 10px;"><i
                      class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>

          <nz-modal [(nzVisible)]="isAddHelpVisible" nzWidth="1150" nzTitle="新增技能" [nzFooter]="addHelpModalFooter" (nzOnCancel)="hideModal('addHelp')">
            <form [formGroup]="addHelpForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能名称：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="name" [(ngModel)]="helpDate.title" placeholder="请输入技能标题" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment"><i class="anticon anticon-add"></i>
                  <font color="red">*</font>技能icon：
                </div>
                <div nz-col nzSpan="16">
                  <nz-upload [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i class="anticon anticon-upload"></i><span>选择文件</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：50K</font>
                  </nz-upload>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="fileList.length == 1">
                <div nz-col nzSpan="4" class="span_down right_alignment"></div>
                <div nz-col nzSpan="16">
                  <img *ngIf="imageUrl" [src]="showImageUrl" class="image-panel">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：150K</font>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  技能类型：
                </div>
                <div nz-col nzSpan="16" class="span_down">
                  <nz-radio-group [(ngModel)]="helpType" formControlName="type">
                    <label nz-radio nzValue="TRAVEL">出行</label>
                    <label nz-radio nzValue="LIFE">生活</label>
                    <label nz-radio nzValue="AMUSEMENT">娱乐</label>
                    <label nz-radio nzValue="TOOL">工具</label>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能排序：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="order" placeholder="请输入技能排序" nzSize="default">
                </div>
              </div>
              <ng-container *ngFor="let item of helpItem.jumpArr; let i=index;">
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="4" class="span_down right_alignment" *ngIf="i === 0">
                    <font color="red">*</font>外部跳转编辑：
                  </div>
                  <div nz-col nzSpan="4" *ngIf="i > 0"></div>
                  <div nz-col nzSpan="16">
                    <input nz-input formControlName="guides" (ngModelChange)="onInputChange($event, 'helpJunp', i)" placeholder="请输入外部跳转编辑" nzSize="default">
                  </div>
                  <div nz-col nzSpan="2" class="span_down right_alignment">
                    <button nz-button nzType="primary" (click)="doSave('help_jump')" *ngIf="i === 0">添加</button>
                    <button nz-button nzType="primary" (click)="doDelete(i, 'help_jump')" *ngIf="i > 0">删除</button>
                  </div>
                </div>
              </ng-container>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">技能介绍：</div>
                <div nz-col nzSpan="16">
                  <textarea formControlName="describe" [(ngModel)]="emptyAdd[4]" rows="3" nz-input></textarea>
                </div>
              </div>
              <ng-container *ngFor="let item of helpItem.detailArr; let i=index;">
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="4" class="span_down right_alignment" *ngIf="i === 0">详情页编辑：</div>
                  <div nz-col nzSpan="4" *ngIf="i > 0"></div>
                  <div nz-col nzSpan="16">
                    <div nz-col nzSpan="4" class="span_down right_alignment">标题：</div>
                    <div nz-col nzSpan="16">
                      <input nz-input formControlName="details_title" (ngModelChange)="onInputChange($event, 'helpDetailTitle', i)" placeholder="请输入标题" nzSize="default">
                    </div>
                    <div nz-col nzSpan="2" class="span_down right_alignment">
                      <button nz-button nzType="primary" (click)="doSave('help_detail')" *ngIf="i === 0">添加</button>
                      <button nz-button nzType="primary" (click)="doDelete(i, 'help_detail')" *ngIf="i > 0">删除</button>
                    </div>
                  </div>
                </div>
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="4"></div>
                  <div nz-col nzSpan="16">
                    <div nz-col nzSpan="4" class="span_down right_alignment">描述：</div>
                    <div nz-col nzSpan="16">
                      <input nz-input formControlName="details_describe" (ngModelChange)="onInputChange($event, 'helpDetailDesc', i)" placeholder="请输入描述" nzSize="default">
                    </div>
                  </div>
                </div>
              </ng-container>
            </form>
            <ng-template #addHelpModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addHelp')">保存</button>
              <button nz-button nzType="default" (click)="hideModal('addHelp')">取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="isModifyHelpVisible" nzWidth="1150" nzTitle="修改技能" [nzFooter]="modifyHelpModalFooter" (nzOnCancel)="hideModal('modifyHelp')">
            <form [formGroup]="modifyHelpForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能名称：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="name" [(ngModel)]="helpDate.name" placeholder="请输入技能标题" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment"><i class="anticon anticon-add"></i>
                  <font color="red">*</font>技能icon：
                </div>
                <div nz-col nzSpan="16">
                  <nz-upload [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" nzMultiple [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                      <i class="anticon anticon-upload"></i><span>选择文件</span>
                    </button>
                    <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：50K</font>
                  </nz-upload>
                </div>
              </div>
              <div nz-row class="search_panel" *ngIf="fileList.length == 1">
                <div nz-col nzSpan="4" class="span_down right_alignment"></div>
                <div nz-col nzSpan="16">
                  <img *ngIf="imageUrl" [src]="showImageUrl" class="image-panel">
                  <font color="#cccccc">&nbsp;&nbsp;建议尺寸：64*64&nbsp;&nbsp;限制大小：150K</font>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  技能类型：
                </div>
                <div nz-col nzSpan="16" class="span_down">
                  <nz-radio-group [(ngModel)]="helpType" formControlName="type">
                    <label nz-radio nzValue="TRAVEL">出行</label>
                    <label nz-radio nzValue="LIFE">生活</label>
                    <label nz-radio nzValue="AMUSEMENT">娱乐</label>
                    <label nz-radio nzValue="TOOL">工具</label>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">
                  <font color="red">*</font>技能排序：
                </div>
                <div nz-col nzSpan="16">
                  <input nz-input formControlName="order" [(ngModel)]="helpDate.order" placeholder="请输入技能排序" nzSize="default">
                </div>
              </div>
              <ng-container *ngFor="let item of helpItem.jumpArr; let i=index;">
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="4" class="span_down right_alignment" *ngIf="i === 0">
                    <font color="red">*</font>外部跳转编辑：
                  </div>
                  <div nz-col nzSpan="4" *ngIf="i > 0"></div>
                  <div nz-col nzSpan="16">
                    <input nz-input formControlName="guides" [(ngModel)]="helpItem.jumpArr[i].text" (ngModelChange)="onInputChange($event, 'helpJunp', i)" placeholder="请输入外部跳转编辑" nzSize="default">
                  </div>
                  <div nz-col nzSpan="2" class="span_down right_alignment">
                    <button nz-button nzType="primary" (click)="doSave('help_jump')" *ngIf="i === 0">添加</button>
                    <button nz-button nzType="primary" (click)="doDelete(i, 'help_jump')" *ngIf="i > 0">删除</button>
                  </div>
                </div>
              </ng-container>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down right_alignment">技能介绍：</div>
                <div nz-col nzSpan="16">
                  <textarea formControlName="describe" [(ngModel)]="helpDate.describe" rows="3" nz-input></textarea>
                </div>
              </div>
              <ng-container *ngFor="let item of helpItem.detailArr; let i=index;">
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="4" class="span_down right_alignment" *ngIf="i === 0">详情页编辑：</div>
                  <div nz-col nzSpan="4" *ngIf="i > 0"></div>
                  <div nz-col nzSpan="16">
                    <div nz-col nzSpan="4" class="span_down right_alignment">标题：</div>
                    <div nz-col nzSpan="16">
                      <input nz-input formControlName="details_title" [(ngModel)]="helpItem.detailArr[i].title" (ngModelChange)="onInputChange($event, 'helpDetailTitle', i)" placeholder="请输入标题" nzSize="default">
                    </div>
                    <div nz-col nzSpan="2" class="span_down right_alignment">
                      <button nz-button nzType="primary" (click)="doSave('help_detail')" *ngIf="i === 0">添加</button>
                      <button nz-button nzType="primary" (click)="doDelete(i, 'help_detail')" *ngIf="i > 0">删除</button>
                    </div>
                  </div>
                </div>
                <div nz-row class="search_panel">
                  <div nz-col nzSpan="4"></div>
                  <div nz-col nzSpan="16">
                    <div nz-col nzSpan="4" class="span_down right_alignment">描述：</div>
                    <div nz-col nzSpan="16">
                      <input nz-input formControlName="details_describe" [(ngModel)]="helpItem.detailArr[i].describe" (ngModelChange)="onInputChange($event, 'helpDetailDesc', i)" placeholder="请输入描述" nzSize="default">
                    </div>
                  </div>
                </div>
              </ng-container>
            </form>
            <ng-template #modifyHelpModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyHelp')">保存</button>
              <button nz-button nzType="default" (click)="hideModal('modifyHelp')">取消</button>
            </ng-template>
          </nz-modal>
        </nz-tab>

        <nz-tab nzTitle="协议管理" (nzClick)="changePanel('protocol')" *ngIf="commonService.haveMenuPermission('children', '协议管理')">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="24">
              <nz-radio-group [(ngModel)]="currentProtocol" (ngModelChange)="chooseProtocol($event)">
                <label nz-radio nzValue="火车退票/改签协议">火车退票/改签协议</label>
                <label nz-radio nzValue="火车票服务协议">火车票服务协议</label>
                <label nz-radio nzValue="机票退改及行李额说明">机票退改及行李额说明</label>
                <label nz-radio nzValue="关于齐悟">关于齐悟</label>
                <label nz-radio nzValue="版本更新说明">版本更新说明</label>
                <label nz-radio nzValue="版本功能介绍">版本功能介绍</label>
                <label nz-radio nzValue="开票说明">开票说明</label>
                <label nz-radio nzValue="充值协议">充值协议</label>
                <label nz-radio nzValue="小额免密">小额免密</label>
                <label nz-radio nzValue="小悟币和小悟豆说明">小悟币和小悟豆说明</label>
                <label nz-radio nzValue="隐私协议">隐私协议</label>
                <label nz-radio nzValue="用户协议">用户协议</label>
              </nz-radio-group>
            </div>
          </div>
          <div nz-row class="search_panel">
            <form [formGroup]="addProtocolForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="24" *ngIf="!isSaveProtocolButton">
                  <textarea rows="20" nz-input formControlName="content" [ngModel]="dataProtocol" disabled nzSize="default" style="background-color: #f5f5f5"></textarea>
                </div>
                <div nz-col nzSpan="24" *ngIf="isSaveProtocolButton">
                  <textarea formControlName="describe" [(ngModel)]="emptyAdd[4]" rows="3" nz-input></textarea>
                </div>
              </div>
            </form>
          </div>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="2">
              <button *ngIf="!isSaveProtocolButton" nz-button nzType="primary" (click)="doSave('editProtocol', '')">编辑</button>
              <button *ngIf="isSaveProtocolButton" nz-button nzType="primary" (click)="doSave('saveProtocol', '')">保存</button>
            </div>
            <div nz-col nzSpan="2" *ngIf="isSaveProtocolButton">
              <button nz-button nzType="primary" (click)="hideModal('protocol')">取消</button>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="doSave('previewProtocol', '')">预览</button>
            </div>
          </div>
        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
