<h1 class="page-header">
    <small>测试样例</small>
</h1>

    <div class="form-group">
        <span>每句一行</span>
    </div>
<form action="/test/auto" method="POST">
    <div class="form-group">
        <textarea name="testcase" class="form-control" placeholder="每句一行" rows="30">
你好，我想问一下有没有玩家结婚功能
在嘛
能出个宠物系统吗，在出个师徒系统
官方冲值在哪里冲？
今天没法签到
客服在吗？
55万战力能秒47万的嘛
激活码
大乘令没到期
[Facepalm]为啥还不出点好看的时装 我的人民币已经饥渴难耐
冲值可以优惠吗？
联系小凡
你们是不是准备关服？
连线小凡
客服在吗？我刚才游戏里截图了，对方一直都是0血量，而且打不死。
修仙到多少级可以把血条修没了啊，有这种bug.也不用玩了，退游吧
在吗
你麻痹
搞毛啊
你们这游戏几个意思？
外挂这么泛滥吗？
在微信商城买的灵石还有首充双倍吗
抢钱
我要举报一个本区叫剑心的人，怀疑他有外挂。今天争仙会零点正还是我第一到了零点一分发给我奖励就给了第六名的奖励，然后我看排行剑心是第一，基本每次他都是第一。他不是外挂，就是游戏本身BGU你们好好查查。
明天就是活动结束的时候灵石道具之类
充值
你好今天23:59就是很多活动结束，那我岂不是错过了很多的道具物品和灵石
世界boos还不改吧
在没有
你好
到30区查查30区那几个人0血就是杀不死
？
不能改成平均等级嘛？
我自己找到bug了
辣鸡 骗子
我的夺宝有没有
PK技巧
“连线小凡”
2cb95eb3
今天零晨冲值返奖出错
人呢
时间还没确定吗。
还没好?
合区
你上面公告说的
门派升级我能玩游戏嘛
/::P
还没有核查完么？
你们的运营团都是猪吗？我玩游戏还要帮你核查。你给我发工资了吗
(⊙o⊙)哦
签到
发不了语音
33区 名字 遇一人白首
又合服拉
举报
有人用外挂
苹果33区的
不是吧
门派里的那个灵石宝箱，都是8个灵石吗？？ 还不如两个大强化带啊
兑换账号18958565155 没收到东京现金卡。

那到你结算的时候排名就变了
客服！
我禁地积分够了 但是领不到奖励
在不
那么卡玩你妹啊
如何更新
苹果33区 遇一人白首
连接小凡
哈喽
客服
客服在吗
苹果33区 18086911888
13432654903
在吗？
在不在
？？？？
有人没？
客服出来
用爱游戏帐号无法进入游戏
就因为穿戴不了所以分解了啊
我提供都是我玩的游戏真实信息，不可能错
截屏那里可以看时间
双修啥时候出来
你们凡人修仙传还真是坑
回忆不了
你们太不厚道了，真缺德！
坑人的游戏
37区，炎黄灬红尘，15240816343
在哪
根本不管外挂对吧，还是你们自己人提供的
我可以把她电话给你，你可以问一哈186-8081-0994
你好 我们是腾讯应用宝总代 应用宝cpt cpd推广这块有需求可以联系我 范 18665976417 qq 1442317786
？？
在游戏中怎样看游戏账号
3729420039
换了
我想先人一步，开服，我就玩。那样才能当大哥啊
试你麻痹的 能进我还找你特么个玩意儿
加个微信，要不你们领导一视察，全废了
你订班到几点啊
[Hey][Hey][Hey][Hey]
无聊
还有就是现在可以在游戏里面卡无敌你们知道吗
全民仙逆
迅运摇一摇
在不在啊
问是帮里人能不能隐身让人在帮里找不到他人
提见意
有人吗
和你说有用吗？
领取时装
装备不小心分解了，能不能帮我找回来
你自己看看吧
禁言是几天
。
摇一摇
邪化牛神
我的500非绑定灵石咋没有了呢？
建议1精炼项目不应该以服装级别增加精炼石，应该以每级精炼范围为精炼石数量的依据。否则等玩家明白后容易换区。
我找不见更新游戏的地方。

这问题是要弄多久？是要一年吗
尽量快一点
有结婚系统不？
我发现了BUG
加人气
忘记在哪区了
你们不是已经处理了吗？
安卓新区啥时候开？
唉！我们都是凡迷现在在微信叫别的玩家也不上线了说弃游！就因这问题退游了七，八个活跃的玩家
哪有摇一摇？
尼玛逼的外挂你们管不管？
举报龙魂军团 一路向北
[语音]
有人么
姐姐，别您您的好嘛
为啥会显示我账号不存在
哦，，
又出现了和上次一样的情况
妹妹有截图啦
凡人47，角色无双，不能发语音信息
需要多久时间
在不在 客服出来
今天更新吗
你大爷
[视频]
如何了
封号给我解决了没有
1
商城那个凌仙时装啥样子的呢？
没收到
你好，请问游戏更新是整个凡人服吗？
你好 我们是腾讯应用宝总代 应用宝cpt cpd推广这块有需求可以联系我 范 18665976417
送我一套时装
之前花钱买的境界丹都亏了？
举报凡人三区凌志开空血bug
购买升仙令后每天领的是非绑定灵石吗？
客服在么
11区签到页面好多天空白无法签到
多久能玩
小凡
hi
游戏里就是没有预览图片，不然我问你做啥
现在是理都不理了？
11区签到打不开
链接小凡
好的
连线小凡 举报 凡人3区 夜星莹莹利用bug拉镖
怎样快速升级？
快送我灵石
兄弟
呼唤铁罗
美女
回复的是你妈的哈喇子
我今天点高级精炼装备，本来是一次300灵石，系统一次刷了我3000灵石，请帮找回，我是37区的，名字叫文山子
嗯哼
我要举报[Smart]
没事
铁罗
谢谢，你们的服务很赞
安卓分为2个大服 一个修仙服 一个凡人服 两个大服之间不互通。

能不能开交易系统呀，玩的都不方便
请问更新好了没
七服乌龙谭啥时候更新完？
好吧一更新就不能玩了
装备物品钱
要维护到几点
我上线了，还没帮我解决
我们要更新吗
游戏新版本
你们的连接不能进入凡人区啦！
我有个问题
谢谢
你们更新一次我的游戏角色都被注销了？
游戏更新了玩不了
您好
请问角色普通攻击是怎样计算的？
我就想知道，新版本是出了，我现在74万战力，打争仙会，连60万的都打不过了，这也就算了，连58万战力的也打不过，这是几个意思！这是要逼我们走人吗
在那里更新
仙界
斗鱼版的更新好了没
你好，有没有迅雷牛X的更新包
这游戏不好玩了
就是说版本没更新。。
铁罗在吗
可可的帐
07073sy
你好，他那边还没修复好么
出问题了
没了，谢谢
活动副本的损失请给予一定的补偿，
账号更新忘记
微信购买不算首充？
人有没有
你好在嘛
活动期间登录奖励无法领，我灵石还有五六万请不要给我弄没了，请你们专业点，好吗？
更新后发现法宝镇妖塔攻能改变
人咧
首充多久重置一次？
在研究被动技能中可以反回游戏界面吗
联系客服
又出毛病了
极品灵石采集是多久刷新
我在拍卖里的装备不见了，我们会的还有一个人也这样
一个20级护腕，橙色的
是的
我的账号是斗鱼。
都一天多了
不是13号嘛
又一个啊？
有人没
在么
本人为此书迷，希望凡人越走越好，还读者及游戏迷修仙梦。43区龙七。电话13962608638
我买多了一个情侣戒指能送人么
完蛋了，没有号了
凡人2区～～
这个游戏删掉了，游戏数据会不会丢掉
还是没有角色
时装
有新活动没？
服了

修仙11区
新手
游戏还是不行
在吗在吗在吗
出来
我的争仙会打不开了。。。
这么久了，这两个问题还没解决
灵银护碗 橙色的
官方有微信号吗？
怎样升级
微信商城在哪找啊
请问我的号，要等几天，才有结果
你好，请问充值里面的首冲双倍灵石，给的都是非绑定灵石吗？
没有了
花花
5个区就这几个人也太不公平了吧
为啥双修不了
修仙34区，
这个人又骂我
有说法了吗?
我改名了对之前的恢复有影响吗
还不好吗？哥
有人么？
飞仙塔
有人在吗
你好在吗
17300295990
还没有弄好 吗 我都几天没玩了[Facepalm]
飞仙塔在哪找
微信注册怎么领东西
我花了几百块钱 想得到活动给我的东西，没给我你受得了？
我以前的用的账号没有了，你妈
今天的活动天人榜奖励咋没有发？
以后能不能不跟我说这些客套话，我们是朋友
https://mp.weixin.qq.com/misc/kfpic?action=get&key=ToHyyTJeU2b78YstcOEGPw6Ws-uPl9zygAxBAEfHKsrXMXEI174j7s10unXwO19K&appid=wx05b212b6c8ca452c
申请个补偿包啊。一星期的白屏
我密码忘记了
请问下次更新啥时候
充了钱玩不了游戏
现在我的帮派很多人都不玩了
苹果手机玩的版本新区仙36区，充值钱扣了，可了没成功，领不了首充物品，仙石也没有
在角色显示异常的情况下，能否转平台
一万战力打小怪不掉血这还能玩吗？
4个号都没有了，帮派任务也没有法弄了
原来范围大且有三次攻击，现范围小一次攻击
苹果版的充值太烦了，苹果手机去哪里更新新版本？知道的告诉我一下吧
你好 凌晨一点 我这边领的装备在分解别的装备的时候卡了 把60级的橙色戒指也分解了 能恢复吗
可可的帐号登不了你们这边的这个游戏软件吗？
更新了游戏我的角色没了
是不是又能挖灵石了
为什么更新完我就没有凡人区了
你们技术部门就那么垃圾吗？查他个人数据呀
我要投诉你们
我的号忘记密码了
我包里有两个项链锻造书为何用不了
为什么47区赤道还没被封号
这么嚣张的说外挂，还免费提供，不封吗
双修亲密度满了
我这边掌门转让的时候系统卡了 到一个不上线的小号上面了 现在那个小号不上线哇 能帮我转回来吗
更新以后每个境界需要的灵气变少了？

        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">开始测试</button>
<form>