<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'3200px', y:'520px'}">
  <thead>
    <tr>
      <th nzWidth="50px">序号</th>
      <th nzWidth="100px">时间</th>
      <th nzWidth="100px">唤醒酒店人次</th>
      <th nzWidth="100px">唤醒酒店行为数</th>
      <th nzWidth="100px">酒店订单推荐总数</th>
      <th nzWidth="100px">首次酒店订单推荐数</th>
      <th nzWidth="100px">酒店对话轮数（总）</th>
      <th nzWidth="100px">日最高酒店对话轮数</th>
      <th nzWidth="100px">酒店订单请求数</th>
      <th nzWidth="100px">酒店订单提交数</th>
      <th nzWidth="100px">酒店订单成交数</th>
      <th nzWidth="100px">酒店订单出票数</th>
      <th nzWidth="100px">酒店退款数</th>
      <th nzWidth="100px">酒店订单请求率</th>
      <th nzWidth="100px">酒店订单提交率</th>
      <th nzWidth="100px">酒店成交率</th>
      <th nzWidth="100px">酒店退款率</th>
      <th nzWidth="100px">酒店换舱位</th>
      <th nzWidth="100px">酒店换时间</th>
      <th nzWidth="100px">酒店换价格</th>
      <th nzWidth="100px">酒店换航空公司</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td nzWidth="100px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.awakHotelUsers}}</td>
      <td nzWidth="100px">{{data.awakHotelCount}}</td>
      <td nzWidth="100px">{{data.hotelOrderRecommend}}</td>
      <td nzWidth="100px">{{data.hotelOrderRecommendFirst}}</td>
      <td nzWidth="100px">{{data.hotelSessionCount}}</td>
      <td nzWidth="100px">{{data.hotelSessionMax}}</td>
      <td nzWidth="100px">{{data.hotelOrderQuery}}</td>
      <td nzWidth="100px">{{data.hotelOrderCommit}}</td>
      <td nzWidth="100px">{{data.hotelOrderCheckout}}</td>
      <td nzWidth="100px">{{data.hotelOrderTicket}}</td>
      <td nzWidth="100px">{{data.hotelOrderRefund}}</td>
      <td nzWidth="100px">{{(data.awakHotelCount === 0 ? 0 : (data.hotelOrderQuery / data.awakHotelCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakHotelCount === 0 ? 0 : (data.hotelOrderCommit / data.awakHotelCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakHotelCount === 0 ? 0 : (data.hotelOrderCheckout / data.awakHotelCount)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.hotelOrderTicket === 0 ? 0 : (data.hotelOrderRefund / data.hotelOrderTicket)) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{data.hotelChangeStar}}</td>
      <td nzWidth="100px">{{data.hotelChangeDate}}</td>
      <td nzWidth="100px">{{data.hotelChangePrice}}</td>
      <td nzWidth="100px">{{data.hotelChangeModel}}</td>
    </tr>
  </tbody>
</nz-table>
