#about {
    height: 694px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/about_bg_long.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    #about-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding: 80px 90px;
        #about-left-pic {
            position: absolute;
            z-index: 1;
            top: 165px;
            left: 50px;
            box-shadow: 5px 5px 30px #cccccc;
        }
        #about-left-brand-logo {
            position: absolute;
            top: 180px;
            left: 70px;
            width: 46px;
            filter: brightness(0%) invert(100%);
            z-index: 2;
        }
        #about-info {
            position: absolute;
            top: 90px;
            left: 330px;
            width: 630px;
            height: 550px;
            padding: 70px 70px 70px 125px;
            overflow: hidden;
            background-color: #ffffff;
            box-shadow: 5px 5px 20px #cccccc;
            #about-brand-logo {
                width: 46px;
            }
            #about-info-bg {
                position: absolute;
                top: -40px;
                right: 30px;
                width: 240px;
            }
            h3 {
                color: black;
                margin-top: 15px;
                margin-bottom: 30px;
                position: relative;
                z-index: 2;
            }
            p {
                color: gray;
                font-size: 12px;
                line-height: 23px;
            }
        }
        .about-info-zh {
            h3 {
                font-size: 34px;
                font-weight: 400;
                font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
                letter-spacing: 6px;
                margin-top: 15px;
                margin-bottom: 30px;
            }
            p {
                letter-spacing: 2px;
            }
        }
        .about-info-en {
            h3 {
                font-size: 28px;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                font-weight: 600;
                margin-bottom: 20px;
            }
            p {
                text-align: justify;
            }
        }
    }
}
