#about-m {
    width: 100%;
    background-color: #fefefe;
    overflow: hidden;
    background-image: url("/assets/images/partner_background.png");
    padding: 5% 5% 1% 5%;
    list-style: none;
    margin: 0;
    ul {
        overflow: none;
    }
    h2 {
        color: black;
        overflow: hidden;
        font-size: 4em;
        padding-bottom: 2%;
        span {
            color: #F6CF00;
        }
    }
    p {
        font-size: 2.66em;
    }
    .about-page {
        position: relative;
        #about-product-xp {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 2.67em;
        }
        a {
            color: grey;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
            color: dimgrey;
        }
    }
    #about-page-2 {
        margin-top: 5%;
    }
}