<div id="header">
    <div id="header-container" class="animated fadeIn">
        <div id="header-brand-logo">
            <a href="#"><img src="/assets/img/header_brand_logo.png" alt="brand_logo"></a>
        </div>
        <div id="header-nav-bar">
            <ul [class.header-nav-zh]="language == 'zh'" [class.header-nav-en]="language == 'en'" >
                <li (click)="changeActive(1)" class="header-nav-item active"><a href="#home">{{nowHeader.home}}</a></li>
                <li (click)="changeActive(2)" class="header-nav-item"><a href="#tech">{{nowHeader.tech}}</a></li>
                <li (click)="changeActive(3)" class="header-nav-item"><a href="#product">{{nowHeader.product}}</a></li>
                <li (click)="changeActive(4)" class="header-nav-item"><a href="#partner">{{nowHeader.partner}}</a></li>
                <li (click)="changeActive(5)" class="header-nav-item"><a href="#about">{{nowHeader.about}}</a></li>
                <li (click)="changeActive(6)" class="header-nav-item"><a href="#career">{{nowHeader.career}}</a></li>
                <li (click)="changeActive(7)" class="header-nav-item"><a href="#contact">{{nowHeader.contact}}</a></li>
                <li (click)="changeLanguage('zh')" class="header-nav-lang" id="header-nav-zh" [class.lang-active]="language == 'zh'"><a>中</a></li>
                <li class="header-nav-lang" id="header-nav-split">/</li>
                <li (click)="changeLanguage('en')" class="header-nav-lang" id="header-nav-en" [class.lang-active]="language == 'en'"><a>En</a></li>
            </ul>
        </div>
    </div>
</div>
