<!-- 顶部 -->
<div class="top_nav">
  <ul nz-menu [nzMode]="'horizontal'">
    <li nz-menu-item class="left_panel">
      <a class="common-button" routerLink="/booking" routerLinkActive="active">
        <img src="assets/images/qiwu_logo.png" class="qiwu_logo" alt="">
      </a>
    </li>
  </ul>
</div>
<div class="login">
  <div class="login_panel">
    <div class="center">
      <div class="title_panel">账号密码登录</div>
      <div nz-row class="cell_panel">
        <div nz-col nzSpan="2">
        </div>
        <div nz-col nzSpan="20">
          <hr>
        </div>
        <div nz-col nzSpan="2">
        </div>
      </div>
      <form nz-form [formGroup]="loginForm">
        <div nz-row class="cell_panel">
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="20">
            <label nz-form-item>
              <div nz-form-control nzHasFeedback>
                <input nz-input formControlName="userName" placeholder="手机号" nzSize="default">
                <div nz-form-explain maxlength="11" style="color: red" *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('mobile')"
                  (keyup)="($event.which === 13)?onSubmit($event, loginForm):0">不符合手机格式要求！</div>
                <div nz-form-explain maxlength="16" style="color: red" *ngIf="getFormControl('userName').dirty&&getFormControl('userName').value === ''">请输入手机号！</div>
              </div>
            </label>
          </div>
          <div nz-col nzSpan="2">
          </div>
        </div>
        <div nz-row class="cell_panel">
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="20">
            <label nz-form-item>
              <div nz-form-control nzHasFeedback>
                <input nz-input formControlName="password" placeholder="登录密码" type="password" nzSize="default" (keyup)="($event.which === 13)?onSubmit($event, loginForm):0">
                <div nz-form-explain maxlength="16" style="color: red" *ngIf="getFormControl('password').dirty&&getFormControl('password').value === ''">请输入密码！</div>
              </div>
            </label>
          </div>
          <div nz-col nzSpan="2">
          </div>
        </div>
      </form>
      <div id="resultInfo" style="display: none;"></div>
      <div nz-row class="cell_panel">
        <div nz-col nzSpan="2">
        </div>
        <div nz-col nzSpan="20">
          <button nz-button nzType="primary" nzBlock (click)="onSubmit($event, loginForm)">登录</button>
        </div>
        <div nz-col nzSpan="2">
        </div>
      </div>
    </div>
  </div>
</div>
