#home-title {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 100;
    transition: all 0.4s ease-in;
    &:hover {
        transform: scale(1.1);
        text-shadow: 0px 0px 10px rgba(255, 248, 220, 0.6);
        img {
            opacity: 0.8;
        }
    }
    #home-line-1 {
        margin: 120px 0 0 0;
        font-size: 36px;
    }
    #home-line-2 {
        font-size: 36px;
    }
    #home-line-3 {
        font-size: 36px;
    }
    img {
        position: absolute;
        top: 53px;
        left: -400px;
        opacity: 0;
        transition: opacity 0.8s ease-in-out;
    }
}
