#partner {
    height: 696px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/partner_bg.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    #partner-container {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 100px 50px;
        text-align: center;
        h3 {
            font-size: 34px;
            font-weight: 400;
            font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
            letter-spacing: 6px;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        p {
            color: gray;
            font-size: 12px;
            padding-bottom: 20px;
        }
        #partner-logos {
            width: 900px;
            height: 360px;
            margin: 0;
            list-style: none;
            background-color: #ffffff;
            padding-top: 10px;
            padding-left: 0;
            li {
                display: inline-block;
                margin: 0;
                padding: 0;
                text-align: center;
                ul {
                    list-style: none;
                    margin: 10px auto;
                    padding: 0;
                    width: 100%;
                    li {
                        display: inline-block;
                        width: 140px;
                        height: 60px;
                        overflow: hidden;
                        img {
                            width: 140px;
                            height: 90px;
                            margin: -20px 0 0 -4px;
                            filter: grayscale(100%);
                        }
                        border: 5px solid white;
                    }
                    li:hover {
                        border: 5px solid gold;
                        img {
                            filter: grayscale(0%);
                        }
                    }
                }
            }
        }
    }
}
