<div id="partner">
    <div id="partner-bg-left" class="partner-bg-brand"></div>
    <div id="partner-bg-right" class="partner-bg-brand"></div>
    <div id="partner-container">
        <h3 [class.partner-title-zh]="language == 'zh'" [class.partner-title-en]="language == 'en'">{{nowPartner.title}}</h3>
        <small> </small>
        <ul id="partner-logos">
            <li><img src="/assets/img/partner_logos/aly.jpg" alt="阿里云"></li>
            <li><img src="/assets/img/partner_logos/hl.jpg" alt="鸿利光电"></li>
            <li><img src="/assets/img/partner_logos/hdjt.png" alt="恒大集团"></li>
            <li><img src="/assets/img/partner_logos/gdswst.png" alt="广东省卫生厅"></li>
            <li><img src="/assets/img/partner_logos/bt.png" alt="布塔科技"></li>
            <li><img src="/assets/img/partner_logos/xaa.png" alt="小爱爱"></li>

            <li><img src="/assets/img/partner_logos/qls.jpg" alt="七灵石"></li>
            <li><img src="/assets/img/partner_logos/ogilvy.png" alt="Ogilvy 奥美"></li>
            <li><img src="/assets/img/partner_logos/bd.jpg" alt="本道科技"></li>
            <li><img src="/assets/img/partner_logos/xmly.png" alt="喜马拉雅FM"></li>
            <li><img src="/assets/img/partner_logos/lms.png" alt="李秘书"></li>
            <li><img src="/assets/img/partner_logos/xy.png" alt="XINGYUAN"></li>

            <li><img src="/assets/img/partner_logos/ld.jpg" alt="乐逗游戏"></li>
            <li><img src="/assets/img/partner_logos/dm.jpg" alt="lomark 点媒"></li>
            <li><img src="/assets/img/partner_logos/yhn.png" alt="医和你"></li>
            <li><img src="/assets/img/partner_logos/tit.jpg" alt="Titanium Falcon"></li>
            <li><img src="/assets/img/partner_logos/dmc.png" alt="大麦村"></li>
            <li><img src="/assets/img/partner_logos/gddst.png" alt="广东电视台"></li>

            <li><img src="/assets/img/partner_logos/boost.png" alt="Boostinsider"></li>
            <li><img src="/assets/img/partner_logos/ww.png" alt="旺旺集团"></li>
            <li><img src="/assets/img/partner_logos/zb.png" alt="智伴"></li>
            <li><img src="/assets/img/partner_logos/sy.png" alt="舜语"></li>
            <li><img src="/assets/img/partner_logos/jzr.png" alt="精准人传媒"></li>
            <li><img src="/assets/img/partner_logos/bjx.png" alt="笔记侠"></li>
        </ul>
    </div>
</div>
