#partner {
    width: 100%;
    background-color: #fefefe;

    height: 478px;

    background-image: url(/assets/images/partner_background.png);

    #content-container {
        width: 640px;
        height: 100%;
        margin: 0 auto;
        color: #231916;
        text-align: center;

        h2 {
            font-size: 24px;
            padding-top: 58px;
            padding-bottom: 20px;
            span {
                color: #FFD400;
            }

        }

        p {
            font-size: 10px;
            font-weight: 100;
            padding-bottom: 20px;
        }

        #logos-sm {
            display: none;
        }

        #logos-lg {
            width: 600px;
            height: 264px;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            ul {
                list-style: none;
                margin: 0;padding: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                li {
                    img {
                        width: 90px;
                        height: 60px;
                        filter: grayscale(100%);
                    }

                    border: 2px solid white;
                }

                li:hover {
                    border: 2px solid #DDDBDA;
                    img {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}

