@font-face {
    font-family: "Microsoft-Ya-Hei";
    src: url("/assets/fonts/微软雅黑.ttf") format("truetype");
}

@font-face {
    font-family: "Lan-Ting-Hei";
    src: url("/assets/fonts/兰亭黑.ttf") format("truetype");
}

@font-face {
    font-family: "Dong-Qing-Hei";
    src: url("/assets/fonts/冬青黑体简体中文W3.otf") format("opentype");
}

@font-face {
    font-family: "Lan-Ting-Zhong-Hei";
    src: url("/assets/fonts/方正兰亭中黑_GBK.ttf") format("truetype");
}

@font-face {
    font-family: "Lan-Ting-Kan-Song";
    src: url("/assets/fonts/方正兰亭刊宋_GBK.ttf") format("truetype");
}

@font-face {
    font-family: "Lan-Ting-Te-Hei";
    src: url("/assets/fonts/方正兰亭特黑_GBK.ttf") format("truetype");
}

@font-face {
    font-family: "Lan-Ting-Qian-Hei";
    src: url("/assets/fonts/方正兰亭纤黑_GBK.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
