#partner-m {
    width: 100%;
    background-color: #fefefe;
    #content-container {
        width: 100%;
        margin: 0 auto;
        color: #231916;
        padding: 5% 5% 1% 5%;
        h2 {
            color: black;
            overflow: hidden;
            font-size: 4em;
            padding-bottom: 2%;
            span {
                color: #FFD400;
            }
        }
        p {
            font-size: 2em;
        }
        #logos-sm {
            width: 100%;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            ul {
                list-style: none;
                margin: 0;
                padding: 1%;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                justify-content: space-between;
                li {
                    img {
                        width: 100%;
                        filter: grayscale(100%);
                    }
                    border: 0.5em solid #fefefe;
                }
                li:hover {
                    border: 0.5em solid #DDDBDA;
                    img {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}