<div id="career">
    <div id="career-container">
        <div id="career-title" [class.career-title-zh]="language==='zh'" [class.career-title-en]="language==='en'">
            <h3>{{nowJob.title}}</h3>
            <small>{{nowJob.sub}}</small>
        </div>
        <div id="career-info" [class.career-info-zh]="language==='zh'" [class.career-info-en]="language==='en'">
            <div id="career-job-selected" (click)="selectJob()">
                <span class="career-job-position-profix">{{nowJob.texts[0]}} </span>{{nowJobSingle.title}}
                <span id="career-caret-down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </div>

            <div id="career-job-menu" [hidden]="!isShowJobMenu">
                <ul>
                    <li *ngFor="let job of nowJob.pages; let i = index" (click)="clickJobMenu(i)">
                        <span class="career-job-position-profix">{{nowJob.texts[1]}} </span>{{job.title}}
                    </li>
                </ul>
            </div>
            <div id="career-job-info">
                <div id="career-job-resp">
                    <h5>{{nowJob.texts[2]}}</h5>
                    <ul>
                        <li *ngFor="let description of nowJobSingle.desc;">
                            {{description}}
                        </li>
                    </ul>
                </div>
                <div id="career-job-detail">
                    <h5>{{nowJob.texts[3]}}</h5>
                    <ul>
                        <li *ngFor="let detail of nowJobSingle.details;">
                            {{detail}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="career-hr" [class.career-hr-zh]="language==='zh'" [class.career-hr-en]="language==='en'">
            <p>
                {{nowJob.texts[4]}}
                <a href="mailto:hr@qiwu.ai?Subject=求职" target="_top">hr@qiwu.ai</a>
            </p>
        </div>
    </div>
</div>
