<div id="career">
    <div id="career-container">
        <div id="career-title">
            <h3>加入齐悟</h3>
            <small>加入齐悟，创造未来的人工智能。</small>
        </div>
        <div id="career-info">
            <div id="career-job-selected" (click)="selectJob()">
                <span class="career-job-position-profix">职位： </span>{{nowJob.title}}
                <span id="career-caret-down"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
            </div>

            <div id="career-job-menu" [hidden]="!isShowJobMenu">
                <ul>
                    <li *ngFor="let job of jobs; let i = index" (click)="clickJobMenu(i)">
                        <span class="career-job-position-profix">职位： </span>{{job.title}}
                    </li>
                </ul>
            </div>
            <div id="career-job-info">
                <div id="career-job-resp">
                    <h5>工作职责：</h5>
                    <ul *ngFor="let description of nowJob.desc;">
                        <li>
                            {{description}}
                        </li>
                    </ul>
                </div>
                <div id="career-job-detail">
                    <h5>职位要求：</h5>
                    <ul>
                        <li *ngFor="let detail of nowJob.details;">
                            {{detail}}
                        </li>
                    </ul>
                </div>
                <div id="career-job-right">
                    <div id="career-job-salary">
                        <h5>薪资范围：</h5>
                        <p>{{nowJob.salary}}</p>
                    </div>
                    <div id="career-job-time">
                        <h5>有效时间：</h5>
                        <p>{{nowJob.time}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="career-hr">
            <p>
                如果你对以上任一职位感兴趣，请你提供详细丰富的个人简历，请发送至：<br>
                <a href="mailto:hr@qiwu.ai?Subject=求职" target="_top">hr@qiwu.ai</a>
            </p>
        </div>
    </div>
</div>
