#career {
    height: 701px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/career_bg_1.png);
    background-position: center;
    #career-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding: 100px 60px;
        color: lightgray;
        #career-title {
            margin-top: 15px;
            margin-bottom: 20px;
            text-align: center;
            h2 {
                font-size: 33px;
                font-weight: bold;
                color: #ffffff;
                padding-bottom: 20px;
                margin: 0;
            }
            small {
                font-size: 14px;
            }
        }
        #career-info {
            font-size: 18px;
            position: relative;
            .career-job-position-profix {
                color: #ffffff;
            }
            div {
                color: lightgray;
                span {
                    color: white;
                }
            }
            #career-job-selected {
                position: relative;
                width: 500px;
                padding: 10px 25px;
                background-color: rgba(255, 255, 255, 0.1);
                color: lightgray;
                #career-caret-down {
                    position: absolute;
                    right: 15px;
                    color: gold;
                }
            }
            #career-job-menu {
                position: absolute;
                width: 500px;
                margin-top: 20px;
                z-index: 2;
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    li {
                        padding: 10px 25px;
                        border: solid 1px #ffffff;
                        margin-bottom: 3px;
                        background-color: rgba(9, 37, 59, 0.8);

                        &:hover {
                            background-color: gold;
                            color: black;
                            span {
                                color: black;
                            }
                        }
                    }
                }
            }
            #career-job-detail {
                font-size: 18px;
                position: relative;
                margin-top: 20px;
                padding: 30px 25px 20px 25px;
                background-color: rgba(255, 255, 255, 0.1);
                color: lightgray;
                font-weight: 100;
                line-height: 35px;
                h5 {
                    font-size: 18px;
                    color: #ffffff;
                }
                #career-job-qual {
                    ul {
                        list-style-position: inside;
                        padding-left: 0;
                    }
                }
                #career-job-right {
                    position: absolute;
                    top: 18px;
                    left: 530px;
                    line-height: 50px;
                    h5,
                    p {
                        display: inline;
                    }
                }
            }
        }
    }
}
