<div id="career">
    <div id="career-container">
        <div id="career-title">
            <h2>加 入 齐 悟</h2>
            <small>加 入 齐 悟，创 造 未 来 的 人 工 智 能。</small>
        </div>
        <div id="career-info">
            <div id="career-job-position">
                <select name="position">
                    <option value="senior-ai-algor-engineer"><span class="career-job-position-profix">职位：</span>AI高级算法工程师</option>
                    <option value="web-developer"><span class="career-job-position-profix">职位：</span>网络开发工程师</option>
                    <option value="game-developer"><span class="career-job-position-profix">职位：</span>游戏开发工程师</option>
                </select>
            </div>
            <div id="career-job-detail">
                <div id="career-job-resp">
                    <h5>工作职责：</h5>
                    <p>研发世界领先的技术，用于聊天机器人各个模块</p>
                </div>
                <div id="career-job-qual">
                    <h5>职位要求：</h5>
                    <ul>
                        <li>博士毕业（NLP专业）</li>
                        <li>对自然语言处理技术，有浓厚兴趣，并有自己独创的技术</li>
                        <li>熟练掌握Java和Python</li>
                        <li>有两年以上用Java或Python开发自然语言处理系统的经验（包括博士在读期间）</li>
                        <li>熟悉Linux系统环境下的开发</li>
                    </ul>
                </div>
                <div id="career-job-right">
                    <div id="career-job-salary">
                        <h5>薪资范围：</h5>
                        <p>¥25000-¥50000</p>
                    </div>
                    <div id="career-job-time">
                        <h5>有效时间：</h5>
                        <p>2017.7.31-2017.9,1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>