<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x: '1800px',y: '520px'}" *ngIf="!isSpinning">
  <thead nzWidth="100px">
    <tr>
      <th nzWidth="50px" nzLeft="0px">序号</th>
      <th nzWidth="100px" nzLeft="105px">时间</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[0].checked">唤醒天气人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[1].checked">唤醒天气行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[2].checked">天气对话轮数（总）</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[3].checked">天气日最高对话轮数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[4].checked">查询日期的次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[5].checked">查询地点的次数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[6].checked">查询多天的次数</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px" nzLeft="0px">{{i+1}}</td>
      <td nzWidth="100px" nzLeft="105px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[0].checked">{{data.awakWeatherUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[1].checked">{{data.awakWeatherCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[2].checked">{{data.weatherSessionCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[3].checked">{{data.weatherSessionMax}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[4].checked">{{data.weatherQueryDate}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[5].checked">{{data.weatherQuerySite}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.weather[6].checked">{{data.weatherMultiDay}}</td>
    </tr>
  </tbody>
</nz-table>
