<nz-card style="width: 100%;">
  <nz-card-tab>
    <nz-tabset nzSize="large">
      <nz-tab nzTitle="天气BOT">
        <form [formGroup]="searchForm">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="1"></div>

            <div nz-col nzSpan="3" class="span_down right_alignment">
              查询日期范围：
            </div>
            <div nz-col nzSpan="9" class="span_down">
              <nz-range-picker formControlName="date" required [nzFormat]="'yyyy-MM-dd'"></nz-range-picker>
            </div>

            <div nz-col nzSpan="2" class="span_down spacing right_alignment">
              来源：
            </div>
            <div nz-col nzSpan="4">
              <nz-select [ngModel]="''" formControlName="status">
                <nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                <nz-option required [nzLabel]="'ios官方'" [nzValue]="'0'"></nz-option>
                <nz-option required [nzLabel]="'ios越狱'" [nzValue]="'1'"></nz-option>
                <nz-option required [nzLabel]="'And官方'" [nzValue]="'2'"></nz-option>
                <nz-option required [nzLabel]="'And-小米'" [nzValue]="'3'"></nz-option>
                <nz-option required [nzLabel]="'And-vivo'" [nzValue]="'4'"></nz-option>
              </nz-select>
            </div>

            <div nz-col nzSpan="1"></div>

            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="doSearch()"><i class="anticon anticon-search"></i>查询</button>
            </div>
          </div>
        </form>

        <nz-table #rowSelectionTable [nzData]="dataResult" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>序号</th>
              <th>时间</th>
              <th>唤醒天气人次</th>
              <th>唤醒天气行为数</th>
              <th>天气对话轮数（总）</th>
              <th>天气日最高对话轮数</th>
              <th>查询日期的次数</th>
              <th>查询地点的次数</th>
              <th>查询多天的次数</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
              <td>{{i+1}}</td>
              <td>{{data.updateDateTime | date:'yy-MM-dd HH:mm:ss'}}</td>
              <td>{{data.awakWeatherUsers}}</td>
              <td>{{data.awakWeatherCount}}</td>
              <td>{{data.weatherSessionCount}}</td>
              <td>{{data.weatherSessionMax}}</td>
              <td>{{data.weatherQueryDate}}</td>
              <td>{{data.weatherQuerySite}}</td>
              <td>{{data.weatherMultiDay}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>
</nz-card>
