// 卡片的内容去除
.ant-card-body {
  display: none!important;
}

// 分页功能定制：底部增加空间
.ant-card-head {
  padding: 0px 24px 15px 24px!important;
}

// 行添加下移
.ant-row {
  margin-bottom: 10px;
}

// 字体靠左
.left_alignment {
  text-align: left;
}

// 字体靠右
.right_alignment {
  text-align: right;
}

// 全局的progress，适应弹框出来无法识别的情况
.ant-progress-text {
  color: burlywood;
}

// 全局的radio单选调整高度
.ant-radio-wrapper {
  line-height: 30px;
}

// 全局的nz-radio-group下的label的margin-left清空
.ant-checkbox-wrapper+.ant-checkbox-wrapper {
  margin-left: 0;
}

// 所有card处理成百分百撑开
.ant-card-bordered {
  width: 100%;
}

// 表格的底部样式以及颜色调整
.ant-table-footer {
  background-color: #fff!important;
  padding: 5px 0px 0px 5px!important;
}

.ant-table-tbody[_ngcontent-c0] > tr[_ngcontent-c0]:nth-child(2n-1) > td[_ngcontent-c0],
.ant-table-tbody[_ngcontent-c1] > tr[_ngcontent-c1]:nth-child(2n-1) > td[_ngcontent-c1],
.ant-table-tbody[_ngcontent-c2] > tr[_ngcontent-c2]:nth-child(2n-1) > td[_ngcontent-c2],
.ant-table-tbody[_ngcontent-c3] > tr[_ngcontent-c3]:nth-child(2n-1) > td[_ngcontent-c3],
.ant-table-tbody[_ngcontent-c4] > tr[_ngcontent-c4]:nth-child(2n-1) > td[_ngcontent-c4],
.ant-table-tbody[_ngcontent-c5] > tr[_ngcontent-c5]:nth-child(2n-1) > td[_ngcontent-c5],
.ant-table-tbody[_ngcontent-c6] > tr[_ngcontent-c6]:nth-child(2n-1) > td[_ngcontent-c6],
.ant-table-tbody[_ngcontent-c7] > tr[_ngcontent-c7]:nth-child(2n-1) > td[_ngcontent-c7],
.ant-table-tbody[_ngcontent-c8] > tr[_ngcontent-c8]:nth-child(2n-1) > td[_ngcontent-c8],
.ant-table-tbody[_ngcontent-c9] > tr[_ngcontent-c9]:nth-child(2n-1) > td[_ngcontent-c9],
.ant-table-tbody[_ngcontent-c10] > tr[_ngcontent-c10]:nth-child(2n-1) > td[_ngcontent-c10],
.ant-table-tbody[_ngcontent-c11] > tr[_ngcontent-c11]:nth-child(2n-1) > td[_ngcontent-c11],
.ant-table-tbody[_ngcontent-c12] > tr[_ngcontent-c12]:nth-child(2n-1) > td[_ngcontent-c12],
.ant-table-tbody[_ngcontent-c13] > tr[_ngcontent-c13]:nth-child(2n-1) > td[_ngcontent-c13],
.ant-table-tbody[_ngcontent-c14] > tr[_ngcontent-c14]:nth-child(2n-1) > td[_ngcontent-c14],
.ant-table-tbody[_ngcontent-c15] > tr[_ngcontent-c15]:nth-child(2n-1) > td[_ngcontent-c15],
.ant-table-tbody[_ngcontent-c16] > tr[_ngcontent-c16]:nth-child(2n-1) > td[_ngcontent-c16],
.ant-table-tbody[_ngcontent-c17] > tr[_ngcontent-c17]:nth-child(2n-1) > td[_ngcontent-c17],
.ant-table-tbody[_ngcontent-c18] > tr[_ngcontent-c18]:nth-child(2n-1) > td[_ngcontent-c18],
.ant-table-tbody[_ngcontent-c19] > tr[_ngcontent-c19]:nth-child(2n-1) > td[_ngcontent-c19],
.ant-table-tbody[_ngcontent-c20] > tr[_ngcontent-c20]:nth-child(2n-1) > td[_ngcontent-c20],
.ant-table-tbody[_ngcontent-c21] > tr[_ngcontent-c21]:nth-child(2n-1) > td[_ngcontent-c21],
.ant-table-tbody[_ngcontent-c22] > tr[_ngcontent-c22]:nth-child(2n-1) > td[_ngcontent-c22],
.ant-table-tbody[_ngcontent-c23] > tr[_ngcontent-c23]:nth-child(2n-1) > td[_ngcontent-c23],
.ant-table-tbody[_ngcontent-c24] > tr[_ngcontent-c24]:nth-child(2n-1) > td[_ngcontent-c24]{
  background-color:#F8F8F8;
}

// 调整所有行的字位置
.ant-col-1, .ant-col-10, .ant-col-11, .ant-col-12, .ant-col-13, .ant-col-14, .ant-col-15, .ant-col-16, .ant-col-17, .ant-col-18, .ant-col-19, .ant-col-2, .ant-col-20, .ant-col-21, .ant-col-22, .ant-col-23, .ant-col-24, .ant-col-3, .ant-col-4, .ant-col-5, .ant-col-6, .ant-col-7, .ant-col-8, .ant-col-9 {
  line-height: 30px;
}
