<div class="container-fluid">
    <div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        <label class="col-sm-2 control-label">Username</label>
        <input class="form-control" type="text" name="username" id="username"><br />
        <label class="col-sm-2 control-label">Password</label>
        <input class="form-control" type="password" name="password" id="password"><br />
        <select class="form-control" name="server">
            <option value="aliyun">Aliyun</option>
            <option value="aliyun_test">Aliyun-Test</option>
        </select><br />
        <input class="btn btn-primary" type="submit" value="Restart">
    </form>
    </div>
</div>