<div id="contact">
    <div id="contact-container">
        <div id="contact-left-part" [class.contact-left-zh]="language==='zh'" [class.contact-left-en]="language==='en'">
            <h3>{{nowContact.title}}</h3>
            <form id="contact-send-email" action="mailto:contact@qiwu.ai" method="post" enctype="text/plain">
                <input type="text" name="name" [placeholder]="nowContact.left.name">
                <input type="text" name="email" [placeholder]="nowContact.left.email">
                <textarea type="text" [placeholder]="nowContact.left.msg" name="comment" rows="5"></textarea>
                <button type="submit" form="contact-send-email" value="Submit">{{nowContact.left.submit}}</button>
            </form>
        </div>
        <div id="contact-right-part" [class.contact-right-zh]="language==='zh'" [class.contact-right-en]="language==='en'">
            <ul id="contact-info">
                <li>
                    <span class="contact-info-li-prefix">{{nowContact.right.title}}</span>
                </li>
                <li>
                    <a href="http://www.centaurstech.com/" target="_blank">{{nowContact.right.company.zh}}</a>
                </li>
                <li>
                    <a href="http://www.centaurstech.com/" target="_blank">{{nowContact.right.company.en}}</a>
                </li>
                <li>
                    <span class="contact-info-li-prefix">{{nowContact.right.tel.l1}}</span>{{nowContact.right.tel.l2}}</li>
                <li>
                    <span class="contact-info-li-prefix">{{nowContact.right.email.l1}}</span>{{nowContact.right.email.l2}}</li>
                <li>
                    <span class="contact-info-li-prefix">{{nowContact.right.addr.l1}}</span>{{nowContact.right.addr.l2}}
                    <br>
                    <span id="contact-info-addr-2">{{nowContact.right.addr.l3}}</span>
                </li>
                <li>
                    <a href="http://weibo.com/p/1006066360988232/home?from=page_100606&mod=TAB#place" id="contact-weibo" target="_blank">
                        <i class="fa fa-weibo" aria-hidden="true"></i>
                    </a>
                    <span id="contact-wechat">
                        <i class="fa fa-weixin" aria-hidden="true"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div id="contact-wechat-barcode" style="display: none;">
            <img src="/assets/img/wechat_barcode.jpeg" alt="WeChat">
        </div>
    </div>
</div>
