#contact {
    height: 546px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    #contact-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding: 80px 90px;
        background-color: #ffffff;
        #contact-left-part {
            h3 {
                margin: 0;
            }
            input,
            textarea,
            button {
                display: block;
                margin-top: 20px;
                padding: 15px 10px;
                border: none;
                outline: none;
                line-height: 20px;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: lightgrey;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: lightgrey;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: lightgrey;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: lightgrey;
                }
            }
            input {
                width: 460px;
                box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
            }
            textarea {
                width: 100%;
                box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
            }
            button {
                width: 100%;
                padding: 12px;
                background-color: gold;
                color: #000000;
                a {
                    text-decoration: none;
                    color: inherit;
                    font-weight: bold;
                }
                a:hover {
                    color: #ffffff;
                }
            }
        }
        .contact-left-zh {
            h3 {
                font-size: 34px;
                font-weight: 400;
                font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
                letter-spacing: 6px;
            }
            input,
            textarea,
            button {
                font-size: 14px;
                font-weight: lighter;
                letter-spacing: 2px;
            }
        }
        .contact-left-en {
            h3 {
                font-size: 28px;
                font-weight: 600;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                letter-spacing: 2px;
            }
            input,
            textarea,
            button {
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
        #contact-right-part {
            position: absolute;
            top: 86px;
            font-size: 14px;
            left: 600px;
            letter-spacing: 1px;
            #contact-info {
                list-style: none;
                color: grey;
                .contact-info-li-prefix {
                    font-weight: bold;
                    color: #000000;
                }
                li {
                    line-height: 20px;
                    margin-bottom: 2px;
                    font-size: 12px;
                    font-weight: 100;
                    span {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    #contact-info-blank {
                        margin-top: 3px;
                    }
                    #contact-info-addr-2 {
                        font-size: 12px;
                        font-weight: 100;
                    }
                }
                li:nth-child(4) {
                    margin-top: 12px;
                }
                li:last-child {
                    margin-top: 12px;
                    color: black;
                    a,
                    span {
                        padding-right: 15px;
                    }
                    cursor: pointer;
                }
            }
        }
        .contact-right-zh {}
        .contact-right-en {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            ul {
                li {
                    .contact-info-li-prefix {
                        display: inline-block;
                        width: 50px;
                    }
                    #contact-info-addr-2 {
                        padding-left: 50px;
                    }
                }
            }
        }
        #contact-wechat-barcode {
            position: absolute;
            top: 60px;
            left: 90px;
            box-shadow: 5px 5px 20px #cccccc;
        }
    }
}
