<div nz-row class="search_panel">
  <form [formGroup]="searchBeanForm">
    <div nz-col nzSpan="2" class="span_down spacing right_alignment">
      活动名称：
    </div>
    <div nz-col nzSpan="3">
      <input nz-input maxlength="32" formControlName="title" placeholder="输入订单编号" nzSize="default">
    </div>

    <div nz-col nzSpan="1"></div>

    <div nz-col nzSpan="2" class="span_down right_alignment">
      有效时间：
    </div>
    <div nz-col nzSpan="7" class="span_down">
      <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd hh:mm:ss'" [nzShowToday]="true" ngModel [nzRanges]="dateSearch" (ngModelChange)="onChange($event, 'searchBean')"></nz-range-picker>
    </div>

    <div nz-col nzSpan="3"></div>

    <div nz-col nzSpan="2">
      <button nz-button nzType="primary" (click)="loadData('bean')"><i class="anticon anticon-search"></i>查询</button>
    </div>

    <div nz-col nzSpan="1"></div>

    <div nz-col nzSpan="3">
      <button nz-button nzType="primary" (click)="showModal('', 'addBean')"><i class="anticon anticon-file-add"></i>新增活动</button>
    </div>
  </form>
</div>
<nz-table #rowSelectionTable [nzData]="beanData" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" *ngIf="!isSpinning">
  <thead nzWidth="100px">
    <tr>
      <th nzWidth="50px">序号</th>
      <th>活动名称</th>
      <th>送豆规则</th>
      <th>有效时间</th>
      <th>活动状态</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td>{{data.title}}</td>
      <td>{{data.describe}}</td>
      <td>{{data.beginTime | date:'yyyy-MM-dd hh:mm:ss'}}——{{data.endTime | date:'yyyy-MM-dd hh:mm:ss'}}</td>
      <td>{{data.activeStatus}}</td>
      <td>{{data.createTime}}</td>
      <td>
        <button nz-button nzType="primary" (click)="showModal(data, 'searchBean')" style="margin-right: 10px;"><i
            class="anticon anticon-eye"></i>查看</button>
        <button nz-button nzType="primary" (click)="showModal(data, 'modifyBean')" style="margin-right: 10px;"><i
            class="anticon anticon-form"></i>编辑</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>

<!-- 弹框 —— 新增 —— 新增活动 -->
<nz-modal [(nzVisible)]="isAddBeanVisible" nzWidth="1150" nzTitle="新增活动" [nzFooter]="addBeanModalFooter" nzClosable="false" (nzOnCancel)="hideModal('addBean')">
  <form [formGroup]="addBeanForm">
    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">基本信息</div>
    </div>
    <div nz-row class="search_panel">
      <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>活动名称：</div>
      <div nz-col nzSpan="9">
        <input nz-input maxlength="12" [(ngModel)]="beanItem.title" formControlName="title" placeholder="请输入活动名称" nzSize="default">
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
        活动名称，最多20字符，超过20字符，无法继续输入
      </div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>活动文案：</div>
      <div nz-col nzSpan="9">
        <textarea rows="2" formControlName="describe" [(ngModel)]="beanItem.describe" maxlength="50" nz-input placeholder="输入活动文案，不超过100个字符"></textarea>
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
          活动文案，不限字数<br>
          客户端读取，活动文案
      </div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">活动时间</div>
    </div>
    <div nz-row class="search_panel">
      <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>有效时间：</div>
      <div nz-col nzSpan="9">
        <nz-range-picker [nzFormat]="'yyyy-MM-dd hh:mm:ss'" formControlName="date" [nzShowToday]="true" ngModel [nzRanges]="dateSearch" (ngModelChange)="onChange($event, 'searchBean')"></nz-range-picker>
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
        时间精细到，年-月-日，时分秒
      </div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">送豆规则</div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down">
        <nz-radio-group [(ngModel)]="radioValue" formControlName="type">
          <label nz-radio nzValue="PERCENT_GIFT">充值送豆百分比</label>
          <label nz-radio nzValue="FIXED_QUOTA_GIFT">充值送豆固定额度</label>
        </nz-radio-group>
      </div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="1" class="span_down" style="text-align: center;">满</div>
      <div nz-col nzSpan="3" class="span_down">
        <input nz-input formControlName="depositAmount" [(ngModel)]="beanItem.depositAmount" nzSize="default">
      </div>
      <div nz-col nzSpan="1" class="span_down" style="text-align: center;">送</div>
      <div nz-col nzSpan="3" class="span_down" *ngIf="radioValue === 'PERCENT_GIFT'">
        <input nz-input formControlName="giftPercent" [(ngModel)]="beanItem.giftPercent" nzSize="default">
      </div>
      <div nz-col nzSpan="3" class="span_down" *ngIf="radioValue === 'FIXED_QUOTA_GIFT'">
        <input nz-input formControlName="giftAmount" [(ngModel)]="beanItem.giftAmount" nzSize="default">
      </div>
      <div nz-col nzSpan="2" class="span_down" style="text-align: center;">{{radioValue === 'PERCENT_GIFT' ? '%' : ''}}&nbsp;&nbsp;小悟豆</div>
      <div nz-col nzSpan="2" class="span_down"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
        说明：完成充值时，充值金额满100送10%，范围1-99%
      </div>
    </div>

  </form>
  <!-- 弹框和底部定制 -->
  <ng-template #addBeanModalFooter>
    <button nz-button nzType="primary" (click)="doSave('addBean')">保存</button>
    <button nz-button nzType="default" (click)="hideModal('addBean')">取消</button>
  </ng-template>
</nz-modal>

<!-- 弹框 —— 修改 —— 修改活动 -->
<nz-modal [(nzVisible)]="isModifyBeanVisible" nzWidth="1150" nzTitle="修改活动" [nzFooter]="modifyBeanModalFooter" nzClosable="false" (nzOnCancel)="hideModal('modifyBean')">
  <form [formGroup]="modifyBeanForm">
    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">基本信息</div>
    </div>
    <div nz-row class="search_panel">
      <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>活动名称：</div>
      <div nz-col nzSpan="9">
        <input nz-input maxlength="12" [(ngModel)]="beanItem.title" formControlName="title" placeholder="请输入活动名称" nzSize="default">
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
        活动名称，最多20字符，超过20字符，无法继续输入
      </div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>活动文案：</div>
      <div nz-col nzSpan="9">
        <textarea rows="2" formControlName="describe" [(ngModel)]="beanItem.describe" maxlength="50" nz-input placeholder="输入活动文案，不超过100个字符"></textarea>
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
          活动文案，不限字数<br>
          客户端读取，活动文案
      </div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">活动时间</div>
    </div>
    <div nz-row class="search_panel">
      <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>有效时间：</div>
      <div nz-col nzSpan="9">
        <nz-range-picker [nzFormat]="'yyyy-MM-dd hh:mm:ss'" formControlName="date" [nzShowToday]="true" ngModel [nzRanges]="dateSearch" (ngModelChange)="onChange($event, 'searchBean')"></nz-range-picker>
      </div>
      <div nz-col nzSpan="1"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
        时间精细到，年-月-日，时分秒
      </div>
    </div>
    <div nz-row class="search_panel">
      <div nz-col nzSpan="2"></div>
      <div nz-col nzSpan="22" class="span_down">{{beanItem.beginTime}}&nbsp;&nbsp;~&nbsp;&nbsp;{{beanItem.endTime}}</div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">送豆规则</div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="24" class="span_down">
        <nz-radio-group [(ngModel)]="radioValue" formControlName="type">
            <label nz-radio nzValue="PERCENT_GIFT">充值送豆百分比</label>
            <label nz-radio nzValue="FIXED_QUOTA_GIFT">充值送豆固定额度</label>
        </nz-radio-group>
      </div>
    </div>

    <div nz-row class="search_panel">
      <div nz-col nzSpan="1" class="span_down" style="text-align: center;">满</div>
      <div nz-col nzSpan="3" class="span_down">
        <input nz-input formControlName="depositAmount" [(ngModel)]="beanItem.depositAmount" nzSize="default">
      </div>
      <div nz-col nzSpan="1" class="span_down" style="text-align: center;">送</div>
      <div nz-col nzSpan="3" class="span_down" *ngIf="radioValue === 'PERCENT_GIFT'">
        <input nz-input formControlName="giftPercent" [(ngModel)]="beanItem.giftPercent" nzSize="default">
      </div>
      <div nz-col nzSpan="3" class="span_down" *ngIf="radioValue === 'FIXED_QUOTA_GIFT'">
        <input nz-input formControlName="giftAmount" [(ngModel)]="beanItem.giftAmount" nzSize="default">
      </div>
      <div nz-col nzSpan="2" class="span_down" style="text-align: center;">{{radioValue === 'PERCENT_GIFT' ? '%' : ''}}&nbsp;&nbsp;小悟豆</div>
      <div nz-col nzSpan="2" class="span_down"></div>
      <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
        说明：完成充值时，充值金额满100送10%，范围1-99%
      </div>
    </div>

  </form>
  <!-- 弹框和底部定制 -->
  <ng-template #modifyBeanModalFooter>
    <button nz-button nzType="primary" (click)="doSave('modifyBean')">保存</button>
    <button nz-button nzType="default" (click)="hideModal('modifyBean')">取消</button>
  </ng-template>
</nz-modal>

<!-- 弹框 —— 查看 —— 查看活动 -->
<nz-modal [(nzVisible)]="isSearchBeanVisible" nzWidth="1150" nzTitle="查看活动" [nzFooter]="searchBeanModalFooter" nzClosable="false" (nzOnCancel)="hideModal('searchBean')">
  <div nz-row class="search_panel">
    <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">基本信息</div>
  </div>
  <div nz-row class="search_panel">
    <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>活动名称：</div>
    <div nz-col nzSpan="9" class="span_down">
      {{beanItem.title}}
    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
      活动名称，最多20字符，超过20字符，无法继续输入
    </div>
  </div>

  <div nz-row class="search_panel">
    <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>活动文案：</div>
    <div nz-col nzSpan="9" class="span_down">
        {{beanItem.describe}}
    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
        活动文案，不限字数<br>
        客户端读取，活动文案
    </div>
  </div>

  <div nz-row class="search_panel">
    <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">活动时间</div>
  </div>
  <div nz-row class="search_panel">
    <div nz-col nzSpan="2" class="span_down right_alignment"><font color="red">*</font>有效时间：</div>
    <div nz-col nzSpan="9" class="span_down">
      {{beanItem.beginTime | date:'yyyy-MM-dd hh:mm:ss'}}——{{beanItem.endTime | date:'yyyy-MM-dd hh:mm:ss'}}
    </div>
    <div nz-col nzSpan="1"></div>
    <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
      时间精细到，年-月-日，时分秒
    </div>
  </div>

  <div nz-row class="search_panel">
    <div nz-col nzSpan="24" class="span_down" style="font-size: 20px;font-weight: bold;">送豆规则</div>
  </div>

  <div nz-row class="search_panel">
    <div nz-col nzSpan="24" class="span_down">
      <nz-radio-group [(ngModel)]="radioValue">
        <label nz-radio nzValue="PERCENT_GIFT" [nzDisabled]="radioValue === 'FIXED_QUOTA_GIFT'">充值送豆百分比</label>
        <label nz-radio nzValue="FIXED_QUOTA_GIFT" [nzDisabled]="radioValue === 'PERCENT_GIFT'">充值送豆固定额度</label>
      </nz-radio-group>
    </div>
  </div>

  <div nz-row class="search_panel">
    <div nz-col nzSpan="1" class="span_down" style="text-align: center;">满</div>
    <div nz-col nzSpan="3" class="span_down" style="text-align: center;">
      {{beanItem.depositAmount}}
    </div>
    <div nz-col nzSpan="1" class="span_down" style="text-align: center;">送</div>
    <div nz-col nzSpan="3" class="span_down" style="text-align: center;">
      {{radioValue === 'PERCENT_GIFT' ? (beanItem.giftPercent * 100) : beanItem.giftAmount}}
    </div>
    <div nz-col nzSpan="2" class="span_down" style="text-align: center;">{{radioValue === 'PERCENT_GIFT' ? '%' : ''}}&nbsp;&nbsp;小悟豆</div>
    <div nz-col nzSpan="2" class="span_down"></div>
    <div nz-col nzSpan="8" class="span_down" style="font-size: 12px;color: #A9A9A9">
      说明：完成充值时，充值金额满100送10%，范围1-99%
    </div>
  </div>

  <!-- 弹框和底部定制 -->
  <ng-template #searchBeanModalFooter>
    <button nz-button nzType="default" (click)="hideModal('searchBean')">关闭</button>
  </ng-template>
</nz-modal>
