123

<!-- <div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div> -->
<!-- <nz-table #rowSelectionTable [nzData]="commonService.commonOperate" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x: '1800px',y: '520px'}" *ngIf="!isSpinning">
  <thead nzWidth="100px">
    <tr>
      <th nzWidth="50px">序号</th>
      <th nzWidth="100px">时间</th>
      <th nzWidth="100px">唤醒天气人次</th>
      <th nzWidth="100px">唤醒天气行为数</th>
      <th nzWidth="100px">天气对话轮数（总）</th>
      <th nzWidth="100px">天气日最高对话轮数</th>
      <th nzWidth="100px">查询日期的次数</th>
      <th nzWidth="100px">查询地点的次数</th>
      <th nzWidth="100px">查询多天的次数</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td nzWidth="100px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.awakWeatherUsers}}</td>
      <td nzWidth="100px">{{data.awakWeatherCount}}</td>
      <td nzWidth="100px">{{data.weatherSessionCount}}</td>
      <td nzWidth="100px">{{data.weatherSessionMax}}</td>
      <td nzWidth="100px">{{data.weatherQueryDate}}</td>
      <td nzWidth="100px">{{data.weatherQuerySite}}</td>
      <td nzWidth="100px">{{data.weatherMultiDay}}</td>
    </tr>
  </tbody>
</nz-table> -->
