<div id="contact-m">
    <div id="contact-container">
        <ul id="contact-info">
            <li>
                <div class="contact-item-icon">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                </div>
                <h5>深圳市人马互动科技有限公司</h5>
                <p>Centaurs Technologies Co., Ltd.</p>
            </li>
            <li>
                <div class="contact-item-icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <h5>contact@qiwu.ai</h5>
                <p>邮箱</p>
            </li>
            <li>
                <div class="contact-item-icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <h5>0755-86968772</h5>
                <p>联系方式</p>
            </li>
            <li>
                <div class="contact-item-icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <h5>深圳市南山区留学生创业大厦2007室</h5>
                <p>地址</p>
            </li>
        </ul>
        <div id="contact-brand-logo">
            <img src="/assets/img/brand_logo_mob_2.png">
        </div>
    </div>
</div>
