#contact-m {
    width: 100%;
    background-color: #FEFEFE;
    padding: 5% 5% 1% 5%;
    #contact-container {
        #contact-left-part {
            h2 {
                font-size: 4em;
                color: black;
                margin: 0 0 5% 0;
                overflow: hidden;
            }
            h3 {
                font-size: 3em;
                color: #FFD400;
                margin: 1% 0 3% 0;
                padding: 0;
            }
            #info {
                list-style: none;
                padding: 0;
                margin: 1% 0 1% 0;
                li {
                    font-size: 2.33em;
                    padding: 0;
                    margin: 0;
                    i {
                        margin-right: 1%;
                    }
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
        }
        #contact-form {
            margin: 2% 0 3% 0;
            form {
                input {
                    width: 100%; 
                    border: 0;
                    background-color: #EEEEEE;
                    font-size: 2em;
                    padding: 1% 3% 1% 3%;
                    margin-bottom: 2%;
                }
                textarea {
                    width: 100%;
                    border: 0;
                    background-color: #EEEEEE;
                    resize: none;
                    font-size: 2em;
                    padding: 1% 3% 1% 3%;
                    margin-bottom: 2%;
                }
                a {
                    text-decoration: none;
                    text-align: center;
                    background-color: #FFD400;
                    font-size: 2.33em;
                    padding: 1% 8% 1% 8%;
                    color: black;
                }
            }
        }
    }
}