#contact-m {
    width: 100vw;
    margin: 0 auto;
    margin-top: calc( 8rem + 1vh * 2);
    background-color: rgba(166, 166, 166, 0.05);
    #contact-container {
        --padding-a: 8vw;
        height: 100%;
        margin: 0;
        text-align: center;
        padding: calc(var(--padding-a));
        ul#contact-info {
            padding: 0;
            margin: 0;
            margin-bottom: calc(var(--padding-a));
            list-style: none;
            background-color: rgba(255, 255, 255, 0);
            li {
                --item-size: calc(100vw - var(--padding-a) * 2.2);
                display: inline-block;
                width: calc(var(--item-size));
                text-align: center;
                margin: 0;
                padding: calc(var(--padding-a) * 0.8);
                display: inline-block;
                overflow: hidden;
                background-color: white;
                .contact-item-icon {
                    float: left;
                    font-size: 6rem;
                    padding-right: calc(var(--padding-a) * 0.8);
                    text-align: center;
                    vertical-align: middle;
                }
                .contact-item-text {
                    padding: 0;
                    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
                    text-align: left;
                    h5 {
                        font-size: 3.4rem;
                        font-weight: 100;
                        letter-spacing: 1px;
                    }
                    p {
                        font-size: 3rem;
                        font-weight: 100;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        #contact-brand-logo {
            position: relative;
            margin: 0 auto;
            text-align: center;
            img {
                width: 30vw;
            }
        }
    }
}
