<app-left-nav></app-left-nav>
<div class="news" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card>
    <nz-card-tab>
      <nz-tabset nzSize="large">

        <nz-tab [nzTitle]="taggingNewsTemplate" (nzClick)="changePanel('taggingNews')" *ngIf="commonService.haveMenuPermission('children', '人工标注')">
          <ng-template #taggingNewsTemplate><i class="anticon anticon-flag"></i>人工标注</ng-template>
          <div nz-row>
            <form [formGroup]="taggingNewsSearchForm">
              <div nz-col nzSpan="2" class="right_alignment">标注状态：</div>
              <div nz-col nzSpan="4">
                <nz-select formControlName="status">
                  <nz-option required [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'未完成'" [nzValue]="'NEW'"></nz-option>
                  <nz-option required [nzLabel]="'已完成'" [nzValue]="'MARKED'"></nz-option>
                </nz-select>
              </div>

              <div nz-col nzSpan="2" class="right_alignment">上传时间：</div>
              <div nz-col nzSpan="7">
                <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd HH:mm:ss'" [nzShowToday]="true" ngModel [nzRanges]="commonService.dateSearch" (ngModelChange)="onChange($event, 'taggingNews')" nzShowTime></nz-range-picker>
              </div>

            </form>
            <div nz-col nzSpan="7"></div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('taggingNews')"><i class="anticon anticon-search"></i>查询</button>
            </div>
          </div>
          <nz-table nzBordered #taggingNewsTable [nzData]="dataTaggingNews" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
            <thead>
              <tr>
                <th>序号</th>
                <th>词条数</th>
                <th>已分类词条数</th>
                <th>人名</th>
                <th>地名</th>
                <th>事件</th>
                <th>无效</th>
                <th>标注状态</th>
                <th>上传时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of taggingNewsTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.totalCount}}</td>
                <td>{{data.markedCount}}</td>
                <td>{{data.personMarkedCount}}</td>
                <td>{{data.addressMarkedCount}}</td>
                <td>{{data.eventMarkedCount}}</td>
                <td>{{data.invalidMarkedCount}}</td>
                <td>{{data.status === 'NEW' ? '未完成' : data.status === 'MARKED' ? '已完成' : ''}}</td>
                <td>{{data.uploadTime}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('sortSpeech', data)"><i class="anticon anticon-form"></i>词条分类</button>
                  <button nz-button nzType="primary" (click)="showModal('submitTagAudit', data)" [disabled]="data.status === 'NEW'" style="margin-left: 10px;"><i class="anticon anticon-form"></i>提交审核</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.sortSpeech" nzWidth="850" nzTitle="词性分类" [nzFooter]="sortSpeechFooter" (nzOnCancel)="hideModal('sortSpeech')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="3" class="right_alignment">标注本页：</div>
              <div nz-col nzSpan="21">
                <nz-radio-group [(ngModel)]="sortSpeechDate.type" (ngModelChange)="onChange($event, 'sortPage')">
                  <label nz-radio nzValue="PERSON">人名</label>
                  <label nz-radio nzValue="ADDRESS">地名</label>
                  <label nz-radio nzValue="EVENT">事件</label>
                  <label nz-radio nzValue="INVALID">无效</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-table nzBordered #sortSpeechTable [nzData]="dataSortSpeech" *ngIf="!isSpinning" [nzShowQuickJumper]="true" [(nzPageIndex)]="pageNum.dataSortPage" (nzPageIndexChange)="onChange($event, 'sortSpeechPage')">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>词条</th>
                      <th>词性分类</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of sortSpeechTable.data; let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{data.word}}</td>
                      <td>
                        <nz-radio-group [(ngModel)]="data.type">
                          <label nz-radio nzValue="PERSON">人名</label>
                          <label nz-radio nzValue="ADDRESS">地名</label>
                          <label nz-radio nzValue="EVENT">事件</label>
                          <label nz-radio nzValue="INVALID">无效</label>
                        </nz-radio-group>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <ng-template #sortSpeechFooter>
              <button nz-button nzType="primary" (click)="doSave('sortSpeech', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('sortSpeech')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>
        </nz-tab>


        <nz-tab [nzTitle]="manualAuditTemplate" (nzClick)="changePanel('manualAudit')" *ngIf="commonService.haveMenuPermission('children', '人工审核')">
          <ng-template #manualAuditTemplate><i class="anticon anticon-schedule"></i>人工审核</ng-template>
          <div nz-row>
            <form [formGroup]="manualAuditSearchForm">

              <div nz-col nzSpan="2" class="right_alignment">提交审核来源：</div>
              <div nz-col nzSpan="3">
                <input nz-input formControlName="submitter" placeholder="输入提交审核来源" nzSize="default">
              </div>

              <div nz-col nzSpan="2" class="right_alignment">审核状态：</div>
              <div nz-col nzSpan="3">
                <nz-select formControlName="status">
                  <nz-option required [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'未审核'" [nzValue]="'SUBMITTED'"></nz-option>
                  <nz-option required [nzLabel]="'已审核'" [nzValue]="'CONFIRMED'"></nz-option>
                  <!-- <nz-option required [nzLabel]="'已更新'" [nzValue]="'UPDATED'"></nz-option> -->
                </nz-select>
              </div>

              <div nz-col nzSpan="2" class="right_alignment">提交时间：</div>
              <div nz-col nzSpan="7">
                <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd HH:mm:ss'" [nzShowToday]="true" ngModel [nzRanges]="commonService.dateSearch" (ngModelChange)="onChange($event, 'manualAudit')" nzShowTime></nz-range-picker>
              </div>

            </form>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('manualAudit')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('uploadAudit')"><i class="anticon anticon-search"></i>上传审核</button>
            </div>
          </div>
          <nz-table nzBordered #manualAuditTable [nzData]="dataManualAudit" *ngIf="!isSpinning" [nzShowQuickJumper]="true" [(nzPageIndex)]="pageNum.dataManualAuditPage">
            <thead>
              <tr>
                <th>序号</th>
                <th>提交审核来源</th>
                <th>词条数</th>
                <th>人名</th>
                <th>地名</th>
                <th>事件</th>
                <th>无效</th>
                <th>提交时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of manualAuditTable.data; let i=index;">
                <td *ngIf="!(data.status === 'UPDATED')">{{i+1}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">{{data.submitter}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">{{data.totalCount}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">{{data.personMarkedCount}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">{{data.addressMarkedCount}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">{{data.eventMarkedCount}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">{{data.invalidMarkedCount}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">{{data.submitTime}}</td>
                <td *ngIf="!(data.status === 'UPDATED')">
                  <button nz-button nzType="primary" (click)="showModal(data.status === 'SUBMITTED' || data.status === 'CONFIRMED' ? 'manualAudit' : data.status === 'CONFIRMED' ? '' : '', data)" [disabled]="data.status === 'UPDATED'" style="margin-right: 10px;">
                    <i class="anticon anticon-form"></i>{{data.status === 'SUBMITTED' ? '待审核' : data.status === 'CONFIRMED' || data.status === 'UPDATED' ? '已审核' : ''}}
                  </button>
                  <button nz-button nzType="primary" (click)="showModal(data.status === 'CONFIRMED' ? 'updateLoading'  : '', data)" [disabled]="data.status === 'SUBMITTED' || data.status === 'UPDATED'" style="margin-right: 10px;">
                    <i class="anticon anticon-form"></i>{{data.status === 'SUBMITTED' || data.status === 'CONFIRMED' ? '待更新' : data.status === 'UPDATED' ? '已更新' : ''}}
                  </button>
                  <button nz-button nzType="primary" (click)="showModal('deleteManualAudit', data)">
                    <i class="anticon anticon-delete"></i>删除
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.manualAudit" nzWidth="950" nzTitle="审核" [nzFooter]="manualAuditFooter" (nzOnCancel)="hideModal('manualAudit')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="2" class="right_alignment">词条名称：</div>
              <div nz-col nzSpan="3">
                <input nz-input [(ngModel)]="manualAuditSearchData.word" placeholder="输入词条名称" nzSize="default">
              </div>

              <div nz-col nzSpan="2" class="right_alignment">词条类型：</div>
              <div nz-col nzSpan="3">
                <nz-select [(ngModel)]="manualAuditSearchData.type">
                  <nz-option required [nzLabel]="'全部'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'人名'" [nzValue]="'PERSON'"></nz-option>
                  <nz-option required [nzLabel]="'地名'" [nzValue]="'ADDRESS'"></nz-option>
                  <nz-option required [nzLabel]="'事件'" [nzValue]="'EVENT'"></nz-option>
                  <nz-option required [nzLabel]="'无效'" [nzValue]="'INVALID'"></nz-option>
                </nz-select>
              </div>

              <div nz-col nzSpan="12"></div>
              <div nz-col nzSpan="2">
                <button nz-button nzType="primary" (click)="showModal('manualAuditModel')"><i class="anticon anticon-search"></i>查询</button>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-table nzBordered #manualAuditModelTable [(nzData)]="dataManualAuditModel" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>词条</th>
                      <th>词性分类</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of manualAuditModelTable.data; let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{data.word}}</td>
                      <td>
                        <nz-radio-group [(ngModel)]="data.type" (ngModelChange)="onChange({result: $event, index: data.index}, 'sortCell')">
                          <label nz-radio nzValue="PERSON">人名</label>
                          <label nz-radio nzValue="ADDRESS">地名</label>
                          <label nz-radio nzValue="EVENT">事件</label>
                          <label nz-radio nzValue="INVALID">无效</label>
                        </nz-radio-group>
                      </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <ng-template #manualAuditFooter>
              <button nz-button nzType="primary" (click)="doSave('manualAudit', '')"><i class="anticon anticon-save"></i>审核通过</button>
              <button nz-button nzType="default" (click)="hideModal('manualAudit')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.uploadAudit" nzTitle="上传审核文件" [nzFooter]="uploadMarkedFooter" (nzOnCancel)="hideModal('uploadMarked')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">词性类型：</div>
              <div nz-col nzSpan="20">
                <nz-radio-group [(ngModel)]="uploadMarkedData.type">
                  <label nz-radio nzValue="PERSON">人名</label>
                  <label nz-radio nzValue="ADDRESS">地名</label>
                  <label nz-radio nzValue="EVENT">事件</label>
                  <label nz-radio nzValue="INVALID">无效</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-upload [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 1" nzMultiple [nzBeforeUpload]="beforeUpload">
                  <button nz-button>
                    <i class="anticon anticon-upload"></i><span>选择文件</span>
                  </button>
                  每个文件内最多包含10000个词条
                </nz-upload>
              </div>
            </div>
            <ng-template #uploadMarkedFooter>
              <button nz-button nzType="default" (click)="hideModal('uploadMarked')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab [nzTitle]="newsThesaurusTemplate" (nzClick)="changePanel('newsThesaurus')" *ngIf="commonService.haveMenuPermission('children', '新闻词库')">
          <ng-template #newsThesaurusTemplate><i class="anticon anticon-global"></i>新闻词库</ng-template>
          <div nz-row>
            <form [formGroup]="newsThesaurusSearchForm">
              <div nz-col nzSpan="2" class="right_alignment">新闻词库：</div>
              <div nz-col nzSpan="3">
                <nz-select formControlName="type">
                  <nz-option [nzLabel]="'----无----'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'人名'" [nzValue]="'PERSON'"></nz-option>
                  <nz-option required [nzLabel]="'地名'" [nzValue]="'ADDRESS'"></nz-option>
                  <nz-option required [nzLabel]="'事件'" [nzValue]="'EVENT'"></nz-option>
                  <nz-option required [nzLabel]="'无效'" [nzValue]="'INVALID'"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="2" class="right_alignment">词条名称：</div>
              <div nz-col nzSpan="3">
                <input nz-input formControlName="name" placeholder="输入词条名称" nzSize="default">
              </div>
            </form>
            <div nz-col nzSpan="9" style="padding-left: 10px">
              <label nz-checkbox [(nzChecked)]="checkAccurate" formControlName="checkAccurate">精确查询</label>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('newsThesaurus')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addNewsThesaurus', '')"><i class="anticon anticon-file-add"></i>新增词库</button>
            </div>
          </div>
          <nz-table nzBordered #newsThesaurus [nzData]="dataNewsThesaurus" *ngIf="!isSpinning" [nzShowQuickJumper]="true"
              [nzFooter]="newsThesaurusFooter" [(nzPageIndex)]="pageNum.dataNewsThesaurusPage" nzShowRowSelection nzShowSizeChanger>
            <thead>
              <tr>
                <th>序号</th>
                <th>词条</th>
                <th>修改词性</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of newsThesaurus.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.word}}</td>
                <td>
                  <nz-radio-group [(ngModel)]="data.type">
                    <label nz-radio nzValue="PERSON">人名</label>
                    <label nz-radio nzValue="ADDRESS">地名</label>
                    <label nz-radio nzValue="EVENT">事件</label>
                    <label nz-radio nzValue="INVALID">无效</label>
                  </nz-radio-group>
                  <button nz-button nzType="primary" (click)="doSave('modifyNewsThesaurus', data)" style="margin-right: 10px;"><i class="anticon anticon-form"></i>保存</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <ng-template #newsThesaurusFooter>
            <div nz-row>
              <div nz-col nzSpan="3">人名：{{paramNewsThesaurus.person}}</div>
              <div nz-col nzSpan="3">地名：{{paramNewsThesaurus.address}}</div>
              <div nz-col nzSpan="3">事件：{{paramNewsThesaurus.event}}</div>
              <div nz-col nzSpan="3">无效：{{paramNewsThesaurus.invalid}}</div>
              <div nz-col nzSpan="9"></div>
              <div nz-col nzSpan="1" style="font-weight: bold">{{pageNum.dataNewsThesaurusNumber+1}} / {{pageNum.dataNewsThesaurusTotal}}</div>
              <div nz-col nzSpan="1">
                <button nz-button nzType="primary" (click)="onChange('', 'newsThesaurusLast')" [disabled]="pageNum.dataNewsThesaurusNumber === 0"><</button>
              </div>
              <div nz-col nzSpan="1">
                <button nz-button nzType="primary" (click)="onChange('', 'newsThesaurusNext')" [disabled]="!(pageNum.dataNewsThesaurusNumber+1 < pageNum.dataNewsThesaurusTotal)">></button>
              </div>
            </div>
          </ng-template>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addNewsThesaurus" nzWidth="650" nzTitle="新增词条" [nzFooter]="addNewsThesaurusFooter" (nzOnCancel)="hideModal('addNewsThesaurus')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">词性类型：</div>
              <div nz-col nzSpan="20">
                <nz-radio-group [(ngModel)]="addNewsThesaurusData.type">
                  <label nz-radio nzValue="PERSON">人名</label>
                  <label nz-radio nzValue="ADDRESS">地名</label>
                  <label nz-radio nzValue="EVENT">事件</label>
                  <label nz-radio nzValue="INVALID">无效</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <textarea rows="5" nz-input [(ngModel)]="addNewsThesaurusData.content" placeholder="不同词条，使用换行进行区分" nzSize="default"></textarea>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24"> * 添加词条后，将会直接影响新闻BOT，请确认词条属性后，谨慎操作！ </div>
            </div>
            <ng-template #addNewsThesaurusFooter>
              <button nz-button nzType="primary" (click)="doSave('addNewsThesaurus', '')"><i class="anticon anticon-save"></i>确定</button>
              <button nz-button nzType="default" (click)="hideModal('addNewsThesaurus')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.addNewsThesaurusResult" nzWidth="750" nzTitle="新增词条结果" [nzFooter]="addNewsThesaurusResultFooter" (nzOnCancel)="hideModal('addNewsThesaurusResult')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="10">成功添加词条&nbsp;&nbsp;{{addNewsThesaurusData.successNum}}</div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24" class="right_alignment">
                <textarea rows="8" nz-input [(ngModel)]="addNewsThesaurusData.success" nzSize="default" [disabled]="true"></textarea>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">重复词条&nbsp;&nbsp;{{addNewsThesaurusData.failNum}}</div>
            </div>
            <div nz-row  *ngFor="let data of addNewsThesaurusData.failArr; let i=index;">
              <div nz-col nzSpan="4">{{data.word}}</div>
              <div nz-col nzSpan="16">
                <nz-radio-group [(ngModel)]="data.type">
                  <label nz-radio nzValue="PERSON">人名</label>
                  <label nz-radio nzValue="ADDRESS">地名</label>
                  <label nz-radio nzValue="EVENT">事件</label>
                  <label nz-radio nzValue="INVALID">无效</label>
                </nz-radio-group>
              </div>
              <div nz-col nzSpan="2">
                <button nz-button nzType="primary" (click)="doSave('modifyNewsThesaurus', data)" style="margin-right: 10px;"><i class="anticon anticon-form"></i>保存</button>
              </div>
            </div>
            <ng-template #addNewsThesaurusResultFooter>
              <button nz-button nzType="default" (click)="hideModal('addNewsThesaurusResult')"><i class="anticon anticon-close-circle-o"></i>关闭</button>
            </ng-template>
          </nz-modal>

        </nz-tab>


        <!-- <nz-tab [nzTitle]="newsNERTemplate" (nzClick)="changePanel('newsNER')" *ngIf="commonService.haveMenuPermission('children', '新闻词库')">
          <ng-template #newsNERTemplate><i class="anticon anticon-bulb"></i>新闻NER</ng-template>
          <div nz-row>
            <form [formGroup]="newsNERSearchForm">
              <div nz-col nzSpan="2" class="right_alignment">
                断句库名称：
              </div>
              <div nz-col nzSpan="3">
                <input nz-input formControlName="name" placeholder="输入断句库名称" nzSize="default">
              </div>
              <div nz-col nzSpan="2" class="right_alignment">
                上传时间：
              </div>
              <div nz-col nzSpan="7">
                <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd HH:mm:ss'" [nzShowToday]="true" ngModel [nzRanges]="commonService.dateSearch" (ngModelChange)="onChange($event, 'newsNER')" nzShowTime></nz-range-picker>
              </div>
            </form>
            <div nz-col nzSpan="8"></div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('newsNER')"><i class="anticon anticon-search"></i>查询</button>
            </div>
          </div>
          <nz-table nzBordered #newsNERTable [nzData]="dataNewsNER" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
            <thead>
              <tr>
                <th>序号</th>
                <th>断句库名称</th>
                <th>段距数量</th>
                <th>上传时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of newsNERTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.size}}</td>
                <td>{{data.createDate ? data.createDate[0] + '-' + data.createDate[1] + '-' + data.createDate[2] + ' ' + data.createDate[3] + '-' + data.createDate[4] + '-' + data.createDate[5] : ''}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('newsNERTest', data)" style="margin-right: 10px;"><i class="anticon anticon-code-o"></i>测试</button>
                  <button nz-button nzType="primary" (click)="showModal('newsNER', data)" style="margin-right: 10px;"><i class="anticon anticon-filter"></i>提取</button>
                  <button nz-button nzType="primary" (click)="showModal('newsNERResult', data)" style="margin-right: 10px;"><i class="anticon anticon-eye-o"></i>查看结果</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.newsNERTest" nzTitle="断句测试" [nzFooter]="newsNERTestFooter" (nzOnCancel)="hideModal('newsNERTest')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="24">填写NER测试链接</div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24"><input nz-input [(ngModel)]="newsNERDara.nerUrl" placeholder="请输入NER测试链接" nzSize="default"></div>
            </div>
            <ng-template #newsNERTestFooter>
                <button nz-button nzType="primary" (click)="doSave('newsNERTest', '')"><i class="anticon anticon-save"></i>确定</button>
              <button nz-button nzType="default" (click)="hideModal('newsNERTest')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.newsNERResult" nzWidth="950" nzTitle="测试结果" [nzFooter]="newsNERResultFooter" (nzOnCancel)="hideModal('newsNERResult')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-table nzBordered #newsNERResultTable [nzData]="dataNewsNERResult" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
                  <thead>
                    <tr>
                      <th>序号</th>
                      <th>测试断句结果</th>
                      <th>测试进度</th>
                      <th>测试结果</th>
                      <th>测试链接</th>
                      <th>操作人</th>
                      <th>测试时间</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of newsNERResultTable.data; let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{data.appChannel}}</td>
                      <td>{{data.appChannel}}</td>
                      <td>{{data.appChannel}}</td>
                      <td>{{data.appChannel}}</td>
                      <td>{{data.appChannel}}</td>
                      <td>{{data.appChannel}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <ng-template #newsNERResultFooter>
              <button nz-button nzType="default" (click)="hideModal('newsNERResult')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>
        </nz-tab> -->

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
