<app-left-nav></app-left-nav>
<div class="content" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large">
        <nz-tab nzTitle="打车监控">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="19">
              <form [formGroup]="searchTaxiForm">
                <div nz-col nzSpan="2" class="span_down spacing right_alignment">
                  订单号：
                </div>
                <div nz-col nzSpan="4">
                  <input nz-input maxlength="32" formControlName="orderId" onkeyup="this.value=this.value.replace(/(^\s*)|(\s*$)/g,'')" placeholder="输入订单编号"
                    nzSize="default">
                </div>
                <div nz-col nzSpan="1">
                </div>
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  报警时间：
                </div>
                <div nz-col nzSpan="7" class="span_down">
                  <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="dateSearch" (ngModelChange)="onChange($event)"></nz-range-picker>
                </div>

              </form>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('taxi')"><i class="anticon anticon-search"></i>查询</button>
            </div>
          </div>
          <nz-table #taxiTable [nzData]="dataTaxi">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">订单id</th>
                <th nzWidth="20px">用户手机号</th>
                <th nzWidth="20px">用户昵称</th>
                <th nzWidth="20px">司机手机号</th>
                <th nzWidth="20px">打车计价</th>
                <th nzWidth="20px">可用小悟币</th>
                <th nzWidth="20px">可用小悟豆</th>
                <th nzWidth="20px">预估价格</th>
                <th nzWidth="20px">报警原因</th>
                <th nzWidth="20px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of taxiTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.orderId}}</td>
                <td>{{data.userPhone}}</td>
                <td>{{data.userNickName}}</td>
                <td>{{data.driverPhone}}</td>
                <td>{{data.nowPrice}}</td>
                <td>{{data.availableAmount}}</td>
                <td>{{data.availableBeans}}</td>
                <td>{{data.estimate_price}}</td>
                <td>{{data.monitorType ? (data.monitorType === 0 ? '余额不足' : data.monitorType === 1 ? '超出预估' : 'null') : 'null'}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('taxi', data)"><i
                      class="anticon anticon-form"></i>详情</button>
                </td>
              </tr>
            </tbody>
          </nz-table>

          <!-- 弹框 —— 详情 —— 打车路径 -->
          <nz-modal [(nzVisible)]="isTaxiDetailVisible" nzWidth="1150" nzTitle="打车路径详情" [nzFooter]="taxiDetailModalFooter" (nzOnCancel)="hideModal('taxi')">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="8">
                订单号&nbsp;&nbsp;：{{currentTaxi.orderId}}<br>
                司机电话：{{currentTaxi.driverPhone}}<br>
                用户账号：{{currentTaxi.userPhone}}<br>
                用户昵称：{{currentTaxi.userNickName}}<br>
                打车计价：{{currentTaxi.nowPrice}}<br>
                可用小悟币：{{currentTaxi.availableAmount}}<br>
                可用小悟豆：{{currentTaxi.availableBeans}}<br>
                打车预估价：{{currentTaxi.estimate_price }}<br>
                打车平台：{{currentTaxi.source ? currentTaxi.source === 'didi' ? '滴滴平台' : currentTaxi.source === 'shenzhou' ? '神州平台' : currentTaxi.source === 'yidao' ? '易到平台' : currentTaxi.source === 'shouqi' ? '首汽平台' : 'null' : 'null'}}<br>
                报警原因：{{currentTaxi.monitorType ? (currentTaxi.monitorType === 0 ? '余额不足' : currentTaxi.monitorType === 1 ? '超出预估' : 'null') : 'null'}}<br>
                报警时间：{{currentTaxi.createDate}}<br>
                起始地点：{{currentTaxi.originName}}<br>
                目标地点：{{currentTaxi.destinationName}}<br>
              </div>
              <div nz-col nzSpan="16">
                <div id='container' style='width: 100%; height: 400px;'></div>
              </div>
            </div>

            <!-- 弹框和底部定制 -->
            <ng-template #taxiDetailModalFooter>
              <button nz-button nzType="default" (click)="hideModal('taxi')">取消</button>
            </ng-template>
          </nz-modal>


        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
