#contact {
    height: 546px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    background-color: hotpink;
    margin: 0 auto;
    #contact-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding: 80px 90px;
        background-color: #ffffff;
        #contact-left-part {
            h2 {
                font-size: 33px;
                font-weight: bold;
            }
            input,
            textarea,
            button {
                display: block;
                margin-top: 20px;
                padding: 8px 10px;
                font-size: 14px;
                border: none;
                outline: none;
            }
            input {
                width: 460px;
                box-shadow: 5px 5px 20px #cccccc;
            }
            textarea {
                width: 100%;
                box-shadow: 5px 5px 20px #cccccc;
            }
            button {
                width: 100%;
                padding: 12px;
                background-color: gold;
                color: #000000;
                a {
                    text-decoration: none;
                    color: inherit;
                    font-weight: bold;
                }
                a:hover {
                    color: #ffffff;
                }
            }
        }
        #contact-right-part {
            position: absolute;
            left: 650px;
            top: 86px;
            font-size: 14px;
            #contact-info {
                list-style: none;
                color: gray;
                span {
                    font-weight: bold;
                    color: #000000;
                }
                li {
                    margin-bottom: 2px;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                    #contact-info-blank {
                        margin-top: 3px;
                    }
                }
                li:nth-child(4) {
                    margin-top: 12px;
                }
            }
            
        }
    }
}