<div id="contact">
    <div id="contact-container">
        <div id="contact-left-part">
            <h3>{{nowContact.title}}</h3>
            <form id="contact-send-email" action="mailto:contact@qiwu.ai" method="post" enctype="text/plain">
                <input type="text" name="name" [placeholder]="nowContact.left.name">
                <input type="text" name="email" [placeholder]="nowContact.left.email">
                <textarea type="text" [placeholder]="nowContact.left.msg" name="comment" rows="5"></textarea>
                <button type="submit" form="contact-send-email" value="Submit">{{nowContact.left.submit}}</button>
            </form>
        </div>
        <div id="contact-right-part">
            <ul id="contact-info">
                <li><span>{{nowContact.right.title}}</span></li>
                <li><a href="http://www.centaurstech.com/" target="_blank">{{nowContact.right.company.zh}}</a></li>
                <li><a href="http://www.centaurstech.com/" target="_blank">{{nowContact.right.company.en}}</a></li>
                <li><span>{{nowContact.right.tel.l1}}</span>{{nowContact.right.tel.l2}}</li>
                <li><span>{{nowContact.right.addr.l1}}</span>{{nowContact.right.addr.l2}}</li>
                <li><span>{{nowContact.right.email.l1}}</span>{{nowContact.right.email.l2}}</li>
            </ul>
        </div>
    </div>
</div>
