<div id="contact">
    <div id="content-container">
        <div id="left-part">
            <h2>联系我们</h2>
            <h3>CENTAURS TECHNOLOGIES CO., LTD</h3>
            <h3>深圳市人马互动科技有限公司</h3>
            <ul id="info">
                <li><i class="fa fa-mobile" aria-hidden="true"></i>(+86)18682251210</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@centaurstech.com</li>
                <li><i class="fa fa-home" aria-hidden="true"></i>深圳、上海、绍兴、芝加哥</li>
                <li><i class="fa fa-globe" aria-hidden="true"></i>www.centaurstech.com</li>
            </ul>
        </div>
        <div id="right-part">
            <form>
                <input type="text" name="name" placeholder="名字">
                <input type="text" name="name" placeholder="邮箱">
                <textarea placeholder="信息"></textarea>
                <button type="submit">发送</button>
            </form>
        </div>
    </div>
</div>
