<div id="contact">
    <div id="content-container">
        <div id="contact-container">
            <div id="contact-left-part">
                <h2>联系我们</h2>
                <h3><a href="http://www.centaurstech.com/" target="_blank">CENTAURS TECHNOLOGIES CO., LTD</a></h3>
                <h3><a href="http://www.centaurstech.com/" target="_blank">深圳市人马互动科技有限公司</a></h3>
                <ul id="info">
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@qiwu.ai</li>
                    <li><i class="fa fa-home" aria-hidden="true"></i>深圳 · 广州 · 上海 · 北京 · 绍兴 · 芝加哥</li>
                    <li><i class="fa fa-globe" aria-hidden="true"></i><a href="http://qiwu.ai/">qiwu.ai</a></li>
                </ul>
            </div>
            <div id="contact-right-part">
                <form>
                    <input type="text" name="name" placeholder="名字" #nameInput (keyup)="onEnterName(nameInput.value)">
                    <input type="text" name="_replyto" placeholder="邮箱" #mailtoInput (keyup)="onEnterMailto(mailtoInput.value)">
                    <textarea placeholder="信息" name="message" #contentInput (keyup)="onEnterContent(contentInput.value)"></textarea>
                    <a [attr.href]=" 'mailto:contact@qiwu.ai?subject=' + name + '&body=' + content + ' from: ' + mailto ">发送</a>
                </form>
            </div>
        </div>
    </div>
</div>
