<app-left-nav></app-left-nav>
<div class="jiaoyou" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card>
    <nz-card-tab>
      <nz-tabset nzSize="large" [(nzSelectedIndex)]="tabsetJson.currentNum">

        <nz-tab [nzTitle]="freeTemplate" (nzClick)="changePanel('free')" *ngIf="commonService.haveMenuPermission('children', '免费配置')">
          <ng-template #freeTemplate><i class="anticon anticon-pay-circle-o"></i>免费配置</ng-template>
          <div nz-row>
            <form [formGroup]="searchFreeForm">
              <div nz-col nzSpan="2" class="spacing right_alignment">
                渠道：
              </div>
              <div nz-col nzSpan="3">
                <input nz-input formControlName="appChannelId" placeholder="请输入渠道名称" nzSize="default">
              </div>
              <div nz-col nzSpan="2" class="right_alignment">
                创建时间：
              </div>
              <div nz-col nzSpan="7">
                <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="commonService.dateSearch" (ngModelChange)="onChange($event, 'free')"></nz-range-picker>
              </div>
            </form>
            <div nz-col nzSpan="5"></div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('free', '')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addFree', '')"><i class="anticon anticon-file-add"></i>渠道设置</button>
            </div>
          </div>
          <nz-table nzBordered #freeTable [nzData]="freeData" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
            <thead>
              <tr>
                <th>序号</th>
                <th>渠道类型</th>
                <th>渠道名称</th>
                <th>免费设定</th>
                <th>免费次数</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of freeTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.channelType === 'CUSTOMER' ? '客户ID' : data.channelType === 'APP' ? 'APP' : ''}}</td>
                <td>{{data.appChannelId}}</td>
                <td>{{data.freeMode === 'BY_ACCOUNT' ? '按账号计算' : data.freeMode === 'BY_SKILL' ? '按游戏计算' : ''}}</td>
                <td>{{data.freeMode === 'BY_ACCOUNT' ? data.freeCount : data.freeMode === 'BY_SKILL' ? '' : ''}}</td>
                <td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('editFree', data)" style="margin-right: 10px"><i class="anticon anticon-edit"></i>修改</button>
                  <button nz-button nzType="primary" (click)="showModal('deleteFree', data)"><i class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addFree" nzWidth="650" nzTitle="渠道设置" [nzFooter]="addFreeFooter" (nzOnCancel)="hideModal('addFree')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">渠道类型：</div>
              <div nz-col nzSpan="20">
                <nz-radio-group [(ngModel)]="dataFree.channelType" (click)="loadData('freeChannel')">
                  <label nz-col nz-radio [nzValue]="'CUSTOMER'">客户ID</label>
                  <label nz-col nz-radio [nzValue]="'APP'">APP</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">渠道名称：</div>
              <div nz-col nzSpan="20">
                <ng-container *ngIf="checkFreeOptions.length === 0">
                  没有新渠道需要配置
                </ng-container>
                <ng-container *ngIf="checkFreeOptions.length > 0">
                  <label nz-checkbox nz-col nzSpan="11" *ngFor="let data of checkFreeOptions;" [(nzChecked)]="data.checked">{{data.value}}</label>
                </ng-container>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">免费方式：</div>
              <div nz-col nzSpan="6">
                <nz-radio-group [(ngModel)]="dataFree.freeMode">
                  <label nz-col nz-radio [nzValue]="'BY_ACCOUNT'">按账号计算</label>
                  <label nz-col nz-radio [nzValue]="'BY_SKILL'">按游戏计算</label>
                </nz-radio-group>
              </div>
              <div nz-col nzSpan="6">
                <input nz-input [(ngModel)]="dataFree.freeCount" placeholder="请输入免费次数" nzSize="default"><br>
                在具体游戏中进行设置
              </div>
            </div>
            <ng-template #addFreeFooter>
              <button nz-button nzType="primary" (click)="doSave('addFree', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addFree')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.editFree" nzWidth="650" nzTitle="修改设置" [nzFooter]="editFreeFooter" (nzOnCancel)="hideModal('editFree')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">渠道类型：</div>
              <div nz-col nzSpan="20">
                {{dataFree.channelType === 'CUSTOMER' ? '客户ID' : dataFree.channelType === 'APP' ? 'APP' : ''}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">渠道名称：</div>
              <div nz-col nzSpan="20">
                {{dataFree.appChannelIds}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">免费方式：</div>
              <div nz-col nzSpan="6">
                <nz-radio-group [(ngModel)]="dataFree.freeMode">
                  <label nz-col nz-radio [nzValue]="'BY_ACCOUNT'">按账号计算</label>
                  <label nz-col nz-radio [nzValue]="'BY_SKILL'">按游戏计算</label>
                </nz-radio-group>
              </div>
              <div nz-col nzSpan="6">
                <input nz-input [(ngModel)]="dataFree.freeCount" placeholder="请输入免费次数" nzSize="default"><br>
                在具体游戏中进行设置
              </div>
            </div>
            <ng-template #editFreeFooter>
              <button nz-button nzType="primary" (click)="doSave('editFree', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('editFree')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab [nzTitle]="skillTemplate" (nzClick)="changePanel('skill')" *ngIf="commonService.haveMenuPermission('children', '付费技能')">
          <ng-template #skillTemplate><i class="anticon anticon-bulb"></i>付费技能</ng-template>
          <div nz-row>
            <form [formGroup]="searchSkillForm">
              <div nz-col nzSpan="2" class="spacing right_alignment">
                付费技能ID：
              </div>
              <div nz-col nzSpan="3">
                <input nz-input formControlName="skillTypeId" placeholder="请输入付费技能ID" nzSize="default">
              </div>
              <div nz-col nzSpan="2" class="right_alignment">
                创建时间：
              </div>
              <div nz-col nzSpan="7">
                <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="commonService.dateSearch" (ngModelChange)="onChange($event, 'skill')"></nz-range-picker>
              </div>
            </form>
            <div nz-col nzSpan="5"></div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('skill', '')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addSkill', '')"><i class="anticon anticon-file-add"></i>新增付费技能</button>
            </div>
          </div>
          <nz-table nzBordered #skillTable [nzData]="skillData" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
            <thead>
              <tr>
                <th>序号</th>
                <th>付费技能ID</th>
                <th>创建时间</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of skillTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.skillTypeId}}</td>
                <td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addSkill" nzWidth="650" nzTitle="新增付费技能" [nzFooter]="addSkillFooter" (nzOnCancel)="hideModal('addSkill')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">付费技能ID<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                新增后不能修改，不能删除，请谨慎添加
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <textarea rows="10" [(ngModel)]="dataSkill.skillTypeIds" nz-input placeholder="请输入付费技能ID"></textarea>
              </div>
            </div>
            <ng-template #addSkillFooter>
              <button nz-button nzType="primary" (click)="doSave('addSkill', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addSkill')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab [nzTitle]="payTemplate" (nzClick)="changePanel('pay')" *ngIf="commonService.haveMenuPermission('children', '付费配置')">
          <ng-template #payTemplate><i class="anticon anticon-pay-circle"></i>付费配置</ng-template>
          <div nz-row>
            <form [formGroup]="searchPayForm">
              <div nz-col nzSpan="2" class="spacing right_alignment">
                付费技能名称：
              </div>
              <div nz-col nzSpan="3">
                <input nz-input formControlName="skillName" placeholder="请输入付费技能名称" nzSize="default">
              </div>
              <div nz-col nzSpan="2" class="spacing right_alignment">
                渠道：
              </div>
              <div nz-col nzSpan="3">
                <input nz-input formControlName="appChannelId" [(ngModel)]="appChannelId" placeholder="请输入渠道名称" nzSize="default">
              </div>
              <div nz-col nzSpan="2" class="right_alignment">
                创建时间：
              </div>
              <div nz-col nzSpan="7">
                <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="commonService.dateSearch" (ngModelChange)="onChange($event, 'pay')"></nz-range-picker>
              </div>
            </form>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('pay', '')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addPay', '')"><i class="anticon anticon-file-add"></i>渠道设置</button>
            </div>
          </div>
          <nz-table nzBordered #payTable [nzData]="payData" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
            <thead>
              <tr>
                <th>序号</th>
                <th>付费技能名称</th>
                <th>渠道名称</th>
                <th>免费方式</th>
                <th>免费次数</th>
                <th>单次进入定价</th>
                <th>周期进入定价</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of payTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.skillName}}</td>
                <td>{{data.appChannelId}}</td>
                <td>{{data.freeMode === 'BY_ACCOUNT' ? '按账号计算' : data.freeMode === 'BY_SKILL' ? '按游戏计算' : ''}}</td>
                <td>{{data.freeCount}}</td>
                <td>￥{{data.single ? data.single : 0}}/次</td>
                <td nzTitle="{{data.multiple ? data.multiple : '0'}}" nzPlacement="bottom" nz-tooltip>
                  <a>{{data.multiple ? data.multiple.length > 12 ? data.multiple.substring(0, 12) + '…' : data.multiple : '0'}}</a>
                </td>
                <td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('editPay', data)" style="margin-right: 10px"><i class="anticon anticon-edit"></i>修改</button>
                  <button nz-button nzType="primary" (click)="showModal('deletePay', data)"><i class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addPay" nzWidth="850" nzTitle="新增付费配置" [nzFooter]="addPayFooter" (nzOnCancel)="hideModal('addPay')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">付费技能ID<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                <nz-radio-group [(ngModel)]="dataPay.skillTypeId">
                  <label nz-col nzSpan="11" nz-radio *ngFor="let data of skillData;" [nzValue]="data.skillTypeId" (click)="onChange(data, 'skillMode')">{{data.skillTypeId}}</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">付费技能名称<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                <input nz-input [(ngModel)]="dataPay.skillName" placeholder="请输入付费技能名称" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">渠道名称<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                <nz-radio-group [(ngModel)]="dataPay.appChannelId">
                  <label nz-col nzSpan="11" nz-radio *ngFor="let data of checkPayOptions;" [nzValue]="data.value" (click)="onChange(data, 'freeMode')">{{data.label}}</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">免费方式<font color="red">*</font>：</div>
              <div nz-col nzSpan="3">
                {{dataPay.freeMode === 'BY_ACCOUNT' ? '按账号计算' : dataPay.freeMode === 'BY_SKILL' ? '按游戏计算' : ''}}
              </div>
              <div nz-col nzSpan="6" *ngIf="dataPay.freeMode === 'BY_SKILL'">
                <input nz-input [(ngModel)]="dataPay.freeCount" placeholder="请输入免费次数" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">是否需要付费<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                <nz-radio-group [(ngModel)]="dataPay.needPay">
                  <label nz-col nzSpan="11" nz-radio [nzValue]="true">需要付费</label>
                  <label nz-col nzSpan="11" nz-radio [nzValue]="false">不需要付费</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">单次进入定价<font color="red">*</font>：</div>
              <div nz-col nzSpan="6">
                <input nz-input [(ngModel)]="dataPay.single" placeholder="请输入单次进入游戏的价格" nzSize="default" [disabled]="!dataPay.needPay">
              </div>
              <div nz-col nzSpan="1">
                &nbsp;/ 次
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">周期进入定价<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                <textarea rows="15" [(ngModel)]="dataPay.skillPrice" nz-input [disabled]="!dataPay.needPay" placeholder="请输入周期及该周期的价格，输入格式:
x（分钟）,y（元）
周期以分钟为单位

例如：
120,5
360,10

例如
7200分钟 == 5天卡
9000分钟 == 6天6小时卡
9030分钟 == 6天6小时30分钟卡
43200分钟 == 月卡
10080 == 周卡
                "></textarea>
              </div>
            </div>
            <ng-template #addPayFooter>
              <button nz-button nzType="primary" (click)="doSave('addPay', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addPay')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.editPay" nzWidth="850" nzTitle="修改付费配置" [nzFooter]="editPayFooter" (nzOnCancel)="hideModal('editPay')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">付费技能ID<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                {{dataPay.skillTypeId}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">付费技能名称<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                {{dataPay.skillName}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">渠道名称<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                {{dataPay.appChannelId}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">免费方式<font color="red">*</font>：</div>
              <div nz-col nzSpan="3">
                {{dataPay.freeMode === 'BY_ACCOUNT' ? '按账号计算' : dataPay.freeMode === 'BY_SKILL' ? '按游戏计算' : ''}}
              </div>
              <div nz-col nzSpan="6" *ngIf="dataPay.freeMode === 'BY_SKILL'">
                <input nz-input [(ngModel)]="dataPay.freeCount" placeholder="请输入免费次数" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">是否需要付费<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                <nz-radio-group [(ngModel)]="dataPay.needPay">
                  <label nz-col nzSpan="11" nz-radio [nzValue]="true">需要付费</label>
                  <label nz-col nzSpan="11" nz-radio [nzValue]="false">不需要付费</label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">单次进入定价<font color="red">*</font>：</div>
              <div nz-col nzSpan="6">
                <input nz-input [(ngModel)]="dataPay.single" placeholder="请输入单次进入游戏的价格" nzSize="default" [disabled]="!dataPay.needPay">
              </div>
              <div nz-col nzSpan="1">
                &nbsp;/ 次
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="right_alignment">周期进入定价<font color="red">*</font>：</div>
              <div nz-col nzSpan="20">
                <textarea rows="15" [(ngModel)]="dataPay.skillPrice" nz-input [disabled]="!dataPay.needPay" placeholder="请输入周期及该周期的价格，输入格式:
x（分钟）,y（元）
周期以分钟为单位

例如：
120,5
360,10

例如
7200分钟 == 5天卡
9000分钟 == 6天6小时卡
9030分钟 == 6天6小时30分钟卡
43200分钟 == 月卡
10080 == 周卡
                "></textarea>
              </div>
            </div>
            <ng-template #editPayFooter>
              <button nz-button nzType="primary" (click)="doSave('editPay', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('editPay')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
