<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x: '1800px',y: '520px'}">
  <thead>
    <tr>
        <th nzWidth="50px">序号</th>
      <th nzWidth="100px">时间</th>
      <th nzWidth="100px">位置权限</th>
      <th nzWidth="100px">麦克风权限</th>
      <th nzWidth="100px">通讯录权限</th>
      <th nzWidth="100px">通话权限</th>
      <th nzWidth="100px">相机权限</th>
      <th nzWidth="100px">相册权限</th>
      <th nzWidth="100px">点赞人次</th>
      <th nzWidth="100px">点赞数量</th>
      <th nzWidth="100px">点踩人次</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td nzWidth="100px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.locationPermission}}</td>
      <td nzWidth="100px">{{data.microphonePermission}}</td>
      <td nzWidth="100px">{{data.contactsPermission}}</td>
      <td nzWidth="100px">{{data.phonePermission}}</td>
      <td nzWidth="100px">{{data.cameraPermission}}</td>
      <td nzWidth="100px">{{data.galleryPermission}}</td>
      <td nzWidth="100px">{{data.upvoteUsers}}</td>
      <td nzWidth="100px">{{data.upvoteCount}}</td>
      <td nzWidth="100px">{{data.downvoteUsers}}</td>
    </tr>
  </tbody>
</nz-table>
