#home {
    height: 619px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/home_bg.png);
    background-position: center;
    #home-container {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        padding: 59px;
        overflow: cover;

        // from here
        $duration: 10s;
        $ease: ease-in-out;
        .holder {
            width: 500px;
            height: 250px;
            margin: 0 auto;
            position: relative;
            .circle {
                border-radius: 100% 100% 0 0;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transform-origin: bottom center;
            }
            @for $i from 1 through 16 {
                .circle:nth-child(#{$i}) {
                    $size: 0;
                    @if($i > 1) {
                        $size: 31px * ($i - 1);
                        border: 13px solid rgba(255, 255, 255, 0.2);;
                    }
                    @else {
                        $size: 25px;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                    border-bottom:none;
                    border-radius:$size $size 0 0;
                    width:$size;
                    height:$size / 2;
                    z-index: 16 - $i;
                    // animation: circle-#{$i} $duration infinite $ease;
                }
                /*
                @keyframes circle-#{$i} {
                    0% {
                        transform: translateX(-50%) rotate(0deg);
                    }
                    100% {
                        transform: translateX(-50%) rotate(-($i * 360deg));
                    }
                }
                */
            }
        }
    }
}
