<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2400px', y: '520px'}" *ngIf="!isSpinning">
  <thead>
    <tr>
      <th nzWidth="50px" nzLeft="0px">序号</th>
      <th nzWidth="100px" nzLeft="64px">时间</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[0].checked">APP唤醒人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[1].checked">小爱人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[2].checked">AppStore人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[3].checked">总人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[4].checked">机票人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[5].checked">火车人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[6].checked">天气人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[7].checked">导航人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[8].checked">酒店人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[9].checked">打车人次</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[10].checked">总行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[11].checked">机票行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[12].checked">火车行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[13].checked">天气行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[14].checked">导航行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[15].checked">酒店行为数</th>
      <th nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[16].checked">打车行为数</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px" nzLeft="0px">{{i+1}}</td>
      <td nzWidth="100px" nzLeft="64px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[0].checked">{{data.appAwakenBotUsers }}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[1].checked">{{data.xiaoaiAwakenBotUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[2].checked">{{data.appStoreAwakenUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[3].checked">{{data.awakTrainUsers + data.awakFlightUsers + data.awakWeatherUsers + data.awakNavigationUsers + data.awakHotelUsers + data.awakTaxisUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[4].checked">{{data.awakFlightUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[5].checked">{{data.awakTrainUsers}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[6].checked">{{data.awakWeatherUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[7].checked">{{data.awakNavigationUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[8].checked">{{data.awakHotelUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[9].checked">{{data.awakTaxisUsers}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[10].checked">{{data.awakTrainCount + data.awakFlightCount + data.awakWeatherCount + data.awakNavigationCount + data.awakHotelCount + data.awakTaxisCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[11].checked">{{data.awakFlightCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[12].checked">{{data.awakTrainCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[13].checked">{{data.awakWeatherCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[14].checked">{{data.awakNavigationCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[15].checked">{{data.awakHotelCount}}</td>
      <td nzWidth="100px" *ngIf="commonService.checkDataOptions.overview[16].checked">{{data.awakTaxisCount}}</td>
    </tr>
  </tbody>
</nz-table>
