<nz-table #rowSelectionTable [nzData]="dataResult" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2400px', y: '520px'}">
  <thead>
    <tr>
      <th nzWidth="50px">序号</th>
      <th nzWidth="100px">时间</th>
      <th nzWidth="100px">APP唤醒人次</th>
      <th nzWidth="100px">小爱人次</th>
      <th nzWidth="100px">AppStore人次</th>
      <th nzWidth="100px">总人次</th>
      <th nzWidth="100px">火车人次</th>
      <th nzWidth="100px">机票人次</th>
      <th nzWidth="100px">天气人次</th>
      <th nzWidth="100px">导航人次</th>
      <th nzWidth="100px">酒店人次</th>
      <th nzWidth="100px">打车人次</th>
      <th nzWidth="100px">总行为数</th>
      <th nzWidth="100px">火车行为数</th>
      <th nzWidth="100px">机票行为数</th>
      <th nzWidth="100px">天气行为数</th>
      <th nzWidth="100px">导航行为数</th>
      <th nzWidth="100px">酒店行为数</th>
      <th nzWidth="100px">打车行为数</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px">{{i+1}}</td>
      <td nzWidth="100px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.appAwakenBotUsers }}</td>
      <td nzWidth="100px">{{data.xiaoaiAwakenBotUsers}}</td>
      <td nzWidth="100px">{{data.appStoreAwakenUsers}}</td>
      <td nzWidth="100px">{{data.awakTrainUsers + data.awakFlightUsers + data.awakWeatherUsers + data.awakNavigationUsers + data.awakHotelUsers + data.awakTaxisUsers}}</td>
      <td nzWidth="100px">{{data.awakTrainUsers}}</td>
      <td nzWidth="100px">{{data.awakFlightUsers}}</td>
      <td nzWidth="100px">{{data.awakWeatherUsers}}</td>
      <td nzWidth="100px">{{data.awakNavigationUsers}}</td>
      <td nzWidth="100px">{{data.awakHotelUsers}}</td>
      <td nzWidth="100px">{{data.awakTaxisUsers}}</td>
      <td nzWidth="100px">{{data.awakTrainCount + data.awakFlightCount + data.awakWeatherCount + data.awakNavigationCount + data.awakHotelCount + data.awakTaxisCount}}</td>
      <td nzWidth="100px">{{data.awakTrainCount}}</td>
      <td nzWidth="100px">{{data.awakFlightCount}}</td>
      <td nzWidth="100px">{{data.awakWeatherCount}}</td>
      <td nzWidth="100px">{{data.awakNavigationCount}}</td>
      <td nzWidth="100px">{{data.awakHotelCount}}</td>
      <td nzWidth="100px">{{data.awakTaxisCount}}</td>
    </tr>
  </tbody>
</nz-table>
