<div class="container-fluid">
    <div id="qw_dialog_box">
        <div class="container">
            <div class="dialog_window">
                <div class="row">
                    <div class="col-md-4" id="qiwu-logo">
                        <img class="qw_avator" src="/assets/images/product_qw.png">
                        <img class="qw_avator" src="/assets/images/avatar_qw_resize.png">
                    </div>
                    <div class="col-md-8">
                        <div class="scroll-chat-box">
                            <ul class="chat-list">
                            </ul>
                        </div>
                        <div class="input-box">
                            <span class="input-i">@</span>
                            <input type="text" class="chat-input" placeholder="你是谁">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
