<div class="container-fluid">
    <div id="qw_dialog_box">
        <div class="container">
            <div class="dialog_window">
                <div class="row">
                    <div class="col-md-4" id="qiwu-logo">
                        <img class="qw_avator" draggable="false" src="/assets/images/logo_yellow@2x.png">
                        <br>
                        <img class="qw_avator" draggable="false" id="xiaowu" src="/assets/images/panel_pic_xiaowu@2x.png" style="margin: 30% 0;">
                        <br>
                        <button class="download_1" (click)="downloadWin7()">下载WIN7(已下載{{win7}}次)</button>
                        <br>
                        <button class="download_1" (click)="downloadWin10()">下载WIN10(已下載{{win10}}次)</button>
                    </div>
                    <div class="col-md-8">
                        <div style="background: #F4F7FD; height: 72px; font-size: 200%;">
                            <p style="line-height:84px;">与 小悟 聊天中</p>
                        </div>
                        <div style="background: rgba(230,230,230,1);height: 1px;"></div>
                        <div class="scroll-chat-box">
                            <ul class="chat-list">
                                <!-- <li *ngFor="let item of items" class="chat-list">
                                    {{ item.title }}
                                </li> -->
                            </ul>
                        </div>
                        <div class="input-box">
                            <!-- <span class="input-i">@</span> -->
                            <input type="text" class="chat-input" placeholder="     你是谁">
                            <img src="/assets/images/panel_icon_send@2x.png" draggable="false" style="margin-left: 55px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <img src="/assets/images/logo_gray@2x.png" style="margin-bottom: 565px">
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
    </div>
</div>
