<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                提醒设置
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">控制台</a>
                </li>
                <li class="active">
                    <i class="fa fa-bell"></i> 提醒设置
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Heading -->
    <h1 class="page-header">
        <small><i class="fa fa-fw fa-phone-square" aria-hidden="true"></i>手机短信提醒</small>
    </h1>

    <form method="post" id="form-alert-mobile" role="form">
        <div class="form-group">
            <label for="mobile">手机号</label>
            <input type="text" class="form-control" id="mobile" placeholder="手机号" name="mobile" required>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                            <input type="checkbox" value="">30分钟内，超过
                            <input type="text" class="form-times" placeholder="-">
                            次提醒
                        </label>
            </div>
            <div class="checkbox">
                <label>
                            <input type="checkbox" value="">60分钟内，超过
                            <input type="text" class="form-times" placeholder="-">
                            次提醒
                        </label>
            </div>
            <div class="checkbox">
                <label>
                            <input type="checkbox" value=""><span style="opacity: 0.0;">_</span>6小时内，超过
                            <input type="text" class="form-times" placeholder="-">
                            次提醒
                        </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" disabled>确认短信提醒</button>
    </form>
    <!-- Page Heading -->
    <h1 class="page-header">
        <small><i class="fa fa-fw fa-envelope" aria-hidden="true"></i>电子邮件提醒</small>
    </h1>

    <form method="post" id="form-alert-email" role="form">
        <div class="form-group">
            <label for="email">电子邮箱</label>
            <input type="text" class="form-control" id="email" placeholder="电子邮箱" name="email" required>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                            <input type="checkbox" value="">30分钟内，超过
                            <input type="text" class="form-times" placeholder="-">
                            次提醒
                        </label>
            </div>
            <div class="checkbox">
                <label>
                            <input type="checkbox" value="">60分钟内，超过
                            <input type="text" class="form-times" placeholder="-">
                            次提醒
                        </label>
            </div>
            <div class="checkbox">
                <label>
                            <input type="checkbox" value=""><span style="opacity: 0.0;">_</span>6小时内，超过
                            <input type="text" class="form-times" placeholder="-">
                            次提醒
                        </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" disabled>确认电子邮件提醒</button>
    </form>
</div>
<!-- /.container-fluid -->