<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                登录
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> 用户登录
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="alert alert-danger alert-dismissable hidden" id="vcode_false_warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;<span class="vcode_warning_content"></span>
    </div>
    {{#if success_msg}}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check" aria-hidden="true"></i> {{success_msg}}
    </div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info" aria-hidden="true"></i> {{error_msg}}
    </div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info" aria-hidden="true"></i> {{error}}
    </div>
    {{/if}}

    <form method="post" action="/users/login" role="form">
        <input type="hidden" name="s_url" value="{{s_url}}">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="vcode_parent">验证码</label>
            <div id="vcode_parent" style="width:30%;display: flex;align-items:center;justify-content: space-between;">
                <div style="width:45%;float:left;">
                    <input type="text" class="form-control" id="vcode" name="vcode" placeholder="Vcode">
                </div>
                <div style="width:45%;float:left;display: flex;align-items: center;" id="vcode_container">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-default clearfix" id="btn_submit">Submit</button>
    </form>
</div>