<app-left-nav></app-left-nav>
<div class="platform" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large">

        <nz-tab [nzTitle]="taggingPlatformTemplate" (nzClick)="changePanel('taggingPlatform')" *ngIf="commonService.haveMenuPermission('children', '文档中心')">
          <ng-template #taggingPlatformTemplate><i class="anticon anticon-code-o"></i>技术文档</ng-template>
          <div nz-row>
            <div nz-col nzSpan="21"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addLevelOneMenu', '')"><i class="anticon anticon-file-add"></i>新增一级菜单</button>
            </div>
          </div>
          <nz-table #taggingPlatformTable [nzData]="dataTaggingPlatform" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">菜单名</th>
                <th nzWidth="20px">排序</th>
                <th nzWidth="20px">操作</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of taggingPlatformTable.data">
                <ng-container *ngFor="let item of mapOfExpandedData[data.id]">
                  <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                    <td
                      [nzIndentSize]="item.level * 20"
                      [nzShowExpand]="item.children.length > 0"
                      [(nzExpand)]="item.expand"
                      (nzExpandChange)="collapse(mapOfExpandedData[data.id], item, $event)"
                    >
                      {{ item.name }}
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.id }}</td>
                    <td>
                      <button nz-button nzType="primary" *ngIf="item.id.indexOf('-') > -1" (click)="showModal('editContent', item)" style="margin-right: 10px;"><i class="anticon anticon-edit"></i>编辑内容</button>
                      <button nz-button nzType="primary" *ngIf="item.id.indexOf('-') > -1" (click)="showModal('editLevelTwoMenu', item)" style="margin-right: 10px;"><i class="anticon anticon-edit"></i>编辑菜单</button>
                      <button nz-button nzType="primary" *ngIf="item.id.indexOf('-') > -1" (click)="showModal('deleteLevelTwoMenu', item)" style="margin-right: 10px;"><i class="anticon anticon-delete"></i>删除</button>
                      <button nz-button nzType="primary" *ngIf="item.id.indexOf('-') > -1" (click)="showModal('preview', item)" style="margin-right: 10px;"><i class="anticon anticon-eye-o"></i>预览</button>
                      <button nz-button nzType="primary" *ngIf="item.id.indexOf('-') === -1" (click)="showModal('addLevelTwoMenu', data)" style="margin-right: 10px;"><i class="anticon anticon-file-add"></i>添加二级菜单</button>
                      <button nz-button nzType="primary" *ngIf="item.id.indexOf('-') === -1" (click)="showModal('editLevelOneMenu', data)" style="margin-right: 10px;"><i class="anticon anticon-edit"></i>编辑</button>
                      <button nz-button nzType="primary" *ngIf="item.id.indexOf('-') === -1" (click)="showModal('deleteLevelOneMenu', data)"><i class="anticon anticon-delete"></i>删除</button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addLevelOneMenu" nzTitle="新增一级菜单" [nzFooter]="addLevelOneMenuFooter" (nzOnCancel)="hideModal('addLevelOneMenu')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                一级菜单：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryO.name" placeholder="输入一级菜单" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                一级排序：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryO.id" placeholder="输入一级排序" nzSize="default">
              </div>
            </div>
            <ng-template #addLevelOneMenuFooter>
              <button nz-button nzType="primary" (click)="doSave('addLevelOneMenu', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addLevelOneMenu')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.editLevelOneMenu" nzTitle="修改一级菜单" [nzFooter]="editLevelOneMenuFooter" (nzOnCancel)="hideModal('editLevelOneMenu')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                一级菜单：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryO.name" placeholder="输入一级菜单" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                一级排序：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryO.id" placeholder="输入一级排序" nzSize="default">
              </div>
            </div>
            <ng-template #editLevelOneMenuFooter>
              <button nz-button nzType="primary" (click)="doSave('editLevelOneMenu', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('editLevelOneMenu')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.addLevelTwoMenu" nzTitle="新增二级级菜单" [nzFooter]="addLevelTwoMenuFooter" (nzOnCancel)="hideModal('addLevelTwoMenu')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                一级菜单：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                {{dataCategoryO.name}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                二级菜单：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryS.name" placeholder="输入二级菜单" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                二级排序：
              </div>
              <div nz-col nzSpan="3" class="span_down">
                {{dataCategoryO.id + ' ——'}}
              </div>
              <div nz-col nzSpan="2" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryS.id" nzSize="default">
              </div>
            </div>
            <ng-template #addLevelTwoMenuFooter>
              <button nz-button nzType="primary" (click)="doSave('addLevelTwoMenu', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addLevelTwoMenu')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.editLevelTwoMenu" nzWidth="650" nzTitle="修改二级级菜单" [nzFooter]="editLevelTwoMenuFooter" (nzOnCancel)="hideModal('editLevelTwoMenu')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                一级菜单：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                {{dataCategoryS.parent.name}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                二级菜单：
              </div>
              <div nz-col nzSpan="20" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryS.name" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="4" class="span_down right_alignment">
                二级排序：
              </div>
              <div nz-col nzSpan="4" class="span_down">
                <input nz-input [(ngModel)]="dataCategoryS.id" nzSize="default">
              </div>
            </div>
            <ng-template #editLevelTwoMenuFooter>
              <button nz-button nzType="primary" (click)="doSave('editLevelTwoMenu', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('editLevelTwoMenu')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.editContent" nzWidth="950" nzTitle="编辑内容" [nzFooter]="editContentFooter" (nzOnCancel)="hideModal('editContent')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="4">
                <button nz-button nzType="primary" (click)="goEditor()"><i class="anticon anticon-save"></i>启用Editor编辑器</button>
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="3">
                <a href="http://editor.md.ipandao.com/examples/full.html" target="_blank"><button nz-button nzType="primary"><i class="anticon anticon-save"></i>编辑器教程</button></a>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <textarea rows="22" nz-input [(ngModel)]="dataCategoryS.content" placeholder="请输入内容" nzSize="default"></textarea>
              </div>
            </div>
            <ng-template #editContentFooter>
              <button nz-button nzType="primary" (click)="doSave('editContent', '')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('editContent')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>
        </nz-tab>


        <nz-tab [nzTitle]="userTemplate" (nzClick)="changePanel('user')" *ngIf="commonService.haveMenuPermission('children', '客户账号')">
          <ng-template #userTemplate><i class="anticon anticon-user"></i>客户账号</ng-template>
          <div nz-row>
            <div nz-col nzSpan="21"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addAccount', '')"><i class="anticon anticon-file-add"></i>新建账号</button>
            </div>
          </div>
          <nz-table #userTable [nzData]="userData" *ngIf="!isSpinning" [nzShowQuickJumper]="true">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">账号名</th>
                <th nzWidth="20px">客户名</th>
                <th nzWidth="20px">操作人</th>
                <th nzWidth="20px">创建时间</th>
                <th nzWidth="20px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.accountName}}</td>
                <td>{{data.customerId}}</td>
                <td>{{data.operator}}</td>
                <td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('editAccount', data)" style="margin-right: 10px"><i class="anticon anticon-edit"></i>编辑</button>
                  <button nz-button nzType="primary" (click)="showModal('deleteUser', data)"><i class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addAccount" nzWidth="950" nzTitle="新建账号" [nzFooter]="addAccountFooter" (nzOnCancel)="hideModal('addAccount')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">客户ID：</div>
              <div nz-col nzSpan="22" class="span_down">
                <nz-radio-group [(ngModel)]="dataUser.customerId">
                  <label nz-col nzSpan="7" nz-radio *ngFor="let data of dataConsumer" [nzValue]="data.appChannel">
                    {{data.appChannel}}
                  </label>
                </nz-radio-group>
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">客户名称：</div>
              <div nz-col nzSpan="8" class="span_down">{{dataUser.customerId}}</div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">客户账号：</div>
              <div nz-col nzSpan="8" class="span_down">
                <input nz-input [(ngModel)]="dataUser.accountName" placeholder="输入客户账号" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">登录密码：</div>
              <div nz-col nzSpan="8" class="span_down">
                <input nz-input [(ngModel)]="dataUser.password" placeholder="输入登录密码" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">权限配置：</div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-table #permissionTable [nzData]="dataTaggingPlatform" *ngIf="!isSpinning">
                  <thead>
                    <tr>
                      <th>一级菜单</th>
                      <th>二级菜单</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of permissionTable.data">
                      <tr>
                        <td>
                          <label nz-checkbox [(nzChecked)]="data.checked" (click)="onChange(data, 'categoryOne')">{{ data.name }}</label>
                        </td>
                        <td>
                          <ng-container *ngFor="let item of data.children">
                            <label nz-checkbox [(nzChecked)]="item.checked" (click)="onChange(item, 'categoryTwo')">{{ item.name }}</label>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <ng-template #addAccountFooter>
              <button nz-button nzType="primary" (click)="doSave('addAccount', '')"><i class="anticon anticon-save"></i>确定</button>
              <button nz-button nzType="default" (click)="hideModal('addAccount')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.editAccount" nzWidth="950" nzTitle="编辑账号" [nzFooter]="editAccountFooter" (nzOnCancel)="hideModal('editAccount')" nzMaskClosable="false">
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">客户ID：</div>
              <div nz-col nzSpan="22" class="span_down">
                {{dataUser.customerId}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">客户名称：</div>
              <div nz-col nzSpan="8" class="span_down">
                {{dataUser.customerId}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">客户账号：</div>
              <div nz-col nzSpan="8" class="span_down">
                {{dataUser.accountName}}
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">登录密码：</div>
              <div nz-col nzSpan="8" class="span_down">
                <input nz-input [(ngModel)]="dataUser.password" placeholder="输入登录密码" nzSize="default">
              </div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="2" class="span_down right_alignment">权限配置：</div>
            </div>
            <div nz-row>
              <div nz-col nzSpan="24">
                <nz-table #permissionTable [nzData]="dataTaggingPlatform" *ngIf="!isSpinning">
                  <thead>
                    <tr>
                      <th>一级菜单</th>
                      <th>二级菜单</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of permissionTable.data">
                      <tr>
                        <td>
                          <label nz-checkbox [(nzChecked)]="data.checked" (click)="onChange(data, 'categoryOne')">{{ data.name }}</label>
                        </td>
                        <td>
                          <ng-container *ngFor="let item of data.children">
                            <label nz-checkbox [(nzChecked)]="item.checked" (click)="onChange(item, 'categoryTwo')">{{ item.name }}</label>
                          </ng-container>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </nz-table>
              </div>
            </div>
            <ng-template #editAccountFooter>
              <button nz-button nzType="primary" (click)="doSave('editAccount', '')"><i class="anticon anticon-save"></i>确定</button>
              <button nz-button nzType="default" (click)="hideModal('editAccount')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
