<div id="home">
    <div id="home-container">
        <div id="home-line-1">
            <span>革</span>
            <span>命</span>
            <span>性</span>
        </div>
        <div id="home-line-2">
            <b> 
                <span>语</span>
                <span>音</span>
                <span>交</span>
                <span>互</span>
                <span>技</span>
                <span>术</span>
            </b>
        </div>
        <div id="home-line-3">
                <span>解</span>
                <span>决</span>
                <span>方</span>
                <span>案</span>
                <span>提</span>
                <span>供</span>
                <span>商</span> 
        </div>
    </div>
</div>