#home {
    height: 619px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/home_bg.png);
    background-position: center;
    // background-attachment: fixed;
    // background-repeat: no-repeat;
    // background-size: cover;

    #home-container {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        color: #ffffff;
        padding: 100px;
        #home-line-1 {
            margin: 105px 0 0 0;
            padding: 0;
            font-size: 42px;
            font-weight: 200;
            font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
            letter-spacing: 6px;
        }
        #home-line-2 {
            margin: -15px 0 0 0;
            padding: 0 0 0 4px;
            font-size: 52px;
            letter-spacing: 6px;
        }
        #home-line-3 {
            margin: -5px 0 0 0;
            padding: 0 0 0 20px;
            font-size: 31px;
            font-weight: 200;
            font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
            letter-spacing: 21px;
        }
    }
}
