<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'3500px', y: '520px'}" *ngIf="!isSpinning">
  <thead>
    <tr>
      <th nzWidth="50px" nzLeft="0px">序号</th>
      <th nzWidth="100px" nzLeft="85px">时间</th>
      <th nzWidth="100px">唤醒机票人次</th>
      <th nzWidth="100px">唤醒机票行为数</th>
      <th nzWidth="100px">机票订单推荐总数</th>
      <th nzWidth="100px">首次机票订单推荐数</th>
      <th nzWidth="100px">机票对话轮数（总）</th>
      <th nzWidth="100px">日最高机票对话轮数</th>
      <th nzWidth="100px">机票订单请求数</th>
      <th nzWidth="100px">机票订单提交数</th>
      <th nzWidth="100px">机票订单成交数</th>
      <th nzWidth="100px">机票订单出票数</th>
      <th nzWidth="100px">机票退款数</th>
      <th nzWidth="100px">机票订单请求率</th>
      <th nzWidth="100px">机票订单提交率</th>
      <th nzWidth="100px">机票成交率</th>
      <th nzWidth="100px">机票退款率</th>
      <th nzWidth="100px">机票换舱位</th>
      <th nzWidth="100px">机票换时间</th>
      <th nzWidth="100px">机票换价格</th>
      <th nzWidth="100px">机票换航空公司</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px" nzLeft="0px">{{i+1}}</td>
      <td nzWidth="100px" nzLeft="85px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.awakFlightUsers}}</td>
      <td nzWidth="100px">{{data.awakFlightCount}}</td>
      <td nzWidth="100px">{{data.flightOrderRecommend}}</td>
      <td nzWidth="100px">{{data.flightOrderRecommendFirst}}</td>
      <td nzWidth="100px">{{data.flightSessionCount}}</td>
      <td nzWidth="100px">{{data.flightSessionMax}}</td>
      <td nzWidth="100px">{{data.flightOrderQuery}}</td>
      <td nzWidth="100px">{{data.flightOrderCommit}}</td>
      <td nzWidth="100px">{{data.flightOrderCheckout}}</td>
      <td nzWidth="100px">{{data.flightOrderTicket}}</td>
      <td nzWidth="100px">{{data.flightOrderRefund}}</td>
      <td nzWidth="100px">{{(data.awakFlightCount === 0 ? 0 : data.flightOrderQuery / data.awakFlightCount) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakFlightCount === 0 ? 0 : data.flightOrderCommit / data.awakFlightCount) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.awakFlightCount === 0 ? 0 : data.flightOrderCheckout / data.awakFlightCount) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{(data.flightOrderTicket === 0 ? 0 : data.flightOrderRefund / data.flightOrderTicket) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px">{{data.flightChangeSpace}}</td>
      <td nzWidth="100px">{{data.flightChangeTime}}</td>
      <td nzWidth="100px">{{data.flightChangePrice}}</td>
      <td nzWidth="100px">{{data.flightChangeAirline}}</td>
    </tr>
  </tbody>
</nz-table>
