#footer {
    width: 978px;
    height: 139px;
    background-color: #F6CF00;
    color: #231916;
    p {
        display: block;
        width: 320px;
        margin: 0 auto;
        padding-top: 39px;
        font-size: 12px;
        a {
            color: #231916;
        }
    }

    #small-chewrobot-logo {
        width: 27px;
        height: 40px;
        background-image: url(/assets/images/big-chewrobot-logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
}
