#footer {
    height: 182px;
    background-image: url(/assets/img/footer_bg.png);
    background-position: center;
    #footer-container {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
        #footer-brand-logo {
            height: 80px;
            margin-top: 38px;
            margin-bottom: 18px;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
