<div id="plan-m">
  <div id="plan-m-header">
    <h2><span>解决</span>方案</h2>
    <p>
      垂直领域最智能的语音识别技术，
      <br>提供全行业解决方案；
      <br>个性化深度定制，降低企业试错成本；
      <br>极速demo体验，短周期快上线。
    </p>
  </div>
  <div id="plan-m-field">
    <ul>
      <li class="plan-m-field-item" (click)="showOrCloseEducation()">
        <div id="education-item">教育领域</div>
      </li>
      <li class="plan-m-field-item" (click)="showOrCloseGame()">
        <div id="game-item">游戏领域</div>
      </li>
      <li class="plan-m-field-item" (click)="showOrCloseAnimate()">
        <div id="animate-item">动漫领域</div>
      </li>
      <li class="plan-m-field-item" (click)="showOrCloseHardware()">
        <div id="hardware-item">智能硬件</div>
      </li>
    </ul>
  </div>
</div>



<div id="plan-m-eg">
  <div id="education-dialog" class="dialog">

  </div>

  <div id="game-dialog" class="dialog">
    <div class="dialog-container">
      <h3>游戏领域</h3>
      <p>颠覆传统操作方式，释放双手，释放灵魂。</p>
      <hr>
      <h3>案例</h3>
      <p>全球首款语音控制格斗游戏声动战士(Vocal Warrior)。</p>
      <a href="http://vocalwarrior.centaurstech.com/">游戏官网</a>
      <img src="/assets/images/game_img.png" alt="">
    </div>
  </div>

  <div id="animate-dialog" class="dialog">
    <div class="dialog-container">
      <h3>虚拟偶像</h3>
      <p>提升IP品牌价值及变现能力, 创造属于企业自己的全民偶像。</p>
      <hr>
      <h3>案例</h3>
      <p>虚拟主播《人马西西》,休闲时刻的娱乐伙伴。</p>
      <a href="https://www.centaurstech.com/product/cc/">人马西西</a>
      <img src="/assets/images/animate_img.png" alt="">
    </div>
  </div>

  <div id="hardware-dialog" class="dialog">

  </div>
</div>