#plan-m {
    width: 100%;
    overflow: hidden;
    background: url("/assets/images/plan_background.png");
    background-position: calc(50% - 50px) 50%;
    background-size: 200%;
    background-repeat: no-repeat;
    padding: 5% 5% 5% 5%;
    color: #FEFEFE;
    h2 {
        font-size: 4em;
        overflow: hidden;
        padding-bottom: 2%;
        span {
            color: #FFD400;
        }
    }
    p {
        font-size: 2.66em;
        font-weight: 100;
    }
    #plan-m-field {
        width: 100%;
        margin: 0 auto;
        list-style: none;
        padding: 0;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
        }
        .plan-m-field-item {
            div {
                background-color: #FFD400;
                width: 6em;
                height: 6em;
                font-size: 2em;
                text-align: center;
                vertical-align: middle;
                line-height: 6em;
                border: 0.1em solid #FEFEFE;
                background-size: cover;
                text-decoration: none;
                color: #FEFEFE;
                font-weight: 500;
                text-shadow: 2px 2px black;

            }
        }
        li {
            text-align: center;
            flex-grow: 1;
        }
        li:hover {
            div {
                border: 0.1em solid #FFD400;
                color: #FFD400;
            }
        }
        #education-item {
            background-image: url("/assets/images/education_background.png");
        }
        #game-item {
            background-image: url("/assets/images/game_background.png");
        }
        #animate-item {
            background-image: url("/assets/images/animate_background.png");
        }
        #hardware-item {
            background-image: url("/assets/images/hardware_background.png");
        }
    }
}

#plan-m-eg {
    width: 100%;
    overflow: hidden;
    background-color: #FEFEFE;
    margin: 0;
    padding: 0 5% 0 5%;
    .dialog {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        height: 0;
        overflow: hidden;
        .dialog-container {
            padding-top: 5%;
            h3 {
                font-size: 3em;
            }
            p {
                font-size: 2.66em;
            }
            a {
                display: inline-block;
                padding: 1% 2% 1% 2%;
                text-decoration: none;
                background-color: #FFD400;
                color: black;
                margin-bottom: 1%;
                font-size: 2.66em;
            }
            img {
                width: 100%;
            }
        }
    }
}