<div id="footer">
    <div id="footer-container">
        <img id="footer-brand-logo" (click)="scrollTop()" src="/assets/img/footer_brand_logo.png" alt="返回顶部" >
        <p id="footer-copyright">
            <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} <a href="http://www.centaurstech.com/" target="_blank">{{nowFooter.brand}}</a>
            <a id="record" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备16128928号</a>
        </p>
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111125762-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111125762-2');
</script>
