<div id="product-m">
    <div id="product-container" [class.product-container-zh]="language==='zh'" [class.product-container-en]="language==='en'">
        <ul id="product-menu">
            <li *ngFor="let prod of nowProd.pages; let i = index" (click)="clickProdItem(i)" class="product-menu-item">
                <div class="product-menu-icon">
                    <img [src]="prod.icon" [alt]="prod.name">
                </div>
                <div class="product-menu-title" [class.product-menu-title-zh]="language == 'zh'" [class.product-menu-title-en]="language == 'en'">
                    {{prod.name}}
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="product-s">
    <div id="product-s-container">
        <div id="product-s-page-conainer">
            <div id="product-s-logo">
                <img [src]="nowProdSingle.icon" [alt]="nowProdSingle.name">
            </div>
            <div id="product-s-close" (click)="closeProdSingle()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </div>
            <div id="product-s-main-title">
                <h2>
                    {{nowProdSingle.title}}
                </h2>
                <p>
                    {{nowProdSingle.sub}}
                </p>
            </div>
            <div id="product-s-main-body">
                <p *ngFor="let p of nowProdSingle.desc;">
                    {{p}}
                </p>
            </div>
            <div *ngFor="let c of nowProdSingle.case;" class="product-s-case">
                <h5 *ngFor="let ch of c.h;">
                    {{ch}}
                </h5>
                <p *ngFor="let cp of c.p;">
                    {{cp}}
                </p>
                <div class="product-s-case-link">
                    <a [href]="cl.ref" *ngFor="let cl of c.link;" target='_blank'>{{cl.name}}</a>
                </div>
                <div class="product-s-case-img">
                    <img *ngFor="let cimg of c.img;" [src]='cimg' />
                </div>
            </div>
        </div>
    </div>
</div>
