#tech {
    height: 697px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/tech_bg_1.png);
    background-position: center;
    #tech-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        #tech-left {
            position: absolute;
            top: 75px;
            left: 53px;
            width: 450px;
            height: 486px;
            padding: 60px 30px 0 60px;
            background-color: gold;
            box-shadow: 5px 5px 50px #cccccc; // opacity: 0.2;
            z-index: 1;
            h3 {
                font-size: 33px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-size: 12px;
                line-height: 23px;
            }
            #tech-menu {
                width: 358px;
                height: 230px;
                margin-top: 30px;
                padding-left: 0;
                list-style-type: none;
                .tech-menu-inner {
                    display: inline-block;
                    width: 116px;
                    height: 115px;
                    margin: 0;
                    outline: 2px solid gold;
                    text-align: center;
                    img {
                        display: inline-block;
                        padding-top: 20px;
                        width: 64px;
                        padding: 0;
                    }
                    P {
                        margin: 0;
                        font-size: 12px;
                        line-height: 12px;
                        color: #ffffff;
                        font-weight: lighter;
                    }
                }
                .tech-menu-active {
                    display: inline-block;
                    outline: 2px solid white;
                    img {
                        filter: invert(100%);
                        padding-top: 15px;
                    }
                    p {
                        color: black;
                    }
                }
            }
        }
        #tech-right {
            position: absolute;
            top: 175px;
            left: 457px;
            width: 493px;
            height: 450px;
            background-color: #ffffff;
            box-shadow: 5px 5px 50px #cccccc;
            #tech-detail {
                padding: 64px 80px 30px 105px;
                h4 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
                h5 {
                    font-size: 14px;
                    line-height: 23px;
                    margin-bottom: 20px;
                }
                p {
                    font-size: 12px;
                    line-height: 23px;
                    color: gray;
                }
            }
            #tech-right-logo {
                position: absolute;
                width: 46px;
                bottom: 20px;
                right: 20px;
            }
        }
    }
}
