<div id="tech">
    <div id="tech-container">
        <div id="tech-left">
            <h3>核心技术优势</h3>
            <p>我们完全自主研发的语义识别人工智能引擎可以实现多轮人机对话及上下文理解，采用独特的偏重实例层的多层语义知识网络,支持基于图模板映射的规则归纳和知识推理。</p>
            <ul id="tech-menu">
                <li *ngFor="let tech of technologies; let i = index" [class.tech-menu-active]="i == nowIndex" class="tech-menu-inner" (click)="changeTech(i)">
                    <img [src]="tech.icon" [alt]="tech.name">
                    <p>{{tech.name}}</p>
                </li>
            </ul>
        </div>
        <div id="tech-right">
            <div id="tech-detail">
                <h4>{{nowTech.title}}</h4>
                <h5>{{nowTech.sub}}</h5>
                <p>{{nowTech.desc}}</p>
            </div>
            <img id="tech-right-logo" src="/assets/img/brand_logo_gold.png">
        </div>
    </div>
</div>
