<div id="tech">
    <div id="tech-container">
        <div id="tech-left">
            <h3>核 心 技 术 优 势</h3>
            <p>我 们 完 全 自 主 研 发 的 语 义 识 别 人 工 智 能 引 擎 可 以 实 现 多 轮 人 机 对 话 及 上 下 文 理 解， 采 用 独 特 的 偏 重 实 例 层 的 多 层 语 义 知 识 网 络, 支 持 基 于 图 模 板 映 射 的 规 则 归 纳 和 知 识 推 理。</p>
            <ul id="tech-menu">
                <li *ngFor="let tech of technologies; let i = index" [class.tech-menu-active]="i == nowIndex" class="tech-menu-inner" (click)="changeTech(i)">
                    <img [src]="tech.icon" [alt]="tech.name">
                    <p>{{tech.name}}</p>
                </li>
            </ul>
        </div>
        <div id="tech-right">
            <div id="tech-detail">
                <h4>{{nowTech.title}}</h4>
                <h5>{{nowTech.sub}}</h5>
                <p>{{nowTech.desp}}</p>
            </div>
            <img id="tech-right-logo" src="/assets/img/brand_logo_gold.png">
        </div>

        <div id="tech-delete" style="display:none">
            <h2>主要<span>技术团队</span></h2>
            <div id="detail">
                <div id="left-part">
                    <img [src]="nowMember.img">
                </div>
                <div id="right-part">
                    <h3>{{ nowMember.name }}</h3>
                    <h4>{{ nowMember.position }}</h4>
                    <h5>{{ nowMember.education }}</h5>
                    <p>
                        {{ nowMember.introduction }}
                    </p>
                    <ul id="social">
                        <li id="linkedin"><a [href]="nowMember.linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li id="facebook"><a [href]="nowMember.facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <ul id="member">
                <li *ngFor="let member of members; let i = index" [class.active]="i == nowIndex" (click)="changeMember(i)">
                    <img [src]="member.img">
                </li>
            </ul>
        </div>



    </div>
</div>
