<div id="about">
    <div id="about-container">
        <img src="/assets/img/about_robot.png" id="about-robot">
        <div id="about-info">
            <img src="/assets/img/brand_logo_gold.png" id="about-brand-logo">
            <h3>关于齐悟</h3>
            <p>齐悟是人马互动科技有限公司(CentaursTech)创立的的人工智能品牌，我们致力于为企业打造智能化、差异化产品提供深度定制化语音交互技术解决方案。</p>
            <p>齐悟机器人涵盖语音识别、语义识别、语音合成和嵌入式硬件模组，齐悟给客户提供的是完善的一站式语音交互技术解决方案。我们完全自主研发的语义识别引擎技术可以实现上下文语义理解及推理，能处理复杂的业务逻辑，技术处于全球领先水平，目前齐悟主要服务于是文化创意产业，我们能根据合作企业实际业务需求做个性化定制，帮助其大幅降低企业人力成本，提升企业产品价值，用创新的黑科技结合企业的资源优势实现共赢。</p>
            <img src="/assets/img/brand_logo_gray.png" id="about-info-bg">
        </div>
    </div>
</div>
