#about {
    height: 694px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/about_bg.png);
    background-position: center;
    #about-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding: 80px 90px;
        #about-robot {
            position: absolute;
            z-index: 1;
            top: 165px;
            left: 50px;
            box-shadow: 5px 5px 30px #cccccc;
        }
        #about-info {
            position: absolute;
            top: 90px;
            left: 330px;
            width: 630px;
            height: 550px;
            padding: 70px 70px 70px 125px;
            overflow: hidden;
            background-color: #ffffff;
            box-shadow: 5px 5px 20px #cccccc;
            #about-brand-logo {
                width: 46px;
            }
            #about-info-bg {
                position: absolute;
                top: -40px;
                right: 30px;
                width: 240px;
            }
            h3 {
                font-size: 33px;
                font-weight: bold;
                margin-top: 15px;
                margin-bottom: 30px;
            }
            p {
                color: gray;
                font-size: 12px;
                line-height: 23px;
            }
            button {
                font-size: 20px;
                color: gold;
                border: solid 2px gold;
                word-spacing: 80px;
                margin-top: 30px;
                padding: 3px 15px;
                background-color: #ffffff;
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}