<div id="about">
    <canvas #testCanvas class='canvas-content' [attr.width]='_sWidth' [attr.height]='_sHeight'></canvas>
    <div id="about-container">
        <img [src]="nowPic" id="about-left-pic">
        <img src="/assets/img/brand_logo_gold.png" id="about-left-brand-logo">
        <div id="about-info" [class.about-info-zh]="language == 'zh'" [class.about-info-en]="language == 'en'">
            <img src="/assets/img/brand_logo_gold.png" id="about-brand-logo">
            <h3>{{nowAbout.title}}</h3>
            <p>{{nowAbout.sub}}</p>
            <p>{{nowAbout.desc}}</p>
            <img src="/assets/img/brand_logo_gray.png" id="about-info-bg">
        </div>
    </div>
</div>
