<!-- 顶部 -->
<div class="top_nav">
  <ul nz-menu [nzMode]="'horizontal'">
    <li nz-menu-item class="left_panel">
      <a class="common-button" routerLink="/appVersion" routerLinkActive="active">
        <img src="assets/images/qiwu_logo.png" class="qiwu_logo" alt="">
      </a>
    </li>
  </ul>
</div>
<div class="changePass">
  <div class="login_panel">
    <div class="center">
      <div class="title_panel">修改密码</div>
      <div nz-row class="cell_panel">
        <div nz-col nzSpan="2">
        </div>
        <div nz-col nzSpan="20">
          <hr>
        </div>
        <div nz-col nzSpan="2">
        </div>
      </div>
      <form nz-form [formGroup]="changePassForm">
        <div nz-row class="cell_panel">
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="5" class="span_down right_alignment">
            旧密码&nbsp;
          </div>
          <div nz-col nzSpan="15">
            <label nz-form-item>
              <div nz-form-control nzHasFeedback>
                <input nz-input formControlName="oldPassword" placeholder="旧密码" type="password" nzSize="default">
                <div nz-form-explain maxlength="16" style="color: red" *ngIf="getFormControl('oldPassword').dirty&&getFormControl('oldPassword').value === ''">请输入旧密码！</div>
              </div>
            </label>
          </div>
        </div>
        <div nz-row class="cell_panel">
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="5" class="span_down right_alignment">
            新密码&nbsp;
          </div>
          <div nz-col nzSpan="15">
            <label nz-form-item>
              <div nz-form-control nzHasFeedback>
                <input nz-input formControlName="newPassword" placeholder="新密码" type="password" nzSize="default">
                <div nz-form-explain maxlength="16" style="color: red" *ngIf="getFormControl('newPassword').dirty&&getFormControl('newPassword').value === ''">请输入新密码！</div>
              </div>
            </label>
          </div>
        </div>
        <div nz-row class="cell_panel">
          <div nz-col nzSpan="2">
          </div>
          <div nz-col nzSpan="5" class="span_down right_alignment">
            确认密码&nbsp;
          </div>
          <div nz-col nzSpan="15">
            <label nz-form-item>
              <div nz-form-control nzHasFeedback>
                <input nz-input formControlName="confirmPassword" placeholder="确认密码" type="password" nzSize="default" (keyup)="($event.which === 13)?onSubmit($event, changePassForm):0">
                <div nz-form-explain maxlength="16" style="color: red" *ngIf="getFormControl('confirmPassword').dirty&&getFormControl('confirmPassword').value === ''">请输入确认密码！</div>
              </div>
            </label>
          </div>
        </div>
      </form>
      <div id="resultInfo" style="display: none;"></div>
      <div nz-row class="cell_panel">
        <div nz-col nzSpan="2">
        </div>
        <div nz-col nzSpan="20">
          <button nz-button nzType="primary" nzBlock (click)="onSubmit($event, changePassForm)">提交</button>
        </div>
        <div nz-col nzSpan="2">
        </div>
      </div>
    </div>
  </div>
</div>
