#nav-m {
    position: fixed; 
    transition: top 0.2s ease-in-out;
    top: 0;
    max-width: 978px;
    width: 100%;
    height: 230px;
    background-color: #333333;
    overflow: hidden;
    background-image: url("/assets/images/header_background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 400;
    #nav-top {
        position: fixed;
        transition: top 0.3s ease-in-out;
        width: 100%;
        height: 148px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
        z-index: 401;
        #chewrobot-logo-sm {
            align-self: flex-start;
            width: 8em;
            height: 148px;
            background-image: url("/assets/images/chewrobot-logo-sm.png");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            align-self: center;
            margin-right: 5%;
        }
        #slogan {
            display: flex;
            align-self: flex-end;
            margin-left: 5%;
            h3 {
                color: white;
                font-size: 4em;
                font-weight: 100;
                span {
                    color: #F6CF00;
                }
            }
        }
    }
    #nav-main {
        position: fixed;
        transition: top 0.2s ease-in-out;
        top: 148px;
        width: 90%;
        height: 70px;
        flex-direction: column;
        align-items: center;
        vertical-align: center;
        justify-content: center;
        margin: 0 5%;
        z-index: 402;
        nav {
            height: 3.3em;
            width: 100%;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            justify-content: space-between;
            text-align: center;
            a {
                display: block;
                text-decoration: none;
                color: #fff;
                font-size: 2.33em;
                line-height: 2.33em;
                padding-bottom: 8%;
                margin: 0 auto;
            }
            .active {
                text-decoration: none;
                border-bottom: 0.1em solid #FFD400;
            }
        }
    }
}