<div id="nav-m">
  <div id="top-block">
    <div id="chewrobot-logo-sm"></div>
    <div id="slogan">
      <h3>见闲思<span>齐</span>　一闻千<span>悟</span></h3>
    </div>
  </div>
  <div id="main-container">
    <nav>
      <a (click)="scrollTo('about-m')" [class.active]="activeAbout">产品</a>
      <a (click)="scrollTo('plan-m')" [class.active]="activePlan">方案</a>
      <a (click)="scrollTo('partner-m')" [class.active]="activePartner">合作</a>
      <a (click)="scrollTo('team-m')" [class.active]="activeTeam">团队</a>
      <a (click)="scrollTo('contact-m')" [class.active]="activeContact">联系</a>
    </nav>
  </div>
</div>