<app-left-nav></app-left-nav>
<div class="consumer" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large">

        <nz-tab [nzTitle]="consumerTemplate" *ngIf="commonService.haveMenuPermission('children', '客户管理')">
          <ng-template #consumerTemplate><i class="anticon anticon-team"></i>客户管理</ng-template>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="showModal('explain', '')"><i class="anticon anticon-question-circle-o"></i>数据说明</button>
            </div>
            <!-- <form [formGroup]="consumerSearchForm">
              <div nz-col nzSpan="3" class="span_down spacing right_alignment">
                客户ID：
              </div>
              <div nz-col nzSpan="4">
                <input nz-input formControlName="userPhone" placeholder="输入客户ID" nzSize="default">
              </div>
            </form> -->
            <div nz-col nzSpan="18"></div>
            <!-- <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('consumer')"><i class="anticon anticon-search"></i>查询</button>
            </div> -->
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('consumer')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="showModal('addConsumer', '')"><i class="anticon anticon-user-add"></i>新增客户</button>
            </div>
          </div>
          <nz-table #consumerTable [nzData]="dataConsumer" *ngIf="!isSpinning" [nzScroll]="{x:'2100px'}">
            <thead>
              <tr>
                <th>序号</th>
                <th>客户ID</th>
                <th>客户名称</th>
                <th>APP key</th>
                <th>key类型</th>
                <th>APP Secret</th>
                <th>Client ID</th>
                <th>登录类型</th>
                <th>BOT名称</th>
                <th>激活次数</th>
                <th>Payment Key</th>
                <th>短信签名</th>
                <th>创建时间</th>
                <th>序列号</th>
                <th>对接凭证</th>
                <th nzWidth="200px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of consumerTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.appChannel}}</td>
                <td>{{data.appChannelName}}</td>
                <td>{{data.appKey}}</td>
                <td>{{data.officially === true ? '正式key' : '测试key'}}</td>
                <td>{{data.appSecret}}</td>
                <td>{{data.clientId}}</td>
                <td>{{data.loginType === 0 ? '不需要登录' : '需要登录'}}</td>
                <td>{{data.robot}}</td>
                <td>{{data.maxSnActivation}}</td>
                <td>{{data.paymentKey ? data.paymentKey : 'null'}}</td>
                <td>{{data.smsSignType ? data.smsSignType : 'null'}}</td>
                <td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('modifySerial', data)"><i class="anticon anticon-eye-o"></i>查看</button>
                </td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('voucher', data)"><i class="anticon anticon-eye-o"></i>查看</button>
                </td>
                <td nzWidth="200px">
                  <button nz-button nzType="primary" (click)="showModal('modifyConsumer', data)" style="margin-right: 10px"><i class="anticon anticon-form"></i>编辑</button>
                  <button nz-button nzType="primary" (click)="showModal('deleteConsumer', $event)"><i class="anticon anticon-delete"></i>{{'作废'}}</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.voucher" nzTitle="对接凭证" [nzFooter]="voucherModalFooter" (nzOnCancel)="hideModal('voucher')" nzMaskClosable="false">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="24" class="span_down">
                【appChannel/appKey】{{voucherInfo.appChannel}}
              </div>
              <div nz-col nzSpan="24" class="span_down">
                【appSecret】{{voucherInfo.appSecret}}
              </div>
              <div nz-col nzSpan="24" class="span_down">
                【aesKey】{{voucherInfo.aesKey}}
              </div>
              <div nz-col nzSpan="24" class="span_down">
                【aesIv】{{voucherInfo.aesIv}}
              </div>
              <div nz-col nzSpan="24" class="span_down">
                【privateKey】{{voucherInfo.privateKey}}
              </div>
            </div>
            <ng-template #voucherModalFooter>
              <button nz-button nzType="primary" (click)="doSave('voucher')"><i class="anticon anticon-copy"></i>复制</button>
              <button nz-button nzType="default" (click)="hideModal('voucher')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.addConsumer" nzWidth="950" nzTitle="新增客户信息" [nzFooter]="addConsumerModalFooter" (nzOnCancel)="hideModal('addConsumer')" nzMaskClosable="false">
            <form [formGroup]="addConsumerForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  key类型 <font color="red">*</font>：
                </div>
                <div nz-col nzSpan="12">
                  <nz-radio-group formControlName="officially" [(ngModel)]="consumerDate.officially">
                    <label nz-radio [nzValue]="false">测试key</label>
                    <label nz-radio [nzValue]="true">正式key</label>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  客户ID <font color="red">*</font>：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="appChannel" maxlength="32" [(ngModel)]="consumerDate.appChannel" placeholder="请输入客户ID（即appkey，长度不能超过32位）" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="1">
                  <button nz-button nzType="primary" (click)="showModal('explain', '')"><i class="anticon anticon-question-circle-o"></i></button>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  客户名称 <font color="red">*</font>：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="appChannelName" [(ngModel)]="consumerDate.appChannelName" placeholder="请输入客户名称" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  BOT配置文件ID <font color="red">*</font>：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="robot" [(ngModel)]="consumerDate.robot" placeholder="请输入BOT配置文件id（不要填.yml文件后缀名）" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  客户联系人手机号 <font color="red">*</font>：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="phone" [(ngModel)]="consumerDate.phone" placeholder="请输入手机号码（子账号默认手机号）" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  登录类型 <font color="red">*</font>：
                </div>
                <div nz-col nzSpan="12">
                  <nz-radio-group formControlName="aaa" [(ngModel)]="consumerDate.loginType">
                    <label nz-radio nzValue="1">需要登录</label>
                    <label nz-radio nzValue="0">不需要登录</label>
                  </nz-radio-group>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  激活次数 <font color="red">*</font>：
                </div>
                <div nz-col nzSpan="12" [ngClass]="{'span_down': consumerDate.officially === true}">
                  <input nz-input formControlName="maxSnActivation" [(ngModel)]="consumerDate.maxSnActivation" placeholder="请输入激活次数 Key" nzSize="default" *ngIf="consumerDate.officially === false">
                  {{consumerDate.officially === true ? '3' : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  Payment Key：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="paymentKey" [(ngModel)]="consumerDate.paymentKey" placeholder="请输入Payment Key" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  短信签名：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="smsSign" [(ngModel)]="consumerDate.smsSign" placeholder="请输入短信签名" nzSize="default">
                </div>
              </div>
              <!-- 临时 -->
              <!-- <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  序列号：
                </div>
                <div nz-col nzSpan="12">
                  <textarea rows="5" nz-input formControlName="keys" [(ngModel)]="consumerDate.keys" placeholder="请输入序列号，以换行符区分不同的序列号" nzSize="default"></textarea>
                </div>
              </div> -->
            </form>
            <ng-template #addConsumerModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addConsumer')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addConsumer')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.modifyConsumer" nzWidth="950" nzTitle="修改客户信息" [nzFooter]="modifyConsumerModalFooter" (nzOnCancel)="hideModal('modifyConsumer')" nzMaskClosable="false">
            <form [formGroup]="modifyConsumerForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  key类型：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  {{consumerDate.officially === true ? '正式key' : '测试key'}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  客户ID：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  {{consumerDate.appChannel}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  客户名称：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  {{consumerDate.appChannelName}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  BOT配置文件ID：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  {{consumerDate.robot}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  登录类型：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  {{consumerDate.loginType === 1 ? '需要登录' : '不需要登录'}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  激活次数：
                </div>
                <div nz-col nzSpan="12" class="span_down" [ngClass]="{'span_down': consumerDate.officially === true}">
                  <input nz-input formControlName="maxSnActivation" [(ngModel)]="consumerDate.maxSnActivation" placeholder="请输入激活次数 Key" nzSize="default" *ngIf="consumerDate.officially === false">
                  {{consumerDate.officially === true ? '3' : ''}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  Payment Key：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="paymentKey" [(ngModel)]="consumerDate.paymentKey" placeholder="请输入Payment Key" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  短信签名：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="smsSign" [(ngModel)]="consumerDate.smsSign" placeholder="请输入短信签名" nzSize="default">
                </div>
              </div>
              <!-- 临时 -->
              <!-- <div nz-row class="search_panel">
                <div nz-col nzSpan="8" class="span_down right_alignment">
                  序列号：
                </div>
                <div nz-col nzSpan="12">
                  <textarea rows="5" nz-input formControlName="keys" [(ngModel)]="consumerDate.keys" placeholder="请输入序列号，以换行符区分不同的序列号" nzSize="default"></textarea>
                </div>
              </div> -->
            </form>
            <ng-template #modifyConsumerModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyConsumer')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('modifyConsumer')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.modifySerial" nzWidth="950" nzTitle="修改序列号" [nzFooter]="modifySerialModalFooter" (nzOnCancel)="hideModal('modifySerial')" nzMaskClosable="false">
            <form [formGroup]="serialSearchForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  序列号：
                </div>
                <div nz-col nzSpan="4" class="span_down">
                  <input nz-input formControlName="sn" placeholder="请输入序列号" nzSize="default">
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="2" class="span_down">
                  <button nz-button nzType="primary" (click)="loadData('modifySerial')"><i class="anticon anticon-search"></i>查询</button>
                </div>
                <div nz-col nzSpan="13"></div>
                <div nz-col nzSpan="2" class="span_down">
                  <button nz-button nzType="primary" (click)="showModal('addSerial')"><i class="anticon anticon-file-add"></i>添加</button>
                </div>
              </div>
            </form>
            <nz-table #consumerTable [nzData]="dataSerial" *ngIf="!isSpinning">
              <thead>
                <tr>
                  <th nzWidth="20px">序号</th>
                  <th nzWidth="20px">序列号</th>
                  <!-- <th nzWidth="20px">添加时间</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of consumerTable.data; let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{data.sn}}</td>
                  <!-- <td>{{data.appChannelName}}</td> -->
                </tr>
              </tbody>
            </nz-table>
            <ng-template #modifySerialModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyConsumer')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('modifySerial')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.editSerial" nzTitle="修改序列号" [nzFooter]="editSerialModalFooter" (nzOnCancel)="hideModal('editSerial')" nzMaskClosable="false">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="24" class="span_down">
                <input nz-input [(ngModel)]="editSerialData" nzSize="default" placeholder="请输入序列号">
              </div>
            </div>
            <ng-template #editSerialModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addConsumer')"><i class="anticon anticon-save"></i>确定</button>
              <button nz-button nzType="default" (click)="hideModal('editSerial')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.addSerial" nzWidth="950" nzTitle="添加序列号" [nzFooter]="addSerialModalFooter" (nzOnCancel)="hideModal('addSerial')" nzMaskClosable="false">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="24" class="span_down">
                可以输入或上传文件添加序列号，添加前请务必检查序列号是否正确
              </div>
            </div><div nz-row class="search_panel">
              <div nz-col nzSpan="24" class="span_down">
                <textarea rows="25" nz-input [(ngModel)]="consumerDate.keys" nzSize="default"></textarea>
              </div>
              <div nz-col nzSpan="3" class="span_down">
                <a href="javascript:;" class="a-upload"><i class="anticon anticon-upload"></i>上传文件
                  <input type="file" (change)="getExcel($event)" multiple="false" />
                </a>
              </div>
              <div nz-col nzSpan="6" class="span_down" style="margin-top: 15px;">支持.CSV，.xls，.xlsx</div>
            </div>
            <ng-template #addSerialModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addSerial')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addSerial')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.explain" nzWidth="1110" nzTitle="客户管理数据说明" [nzFooter]="explainModalFooter" (nzOnCancel)="hideModal('explain')" nzMaskClosable="false">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="24">
                <img [src]="'assets/images/consumer_explain.png'">
              </div>
            </div>
            <ng-template #explainModalFooter>
              <button nz-button nzType="default" (click)="hideModal('explain')"><i class="anticon anticon-close-circle-o"></i>关闭</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

        <nz-tab [nzTitle]="callbackTemplate" *ngIf="commonService.haveMenuPermission('children', '客户管理')">
          <ng-template #callbackTemplate><i class="anticon anticon-rollback"></i>回调地址</ng-template>
          <div nz-row class="search_panel">
            <div nz-col nzSpan="2" class="span_down right_alignment">
              客户ID：
            </div>
            <div nz-col nzSpan="3">
              <input nz-input placeholder="请输入客户ID" nzSize="default">
            </div>
            <div nz-col nzSpan="2" class="span_down right_alignment">
              订单类型：
            </div>
            <div nz-col nzSpan="3">
              <input nz-input placeholder="请输入订单类型" nzSize="default">
            </div>
            <div nz-col nzSpan="2" class="span_down right_alignment">
              创建时间：
            </div>
            <div nz-col nzSpan="7">
              <nz-range-picker [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="commonService.dateSearch" (ngModelChange)="onChange($event, 'callback')"></nz-range-picker>
            </div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('callback')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addCallback', data)"><i class="anticon anticon-file-add"></i>新增回调地址</button>
            </div>
          </div>
          <nz-table #callbackTable [nzData]="dataCallback" *ngIf="!isSpinning" [nzScroll]="{x:'1600px'}">
            <thead>
              <tr>
                <th>序号</th>
                <th>客户ID</th>
                <th>订单类型</th>
                <th>回调地址</th>
                <th>创建时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of callbackTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.appChannel}}</td>
                <td>{{data.appChannelName}}</td>
                <td>{{data.appKey}}</td>
                <td>{{data.appSecret}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('modifyCallback', data)" style="margin-left: 10px"><i class="anticon anticon-form"></i>修改</button>
                  <button nz-button nzType="primary" (click)="showModal('deleteCallback', $event)"><i class="anticon anticon-delete"></i>删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div class="spin" *ngIf="isSpinning">
            <nz-spin [nzSize]="'large'"></nz-spin>
          </div>

          <nz-modal [(nzVisible)]="visiable.addCallback" nzTitle="新增回调地址" [nzFooter]="addCallbackModalFooter" (nzOnCancel)="hideModal('addCallback')" nzMaskClosable="false">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="5" class="span_down right_alignment">
                客户ID：
              </div>
              <div nz-col nzSpan="19">
                <nz-select [ngModel]="''">
                  <nz-option [nzLabel]="'---无---'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'xxx'" [nzValue]="'xxx'"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="5" class="span_down right_alignment">
                订单类型：
              </div>
              <div nz-col nzSpan="19">
                <nz-select [ngModel]="''">
                  <nz-option [nzLabel]="'---无---'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'xxx'" [nzValue]="'xxx'"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="5" class="span_down right_alignment">
                回调地址：
              </div>
              <div nz-col nzSpan="19">
                <input nz-input placeholder="请输入回调地址" nzSize="default">
              </div>
            </div>
            <ng-template #addCallbackModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addCallback')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('addCallback')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

          <nz-modal [(nzVisible)]="visiable.modifyCallback" nzTitle="修改回调地址" [nzFooter]="modifyCallbackModalFooter" (nzOnCancel)="hideModal('modifyCallback')" nzMaskClosable="false">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="5" class="span_down right_alignment">
                客户ID：
              </div>
              <div nz-col nzSpan="19">
                <nz-select [ngModel]="''">
                  <nz-option [nzLabel]="'---无---'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'xxx'" [nzValue]="'xxx'"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="5" class="span_down right_alignment">
                订单类型：
              </div>
              <div nz-col nzSpan="19">
                <nz-select [ngModel]="''">
                  <nz-option [nzLabel]="'---无---'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'xxx'" [nzValue]="'xxx'"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="5" class="span_down right_alignment">
                回调地址：
              </div>
              <div nz-col nzSpan="19">
                <input nz-input placeholder="请输入回调地址" nzSize="default">
              </div>
            </div>
            <ng-template #modifyCallbackModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyCallback')"><i class="anticon anticon-save"></i>保存</button>
              <button nz-button nzType="default" (click)="hideModal('modifyCallback')"><i class="anticon anticon-close-circle-o"></i>取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
