#footer-m {
    background-color: #FFD400;
    color: #231916;
    padding: 1% 5% 1% 5%;
    p {
        margin: 0 auto;
        padding-top: 0;
        font-size: 2em;
        color: white;
        a {
            color: white;
            text-decoration: none;
        }
    }
    #small-chewrobot-logo {
        width: 100%;
        text-align: center;
        img {
            margin: 0 auto;
        }
        margin: 0 auto;
    }
}