<div id="product">
    <div id="product-container">
        <h3>产品方案</h3>
        <p>提供的是垂直领域最智能的语义识别技术，同时根据客户的需求去提供完全定制化的解决方案。</p>
        <ul id="product-menu">
            <li>
                <ul>
                    <li (click)="clickProdItem(1)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/money_w.png" alt="智能金融">
                        </div>
                        <div class="product-menu-title">
                            智能金融
                        </div>
                    </li>
                    <li (click)="clickProdItem(2)">
                        <div class="product-s-menu-icon">
                            <img src="/assets/img/product_icons/helper_w.png" alt="智能助手">
                        </div>
                        <div class="product-menu-title">
                            智能助手
                        </div>
                    </li>
                    <li (click)="clickProdItem(3)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/doctor_w.png" alt="智慧医疗">
                        </div>
                        <div class="product-menu-title">
                            智慧医疗
                        </div>
                    </li>
                    <li (click)="clickProdItem(4)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/edu_w.png" alt="智慧教育">
                        </div>
                        <div class="product-menu-title">
                            智慧教育
                        </div>
                    </li>
                    <li (click)="clickProdItem(5)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/gov_w.png" alt="智慧政务">
                        </div>
                        <div class="product-menu-title">
                            智慧政务
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li (click)="clickProdItem(6)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/car_w.png" alt="智能汽车">
                        </div>
                        <div class="product-menu-title">
                            智能汽车
                        </div>
                    </li>
                    <li (click)="clickProdItem(7)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/cservice_w.png" alt="智能客服">
                        </div>
                        <div class="product-menu-title">
                            智能客服
                        </div>
                    </li>
                    <li (click)="clickProdItem(8)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/hard_w.png" alt="智能硬件">
                        </div>
                        <div class="product-menu-title">
                            智能硬件
                        </div>
                    </li>
                    <li (click)="clickProdItem(9)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/apt_w.png" alt="智能家居">
                        </div>
                        <div class="product-menu-title">
                            智能家居
                        </div>
                    </li>
                    <li (click)="clickProdItem(10)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/robot_w.png" alt="智能机器人">
                        </div>
                        <div class="product-menu-title">
                            智能机器人
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul>
                    <li (click)="clickProdItem(11)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/travel_w.png" alt="智能旅游">
                        </div>
                        <div class="product-menu-title">
                            智能旅游
                        </div>
                    </li>
                    <li (click)="clickProdItem(12)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/law_w.png" alt="智能法律">
                        </div>
                        <div class="product-menu-title">
                            智能法律
                        </div>
                    </li>
                    <li (click)="clickProdItem(13)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/voicegame_w.png" alt="语音游戏">
                        </div>
                        <div class="product-menu-title">
                            语音游戏
                        </div>
                    </li>
                    <li (click)="clickProdItem(14)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/idol_w.png" alt="虚拟偶像">
                        </div>
                        <div class="product-menu-title">
                            虚拟偶像
                        </div>
                    </li>
                    <li (click)="clickProdItem(15)">
                        <div class="product-menu-icon">
                            <img src="/assets/img/product_icons/ad_w.png" alt="交互广告">
                        </div>
                        <div class="product-menu-title">
                            交互广告
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div id="product-s" hidden>
    <div id="product-s-container">
        <ul id="product-s-menu">
            <li (click)="clickProdSingleItem(1)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/money_w.png" alt="智能金融">
                </div>
            </li>
            <li (click)="clickProdSingleItem(2)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/helper_w.png" alt="智能助手">
                </div>
            </li>
            <li (click)="clickProdSingleItem(3)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/doctor_w.png" alt="智慧医疗">
                </div>
            </li>
            <li (click)="clickProdSingleItem(4)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/edu_w.png" alt="智慧教育">
                </div>
            </li>
            <li (click)="clickProdSingleItem(5)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/gov_w.png" alt="智慧政务">
                </div>
            </li>
            <li (click)="clickProdSingleItem(6)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/car_w.png" alt="智能汽车">
                </div>
            </li>
            <li (click)="clickProdSingleItem(7)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/cservice_w.png" alt="智能客服">
                </div>
            </li>
            <li (click)="clickProdSingleItem(8)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/hard_w.png" alt="智能硬件">
                </div>
            </li>
            <li (click)="clickProdSingleItem(9)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/apt_w.png" alt="智能家居">
                </div>
            </li>
            <li (click)="clickProdSingleItem(10)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/robot_w.png" alt="智能机器人">
                </div>
            </li>
            <li (click)="clickProdSingleItem(11)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/travel_w.png" alt="智能旅游">
                </div>
            </li>
            <li (click)="clickProdSingleItem(12)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/law_w.png" alt="智能法律">
                </div>
            </li>
            <li (click)="clickProdSingleItem(13)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/voicegame_w.png" alt="语音游戏">
                </div>
            </li>
            <li (click)="clickProdSingleItem(14)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/idol_w.png" alt="虚拟偶像">
                </div>
            </li>
            <li (click)="clickProdSingleItem(15)">
                <div class="product-s-menu-icon">
                    <img src="/assets/img/product_icons/ad_w.png" alt="交互广告">
                </div>
            </li>
        </ul>
        <div id="product-s-turn-left" class="product-s-turn-page">
            <svg width="30" height="60">
                <line x1="30" y1="0" x2="0" y2="30"/>
                <line x1="30" y1="60" x2="0" y2="30"/>
            </svg>
        </div>
        <div id="product-s-turn-right" class="product-s-turn-page">
            <svg width="30" height="60">
                <line x1="0" y1="0" x2="30" y2="30"/>
                <line x1="0" y1="60" x2="30" y2="30"/>
            </svg>
        </div>
    </div>
</div>
