#product {
    height: 937px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/product_bg.png);
    background-position: center;
    #product-container {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        color: #FEFEFE;
        text-align: center;
        padding-top: 75px;
        h3 {
            font-size: 33px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        p {
            color: gray;
            font-size: 12px;
            padding-bottom: 20px;
        }
        #product-menu {
            margin-top: 75px;
            width: 100%;
            list-style: none;
            padding-left: 0;
            li {
                display: inline-block;
                ul {
                    list-style: none;
                    margin: 10px 0 60px 0;
                    padding-left: 0;
                    li {
                        display: inline-block;
                        width: 97px;
                        height: 140px;
                        margin: 0 45px 0 45px;
                        .product-menu-icon {
                            border-radius: 50%;
                            background-color: rgba(255, 255, 255, 0.1);
                            width: 97px;
                            height: 97px;
                            img {}
                        }
                        .product-menu-title {
                            margin-top: 10px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}