#product {
    height: 937px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/product_bg_long.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    #product-container {
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        color: #FEFEFE;
        text-align: center;
        padding-top: 75px;
        h3 {
            font-size: 34px;
            font-weight: 400;
            font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
            letter-spacing: 6px;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        p {
            color: lightgray;
            font-size: 12px;
            padding-bottom: 20px;
            letter-spacing: 3px;
        }
        #product-menu {
            margin-top: 75px;
            width: 100%;
            list-style: none;
            padding-left: 0;
            .product-menu-item {
                display: inline-block;
                list-style: none;
                margin: 10px 0 60px 0;
                width: 97px;
                height: 200px;
                margin: 0 45px;
                animation-iteration-count: infinite;
                .product-menu-icon {
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.1);
                    width: 97px;
                    height: 97px;
                    img {}
                }
                .product-menu-title {
                    margin-top: 10px;
                    font-size: 12px;
                    letter-spacing: 3px;
                }
            }
        }
    }
}

#product-s {
    height: 709px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/product_slide_bg.png);
    background-position: center;
    #product-s-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        color: #FEFEFE;
        text-align: center;
        #product-s-menu {
            position: absolute;
            bottom: 0;
            width: 100%;
            list-style: none;
            margin: 0;
            padding-left: 0; // background-color: rgb(5, 28, 43);
            li {
                display: inline-block;
                padding: 18px 11px;
                .product-s-menu-icon {
                    border-radius: 50%;
                    background-color: rgba(255, 255, 255, 0.1);
                    width: 40px;
                    height: 40px;
                    animation-iteration-count: infinite;
                    img {
                        width: 40px;
                    }
                }
                .product-s-menu-active {
                    background-color: gold;
                    img {
                        filter: invert(100%);
                    }
                }
            }
        }
        .product-s-turn-page {
            position: absolute;
            margin: 300px 0 0 0;
            padding: 0;
            width: 30px;
            height: 60px;
            svg {
                width: 30;
                height: 60;
                line {
                    stroke: rgb(255, 255, 255);
                    stroke-width: 2;
                }
            }
        }
        #product-s-turn-left {
            left: 0;
            &:hover {
                line {
                    stroke: gold;
                    stroke-width: 2;
                }
            }
        }
        #product-s-turn-right {
            right: 0;
            &:hover {
                line {
                    stroke: gold;
                    stroke-width: 2;
                }
            }
        }
        #product-s-page-conainer {
            position: relative;
            margin: 0 50px;
            padding-top: 90px;
            #product-s-logo {
                position: absolute;
                left: 0;
                top: 75px;
                width: 97px;
                height: 97px;
            }
            #product-s-main {
                margin: 0 118px;
                height: 520px;
                overflow: scroll;
                text-align: left;
                #product-s-main-title {
                    h2 {
                        margin: 0 0 20px 0;
                        font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
                        font-size: 55px;
                        font-weight: 200;
                        letter-spacing: 8px;
                    }
                    p {
                        font-size: 18px;
                        color: gray;
                        margin: 0 0 25px 0;
                        letter-spacing: 3px;
                    }
                }
                #product-s-main-body {
                    p {
                        font-size: 14px;
                        line-height: 26px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}
