<h1 class="page-header">
    <small>测试样例</small>
</h1>

    <div class="form-group">
        <span>每句一行</span>
    </div>
<form action="/test/auto" method="POST">
    <div class="form-group">
        <textarea name="testcase" class="form-control" placeholder="每句一行" rows="30">
{{user.testcases}}
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">开始测试</button>
<form>