<app-left-nav></app-left-nav>
<div class="account" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large">
        <nz-tab nzTitle="权限配置" (nzClick)="changePanel('role')" *ngIf="commonService.haveMenuPermission('children', '权限配置')">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="21">
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addRole', '')"><i class="anticon anticon-file-add"></i>新增角色</button>
            </div>
          </div>
          <nz-table #rowSelectionRoleTable [nzData]="dataRole" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="100px">角色名称</th>
                <th nzWidth="100px">描述</th>
                <th nzWidth="100px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionRoleTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.name}}</td>
                <td>{{data.desc}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('modifyRole', data)" style="margin-right: 10px;">编辑</button>
                  <button nz-button nzType="primary" (click)="showModal('deleteRole', data)">删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div nz-row style="margin: 10px 0;line-height: 30px;">
            <div nz-col nzSpan="16"></div>
            <div nz-col nzSpan="2">
              <nz-select [(ngModel)]="pageSize">
                <nz-option required [nzLabel]="'5'" [nzValue]="5"></nz-option>
                <nz-option required [nzLabel]="'10'" [nzValue]="10"></nz-option>
                <nz-option required [nzLabel]="'20'" [nzValue]="20"></nz-option>
                <nz-option required [nzLabel]="'50'" [nzValue]="50"></nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="1" *ngIf="changePage !== 1 && total !== 0"><button nz-button nzType="primary" (click)="lastPage()"><i class="anticon anticon-left"></i></button></div>
            <div nz-col nzSpan="1" *ngIf="changePage === 1 || total === 0"><button disabled nz-button nzType="primary"><i class="anticon anticon-left"></i></button></div>
            <div nz-col nzSpan="4">当前为 {{changePage}} / {{allSize}} 页 &nbsp;&nbsp; 共 {{total}} 条</div>
            <div nz-col nzSpan="1" *ngIf="changePage !== allSize && total !== 0"><button nz-button nzType="primary" (click)="nextPage()"><i class="anticon anticon-right"></i></button></div>
            <div nz-col nzSpan="1" *ngIf="changePage === allSize || total === 0"><button disabled nz-button nzType="primary"><i class="anticon anticon-right"></i></button></div>
          </div>

          <!-- 弹框 —— 新增 —— 新增角色 -->
          <nz-modal [(nzVisible)]="isAddRoleVisible" nzWidth="950" nzTitle="新增角色" [nzFooter]="addModalFooter" (nzOnCancel)="hideModal('addRole')">
            <form [formGroup]="roleAddForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down spacing">
                  <font color="red">*</font>角色名称：
                </div>
                <div nz-col nzSpan="10">
                  <input nz-input formControlName="name" maxlength="10" [(ngModel)]="rolesItem.name" placeholder="输入角色名称" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down spacing">
                  角色描述：
                </div>
                <div nz-col nzSpan="20">
                  <textarea rows="2" formControlName="desc" [(ngModel)]="rolesItem.desc" maxlength="50" nz-input placeholder="输入角色描述，不超过100个字符"></textarea>
                </div>
              </div>
            </form>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down spacing">
                <font color="red">*</font>权限设置：
              </div>
              <div nz-col nzSpan="10">
                <nz-checkbox-group [(ngModel)]="checkOptionsChannel"></nz-checkbox-group>
              </div>
              <div nz-col nzSpan="10" class="span_down spacing">
                一般情况仅勾选一个，如果勾选多个则可以切换平台
              </div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="24">
                <table class="table" *ngIf="allMenu.length > 0">
                  <tr class="tr">
                    <td class="td">一级菜单</td>
                    <td>二级菜单</td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked1" (ngModelChange)="updateAllChecked('flag1')">{{allMenu[0].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group  [(ngModel)]="checkOptions1"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked2" (ngModelChange)="updateAllChecked('flag2')">{{allMenu[1].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions2"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked3" (ngModelChange)="updateAllChecked('flag3')">{{allMenu[2].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions3"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked4" (ngModelChange)="updateAllChecked('flag4')">{{allMenu[3].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions4"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked5" (ngModelChange)="updateAllChecked('flag5')">{{allMenu[4].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions5"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked6" (ngModelChange)="updateAllChecked('flag6')">{{allMenu[5].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions6"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked7" (ngModelChange)="updateAllChecked('flag7')">{{allMenu[6].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions7"></nz-checkbox-group>
                    </td>
                  </tr>
                  <!-- 注释掉最后的不可见资源 -->
                  <!-- <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked8" (ngModelChange)="updateAllChecked('flag8')">{{allMenu[7].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions8"></nz-checkbox-group>
                    </td>
                  </tr> -->
                </table>
              </div>
            </div>
            <!-- 弹框和底部定制 -->
            <ng-template #addModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addRole')">确定</button>
              <button nz-button nzType="default" (click)="hideModal('addRole')">取消</button>
            </ng-template>
          </nz-modal>

          <!-- 弹框 —— 修改 —— 修改角色 -->
          <nz-modal [(nzVisible)]="isModifyRoleVisible" nzWidth="950" nzTitle="修改角色" [nzFooter]="modifyRoleModalFooter" (nzOnCancel)="hideModal('modifyRole')">
            <form [formGroup]="roleModifyForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down spacing">
                  <font color="red">*</font>角色名称：
                </div>
                <div nz-col nzSpan="10">
                  <input nz-input formControlName="name" [(ngModel)]="rolesItem.name" maxlength="10" placeholder="输入角色名称" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down spacing">
                  角色描述：
                </div>
                <div nz-col nzSpan="20">
                  <textarea rows="2" formControlName="desc" [(ngModel)]="rolesItem.desc" maxlength="50" nz-input placeholder="输入角色说明，不超过100个字符"></textarea>
                </div>
              </div>
            </form>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="4" class="span_down spacing">
                <font color="red">*</font>权限设置：
              </div>
              <div nz-col nzSpan="10">
                <nz-checkbox-group [(ngModel)]="checkOptionsChannel"></nz-checkbox-group>
              </div>
              <div nz-col nzSpan="10" class="span_down spacing">
                一般情况仅勾选一个，如果勾选多个则可以切换平台
              </div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="24">
                <table class="table" *ngIf="allMenu.length > 0">
                  <tr class="tr">
                    <td class="td">一级菜单</td>
                    <td>二级菜单</td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked1" (ngModelChange)="updateAllChecked('flag1')">{{allMenu[0].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions1"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked2" (ngModelChange)="updateAllChecked('flag2')">{{allMenu[1].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions2"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked3" (ngModelChange)="updateAllChecked('flag3')">{{allMenu[2].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions3"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked4" (ngModelChange)="updateAllChecked('flag4')">{{allMenu[3].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions4"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked5" (ngModelChange)="updateAllChecked('flag5')">{{allMenu[4].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions5"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked6" (ngModelChange)="updateAllChecked('flag6')">{{allMenu[5].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions6"></nz-checkbox-group>
                    </td>
                  </tr>
                  <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked7" (ngModelChange)="updateAllChecked('flag7')">{{allMenu[6].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions7"></nz-checkbox-group>
                    </td>
                  </tr>
                  <!-- 注释掉最后的不可见资源 -->
                  <!-- <tr class="tr">
                    <td class="td">
                      <label nz-checkbox [(ngModel)]="allChecked8" (ngModelChange)="updateAllChecked('flag8')">{{allMenu[7].name}}</label>
                    </td>
                    <td>
                      <nz-checkbox-group [(ngModel)]="checkOptions8"></nz-checkbox-group>
                    </td>
                  </tr> -->
                </table>
              </div>
            </div>
            <!-- 弹框和底部定制 -->
            <ng-template #modifyRoleModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyRole')">确定</button>
              <button nz-button nzType="default" (click)="hideModal('modifyRole')">取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>


        <nz-tab nzTitle="员工配置" (nzClick)="changePanel('customer')" *ngIf="commonService.haveMenuPermission('children', '员工配置')">
          <div nz-row class="search_panel">
            <form [formGroup]="searchCustomerForm">
              <div nz-col nzSpan="2" class="span_down right_alignment">
                员工姓名：
              </div>
              <div nz-col nzSpan="3">
                <input nz-input maxlength="32" formControlName="realname" placeholder="输入员工姓名" nzSize="default">
              </div>

              <div nz-col nzSpan="1"></div>

              <div nz-col nzSpan="2" class="span_down right_alignment">
                账号：
              </div>
              <div nz-col nzSpan="3" class="span_down">
                <input nz-input maxlength="32" formControlName="username" placeholder="输入账号" nzSize="default">
              </div>

              <div nz-col nzSpan="1"></div>

              <div nz-col nzSpan="2" class="span_down spacing right_alignment">
                角色名称：
              </div>
              <div nz-col nzSpan="3">
                <nz-select [ngModel]="''" formControlName="roleId">
                  <nz-option [nzLabel]="'----无----'" [nzValue]="''"></nz-option>
                  <nz-option *ngFor="let item of dataRole; let i=index;" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
              </div>

            </form>

            <div nz-col nzSpan="1"></div>

            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="loadData('customer')" style="margin-right: 10px;"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addCustomer', '')"><i class="anticon anticon-file-add"></i>新增员工</button>
            </div>
          </div>

          <nz-table #rowSelectionCustomerTable [nzData]="dataCustomer" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="100px">员工姓名</th>
                <th nzWidth="100px">账号</th>
                <th nzWidth="100px">角色名称</th>
                <th nzWidth="100px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionCustomerTable.data; let i=index;">
                <td *ngIf="data.baseAcc !== true">{{i+1}}</td>
                <td *ngIf="data.baseAcc !== true">{{data.realname}}</td>
                <td *ngIf="data.baseAcc !== true">{{data.username}}</td>
                <td *ngIf="data.baseAcc !== true">{{data.roleName}}</td>
                <td *ngIf="data.baseAcc !== true">
                  <button nz-button nzType="primary" (click)="showModal('modifyCustomer', data)" style="margin-right: 10px;">编辑</button>
                  <button nz-button nzType="primary" (click)="showModal('deleteCustomer', data)">删除</button>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div nz-row style="margin: 10px 0;line-height: 30px;">
            <div nz-col nzSpan="16"></div>
            <div nz-col nzSpan="2">
              <nz-select [(ngModel)]="pageSize">
                <nz-option required [nzLabel]="'5'" [nzValue]="5"></nz-option>
                <nz-option required [nzLabel]="'10'" [nzValue]="10"></nz-option>
                <nz-option required [nzLabel]="'20'" [nzValue]="20"></nz-option>
                <nz-option required [nzLabel]="'50'" [nzValue]="50"></nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="1" *ngIf="changePage !== 1 && total !== 0"><button nz-button nzType="primary" (click)="lastPage()"><i class="anticon anticon-left"></i></button></div>
            <div nz-col nzSpan="1" *ngIf="changePage === 1 || total === 0"><button disabled nz-button nzType="primary"><i class="anticon anticon-left"></i></button></div>
            <div nz-col nzSpan="4">当前为 {{changePage}} / {{allSize}} 页 &nbsp;&nbsp; 共 {{total}} 条</div>
            <div nz-col nzSpan="1" *ngIf="changePage !== allSize && total !== 0"><button nz-button nzType="primary" (click)="nextPage()"><i class="anticon anticon-right"></i></button></div>
            <div nz-col nzSpan="1" *ngIf="changePage === allSize || total === 0"><button disabled nz-button nzType="primary"><i class="anticon anticon-right"></i></button></div>
          </div>

          <!-- 弹框 —— 新增 —— 新增员工 -->
          <nz-modal [(nzVisible)]="isAddCustomerVisible" nzWidth="750" nzTitle="新增员工" [nzFooter]="addRoleModalFooter"
            (nzOnCancel)="hideModal('addCustomer')">
            <form [formGroup]="customerAddForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                  <font color="red">*</font>员工账号：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="username" maxlength="12" [(ngModel)]="customerItem.username" placeholder="输入员工账号" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                    <font color="red">*</font>员工姓名：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="realname" [(ngModel)]="customerItem.realname" placeholder="输入员工姓名" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                    <font color="red">*</font>登录密码：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="password" [(ngModel)]="customerItem.password" type="password" placeholder="输入登录密码" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                    <font color="red">*</font>角色：
                </div>
                <div nz-col nzSpan="12">
                  <nz-select [ngModel]="''" formControlName="roleId">
                    <nz-option [nzLabel]="'----无----'" [nzValue]="''"></nz-option>
                    <nz-option *ngFor="let item of dataRole; let i=index;" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                  </nz-select>
                </div>
              </div>
            </form>
            <!-- 弹框和底部定制 -->
            <ng-template #addRoleModalFooter>
              <button nz-button nzType="primary" (click)="doSave('addCustomer')">确认</button>
              <button nz-button nzType="default" (click)="hideModal('addCustomer')">取消</button>
            </ng-template>
          </nz-modal>

          <!-- 弹框 —— 修改 —— 修改用户信息 -->
          <nz-modal [(nzVisible)]="isModifyCustomerVisible" nzWidth="750" nzTitle="修改用户信息" [nzFooter]="modifyCustomerModalFooter" (nzOnCancel)="hideModal('modifyCustomer')">
            <form [formGroup]="customerModifyForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                  <font color="red">*</font>员工账号：
                </div>
                <div nz-col nzSpan="12" class="span_down">
                  {{customerItem.username}}
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                    <font color="red">*</font>员工姓名：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="realname" [(ngModel)]="customerItem.realname" placeholder="输入员工姓名" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                    <font color="red">*</font>登录密码：
                </div>
                <div nz-col nzSpan="12">
                  <input nz-input formControlName="password" [(ngModel)]="customerItem.password" type="password" placeholder="输入登录密码" nzSize="default">
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="6" class="span_down spacing right_alignment">
                    <font color="red">*</font>角色：
                </div>
                <div nz-col nzSpan="12">
                  <nz-select [(ngModel)]="customerItem.roleId" formControlName="roleId">
                    <nz-option *ngFor="let item of dataRole; let i=index;" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                  </nz-select>
                </div>
              </div>
            </form>
            <!-- 弹框和底部定制 -->
            <ng-template #modifyCustomerModalFooter>
              <button nz-button nzType="primary" (click)="doSave('modifyCustomer')">确认修改</button>
              <button nz-button nzType="default" (click)="hideModal('modifyCustomer')">取消</button>
            </ng-template>
          </nz-modal>

        </nz-tab>


        <nz-tab nzTitle="操作日志" (nzClick)="changePanel('operationlog')" *ngIf="commonService.haveMenuPermission('children', '操作日志')">
          <form [formGroup]="searchOperationlogForm">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="2" class="span_down right_alignment">
                账号：
              </div>
              <div nz-col nzSpan="3">
                <input nz-input maxlength="32" formControlName="username" placeholder="输入账号" nzSize="default">
              </div>

              <div nz-col nzSpan="2" class="span_down right_alignment">
                姓名：
              </div>
              <div nz-col nzSpan="3" class="span_down">
                <input nz-input maxlength="32" formControlName="realname" placeholder="输入姓名" nzSize="default">
              </div>

              <div nz-col nzSpan="3" class="span_down right_alignment">
                查询日期范围：
              </div>
              <div nz-col nzSpan="7" class="span_down spacing right_alignment">
                <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="dateSearch" (ngModelChange)="onChange($event, 'operationlog')"></nz-range-picker>
              </div>
              <div nz-col nzSpan="1"></div>

              <div nz-col nzSpan="3">
                <nz-select [ngModel]="''" formControlName="role_id">
                  <nz-option [nzLabel]="'----无----'" [nzValue]="''"></nz-option>
                  <nz-option *ngFor="let item of dataRole; let i=index;" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
              </div>
            </div>

            <div nz-row class="search_panel">
              <div nz-col nzSpan="4">
                <nz-select [ngModel]="''" formControlName="op_category">
                  <nz-option [nzLabel]="'----无----'" [nzValue]="''"></nz-option>
                  <nz-option *ngFor="let item of dataResource; let i=index;" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="1"></div>

              <div nz-col nzSpan="6">
                <nz-select [ngModel]="''" formControlName="op_page">
                  <nz-option [nzLabel]="'----无----'" [nzValue]="''"></nz-option>
                  <nz-option *ngFor="let item of dataResourceChildren; let i=index;" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="1"></div>

              <div nz-col nzSpan="3" class="span_down right_alignment">
                <label nz-checkbox [(nzChecked)]="unCheckVisit" formControlName="unCheckVisit">不看-访问</label><br>
              </div>
              <div nz-col nzSpan="6"></div>

              <div nz-col nzSpan="3">
                <button nz-button nzType="primary" (click)="loadData('operationlog')" style="margin-right: 10px;"><i class="anticon anticon-search"></i>查询</button>
              </div>
            </div>
          </form>

          <nz-table #rowSelectionOperationlogTable [nzData]="dataOperationlog" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="100px">账号</th>
                <th nzWidth="100px">员工姓名</th>
                <th nzWidth="100px">IP</th>
                <th nzWidth="100px">日期</th>
                <th nzWidth="100px">时间</th>
                <th nzWidth="100px">角色</th>
                <th nzWidth="100px">一级菜单</th>
                <th nzWidth="100px">二级菜单</th>
                <th nzWidth="100px">行为</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionOperationlogTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.opUsername}}</td>
                <td>{{data.opRealname}}</td>
                <td>{{data.opIp}}</td>
                <td>{{data.opTime | date:'yyyy-MM-dd'}}</td>
                <td>{{data.opTime | date:'HH:mm:ss'}}</td>
                <td>{{data.roleName}}</td>
                <td>{{data.opCategoryName}}</td>
                <td>{{data.opPageName}}</td>
                <td>{{data.opName}}</td>
              </tr>
            </tbody>
          </nz-table>
          <div nz-row style="margin: 10px 0;line-height: 30px;">
            <div nz-col nzSpan="16"></div>
            <div nz-col nzSpan="2">
              <nz-select [(ngModel)]="pageSize">
                <nz-option required [nzLabel]="'5'" [nzValue]="5"></nz-option>
                <nz-option required [nzLabel]="'10'" [nzValue]="10"></nz-option>
                <nz-option required [nzLabel]="'20'" [nzValue]="20"></nz-option>
                <nz-option required [nzLabel]="'50'" [nzValue]="50"></nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="1" *ngIf="changePage !== 1 && total !== 0"><button nz-button nzType="primary" (click)="lastPage()"><i class="anticon anticon-left"></i></button></div>
            <div nz-col nzSpan="1" *ngIf="changePage === 1 || total === 0"><button disabled nz-button nzType="primary"><i class="anticon anticon-left"></i></button></div>
            <div nz-col nzSpan="4">当前为 {{changePage}} / {{allSize}} 页 &nbsp;&nbsp; 共 {{total}} 条</div>
            <div nz-col nzSpan="1" *ngIf="changePage !== allSize && total !== 0"><button nz-button nzType="primary" (click)="nextPage()"><i class="anticon anticon-right"></i></button></div>
            <div nz-col nzSpan="1" *ngIf="changePage === allSize || total === 0"><button disabled nz-button nzType="primary"><i class="anticon anticon-right"></i></button></div>
          </div>

        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
