.account {
  position: absolute;
  top: 70px;
  left: 240px;
  padding: 10px;
  width: calc(100% - 240px);
  height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: scroll;

  .search_panel {
    margin-bottom: 10px;

    .span_down {
      line-height: 30px;
    }

    .table {
      width: 100%;
      height: 35px;
      text-align: center;

      .tr {
        border: 1px solid #ddd;
        height: 35px;
        text-align: center;

        .td {
          border-right: 1px solid #ddd;
        }
      }
    }

    .ant-table-tbody>tr>td,
    .ant-table-thead>tr>th {
      padding: 10px !important;
    }

  }
}

.account[_ngcontent-c0] .search_panel[_ngcontent-c0] .table[_ngcontent-c0] .tr[_ngcontent-c0] .td[_ngcontent-c0] {
  width: 20%;
}
.account[_ngcontent-c1] .search_panel[_ngcontent-c1] .table[_ngcontent-c1] .tr[_ngcontent-c1] .td[_ngcontent-c1] {
  width: 20%;
}
.account[_ngcontent-c13] .search_panel[_ngcontent-c13] .table[_ngcontent-c13] .tr[_ngcontent-c13] .td[_ngcontent-c13] {
  width: 20%;
}
.account[_ngcontent-c14] .search_panel[_ngcontent-c14] .table[_ngcontent-c14] .tr[_ngcontent-c14] .td[_ngcontent-c14] {
  width: 20%;
}
.account[_ngcontent-c15] .search_panel[_ngcontent-c15] .table[_ngcontent-c15] .tr[_ngcontent-c15] .td[_ngcontent-c15] {
  width: 20%;
}
.account[_ngcontent-c16] .search_panel[_ngcontent-c16] .table[_ngcontent-c16] .tr[_ngcontent-c16] .td[_ngcontent-c16] {
  width: 20%;
}
.account[_ngcontent-c17] .search_panel[_ngcontent-c17] .table[_ngcontent-c17] .tr[_ngcontent-c17] .td[_ngcontent-c17] {
  width: 20%;
}
.account[_ngcontent-c18] .search_panel[_ngcontent-c18] .table[_ngcontent-c18] .tr[_ngcontent-c18] .td[_ngcontent-c18] {
  width: 20%;
}
.account[_ngcontent-c19] .search_panel[_ngcontent-c19] .table[_ngcontent-c19] .tr[_ngcontent-c19] .td[_ngcontent-c19] {
  width: 20%;
}
.account[_ngcontent-c20] .search_panel[_ngcontent-c20] .table[_ngcontent-c20] .tr[_ngcontent-c20] .td[_ngcontent-c20] {
  width: 20%;
}
.account[_ngcontent-c21] .search_panel[_ngcontent-c21] .table[_ngcontent-c21] .tr[_ngcontent-c21] .td[_ngcontent-c21] {
  width: 20%;
}
.account[_ngcontent-c22] .search_panel[_ngcontent-c22] .table[_ngcontent-c22] .tr[_ngcontent-c22] .td[_ngcontent-c22] {
  width: 20%;
}
.account[_ngcontent-c23] .search_panel[_ngcontent-c23] .table[_ngcontent-c23] .tr[_ngcontent-c23] .td[_ngcontent-c23] {
  width: 20%;
}
.account[_ngcontent-c24] .search_panel[_ngcontent-c24] .table[_ngcontent-c24] .tr[_ngcontent-c24] .td[_ngcontent-c24] {
  width: 20%;
}
