.account {
  position: absolute;
  top: 70px;
  left: 240px;
  padding: 10px;
  width: calc(100% - 240px);
  height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: scroll;

  .search_panel {
    margin-bottom: 10px;

    .span_down {
      line-height: 30px;
    }

    .table {
      width: 100%;
      height: 35px;
      text-align: center;

      .tr {
        border: 1px solid #ddd;
        height: 35px;
        text-align: center;

        .td {
          border-right: 1px solid #ddd;
        }
      }
    }

    .ant-table-tbody>tr>td,
    .ant-table-thead>tr>th {
      padding: 10px !important;
    }

  }
}
