<app-left-nav></app-left-nav>
<div class="booking" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large" [(nzSelectedIndex)]="index2">
        <nz-tab nzTitle="订票业务">
          <!-- <form> -->
            <div nz-row class="search_panel">
              <div nz-col nzSpan="2" class="span_down spacing right_alignment">
                订单状态：
              </div>
              <div nz-col nzSpan="2">
                <nz-select [ngModel]="''">
                  <nz-option [nzLabel]="'-----无-----'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'状态1'" [nzValue]="'状态1'"></nz-option>
                  <nz-option required [nzLabel]="'状态2'" [nzValue]="'状态2'"></nz-option>
                  <nz-option required [nzLabel]="'状态3'" [nzValue]="'状态3'"></nz-option>
                </nz-select>
              </div>

              <div nz-col nzSpan="2" class="span_down right_alignment">
                订票类型：
              </div>
              <div nz-col nzSpan="2">
                <nz-select [ngModel]="''">
                  <nz-option [nzLabel]="'-----无-----'" [nzValue]="''"></nz-option>
                  <nz-option required [nzLabel]="'机票'" [nzValue]="'机票'"></nz-option>
                  <nz-option required [nzLabel]="'火车'" [nzValue]="'火车'"></nz-option>
                  <nz-option required [nzLabel]="'酒店'" [nzValue]="'酒店'"></nz-option>
                </nz-select>
              </div>

              <div nz-col nzSpan="1">
              </div>

              <div nz-col nzSpan="2" class="span_down right_alignment">
                订单生成日期：
              </div>
              <div nz-col nzSpan="2" class="span_down">
                <nz-date-picker required [nzFormat]="'yyyy-MM-dd'"></nz-date-picker>
              </div>

              <div nz-col nzSpan="2" class="span_down spacing right_alignment">
                证件号：
              </div>
              <div nz-col nzSpan="2">
                <input nz-input maxlength="10" onkeyup="this.value=this.value.replace(/(^\s*)|(\s*$)/g,'')" placeholder="输入证件号"
                  nzSize="default">
              </div>

              <div nz-col nzSpan="2" class="span_down right_alignment">
                手机号：
              </div>
              <div nz-col nzSpan="2">
                <input nz-input maxlength="20" onkeyup="this.value=this.value.replace(/(^\s*)|(\s*$)/g,'')" onkeyup="this.value=this.value.replace(/(^\s*)|(\s*$)/g,'')"
                  placeholder="输入手机号" nzSize="default">
              </div>

              <div nz-col nzSpan="1">
              </div>

              <div nz-col nzSpan="2">
                <button nz-button nzType="primary" (click)="doSearch($event, searchForm)"><i class="anticon anticon-search"></i>查询</button>
              </div>
            </div>
          <!-- </form> -->

          <nz-table #rowSelectionTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
            (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()">
            <thead>
              <tr>
                <th>序号</th>
                <th>订单状态</th>
                <th>订票类型</th>
                <th>订单生成日期</th>
                <th>内部订单号</th>
                <th>企业管家订单号</th>
                <th>订票人信息</th>
                <th>客服备注</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.status}}</td>
                <td>{{data.type}}</td>
                <td>{{data.date | date:'yyyy-MM-dd HH:mm' }}</td>
                <td>{{data.orderNum}}</td>
                <td>{{data.housekeeperNum}}</td>
                <td>{{data.username}}</td>
                <td>{{data.remarks}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModifyModal(data)" style="margin-right: 10px;">修改状态</button>
                </td>
              </tr>
            </tbody>
          </nz-table>

        </nz-tab>
      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
