<app-left-nav></app-left-nav>
<div class="batchsend" [ngStyle]="{'left': !commonService.isLeftNavClose ? 'calc(240px)' : 'calc(80px)','width': !commonService.isLeftNavClose ? 'calc(100% - 240px)' : 'calc(100% - 80px)'}">
  <nz-card style="width: 100%;">
    <nz-card-tab>
      <nz-tabset nzSize="large">
        <nz-tab nzTitle="批量发放">
          <div nz-row class="search_panel">
            <div nz-col nzSpan="7" class="span_down">
              <nz-range-picker [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="dateSearch" (ngModelChange)="onChange($event, 'baseInfo')"></nz-range-picker>
            </div>
            <div nz-col nzSpan="11"></div>
            <div nz-col nzSpan="2">
              <button nz-button nzType="primary" (click)="loadData('batchsendList')"><i class="anticon anticon-search"></i>查询</button>
            </div>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="3">
              <button nz-button nzType="primary" (click)="showModal('addBatchsend', '')"><i class="anticon anticon-file-add"></i>新增发放</button>
            </div>
          </div>
          <nz-table #batchsendTable [nzData]="dataBatchsend">
            <thead>
              <tr>
                <th nzWidth="20px">序号</th>
                <th nzWidth="20px">发放日期</th>
                <th nzWidth="20px">发放时间</th>
                <th nzWidth="20px">发放人数</th>
                <th nzWidth="20px">失败人数</th>
                <th nzWidth="20px">优惠券数量</th>
                <th nzWidth="20px">附带消息</th>
                <th nzWidth="20px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of batchsendTable.data; let i=index;">
                <td>{{i+1}}</td>
                <td>{{data.sendTime ? (data.sendTime | date:'yyyy-MM-dd') : 'null' }}</td>
                <td>{{data.sendTime ? (data.sendTime | date:'HH:mm:ss') : 'null' }}</td>
                <td>{{data.invalidRevL ? data.invalidRevL.length : 0}}</td>
                <td>{{data.errorRevL ? data.errorRevL.length : 0}}</td>
                <td>{{data.totalRevNum}}</td>
                <td>{{data.displayMessage}}</td>
                <td>
                  <button nz-button nzType="primary" (click)="showModal('detail', data)" style="margin-right: 10px;"><i
                      class="anticon anticon-eye"></i>查看</button>
                </td>
              </tr>
            </tbody>
          </nz-table>

          <!-- 弹框 —— 新增 —— 新增内容 -->
          <nz-modal [(nzVisible)]="isAddBatchsendVisible" nzWidth="1150" nzTitle="新增内容" [nzFooter]="addBatchsendModalFooter" nzClosable="false" (nzOnCancel)="hideModal('batchsendList')">
            <form [formGroup]="addBatchsendForm">
              <div nz-row class="search_panel">
                <div nz-col nzSpan="3" class="span_down" style="font-size: 20px;font-weight: bold;">发送对象</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="20" style="color: #a9a9a9">
                  请填写发送的用户id（手机号码），如果需要发送多个，请换行输入<br>单次发送人数上限：10000（如果需要调整，请通知产品）
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="24">
                  <textarea rows="5" nz-input formControlName="pendingRevL" [(ngModel)]="batchsendDate.pendingRevL" [disabled]="true" placeholder="请输入发送对象手机号" nzSize="default"></textarea>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="3" class="span_down" style="font-size: 20px;font-weight: bold;">附带消息</div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="20" style="color: #a9a9a9">
                  一般适用于奖励/补偿用户，附带的信息<br>限制字数500
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="24">
                  <textarea rows="5" nz-input formControlName="displayMessage" [(ngModel)]="batchsendDate.displayMessage" [disabled]="true" placeholder="这里是要写给用户的话，字数限制xxx个" nzSize="default"></textarea>
                </div>
              </div>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="4" class="span_down" style="font-size: 20px;font-weight: bold;">发送奖励配置</div>
                <div nz-col nzSpan="17">
                </div>
                <div nz-col nzSpan="3">
                  <button nz-button nzType="primary" (click)="showModal('addCoupon', '')"><i class="anticon anticon-file-add"></i>新增红包组</button>
                </div>
              </div>

              <div nz-row class="search_panel">
                <div nz-col nzSpan="24">
                  <nz-table #couponTable [nzData]="couponListArr">
                    <thead>
                      <tr>
                        <th>序号</th>
                        <th>优惠券编号</th>
                        <th>优惠券名称</th>
                        <th>优惠券类型</th>
                        <th>时间限制</th>
                        <th>数量限制</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of couponTable.data; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{data.couponNo}}</td>
                        <td>{{data.couponName}}</td>
                        <td>{{data.couponCategory === 'all' ? '全品类' : data.couponCategory === 'flight' ? '订机票' : data.couponCategory === 'hotel' ? '订酒店' : data.couponCategory === 'train' ? '订火车' : data.couponCategory === 'taxi' ? '打车' : ''}}</td>
                        <td *ngIf="data.timeLimitType === 'fix_start_end'">{{data.timeLimitStart | date:'yyyy-MM-dd'}}&nbsp;至&nbsp;{{data.timeLimitEnd | date:'yyyy-MM-dd'}}</td>
                        <td *ngIf="data.timeLimitType === 'fix_duration'">{{data.timeLimitValidDay}}</td>
                        <td *ngIf="!(data.timeLimitType === 'fix_start_end' || data.timeLimitType === 'fix_duration')"></td>
                        <td>{{data.quantity}}</td>
                        <td *ngIf="i === 0">
                          <button nz-button nzType="primary" (click)="showModal('modifyCoupon', item)"><i class="anticon anticon-form"></i>配置红包</button>
                        </td>
                        <td *ngIf="i > 0"></td>
                      </tr>
                    </tbody>
                  </nz-table>
                </div>
              </div>
            </form>
            <!-- 弹框和底部定制 -->
            <ng-template #addBatchsendModalFooter>
              <button nz-button nzType="primary" (click)="doSave('batchsendList')">保存</button>
              <button nz-button nzType="default" (click)="hideModal('batchsendList')">取消</button>
            </ng-template>
          </nz-modal>

          <!-- 弹框 —— 查询 —— 红包编组选择区(读取红包列表） -->
          <nz-modal [(nzVisible)]="isCouponVisible" nzWidth="1450" nzTitle="红包编组选择区(读取红包列表）" [nzFooter]="couponModalFooter" nzClosable="false" (nzOnCancel)="hideModal('coupon')">
            <div nz-row class="search_panel">
              <form [formGroup]="searchCouponForm">
                <div nz-col nzSpan="2" class="span_down right_alignment">
                  创建日期范围：
                </div>
                <div nz-col nzSpan="7" class="span_down">
                  <nz-range-picker formControlName="date" [nzFormat]="'yyyy-MM-dd'" [nzShowToday]="true" ngModel [nzRanges]="dateSearch" (ngModelChange)="onChange($event, 'coupon')"></nz-range-picker>
                </div>

                <div nz-col nzSpan="2" class="span_down spacing right_alignment">
                  优惠券品类：
                </div>
                <div nz-col nzSpan="3">
                  <nz-select [ngModel]="''" formControlName="couponCategory">
                    <nz-option [nzLabel]="'---无---'" [nzValue]="''"></nz-option>
                    <nz-option required [nzLabel]="'全品类'" [nzValue]="'all'"></nz-option>
                    <nz-option required [nzLabel]="'机票'" [nzValue]="'flight'"></nz-option>
                    <nz-option required [nzLabel]="'火车'" [nzValue]="'hotel'"></nz-option>
                    <nz-option required [nzLabel]="'酒店'" [nzValue]="'train'"></nz-option>
                    <nz-option required [nzLabel]="'打车'" [nzValue]="'taxi'"></nz-option>
                  </nz-select>
                </div>

                <div nz-col nzSpan="2" class="span_down spacing right_alignment">
                  优惠券名称：
                </div>
                <div nz-col nzSpan="3">
                  <input nz-input maxlength="32" formControlName="couponName" onkeyup="this.value=this.value.replace(/(^\s*)|(\s*$)/g,'')" placeholder="输入订单编号"
                    nzSize="default">
                </div>

                <div nz-col nzSpan="2" class="span_down spacing right_alignment">
                  优惠券类型：
                </div>
                <div nz-col nzSpan="3">
                  <nz-select [ngModel]="''" formControlName="discountType">
                    <nz-option [nzLabel]="'---无---'" [nzValue]="''"></nz-option>
                    <nz-option required [nzLabel]="'满减固定额'" [nzValue]="'fix_discount'"></nz-option>
                    <nz-option required [nzLabel]="'满减百分比'" [nzValue]="'percentage_discount'"></nz-option>
                  </nz-select>
                </div>
              </form>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="22">
              </div>
              <div nz-col nzSpan="2">
                <button nz-button nzType="primary" (click)="loadData('coupon')"><i class="anticon anticon-file-add"></i>查询</button>
              </div>
            </div>
            <nz-table #couponSelectTable [nzData]="dataSearchCoupon">
              <thead>
                <tr>
                  <th nzShowCheckbox [(nzChecked)]="allSearchCouponChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAllSearchCoupon($event)"></th>
                  <th nzWidth="20px">序号</th>
                  <th nzWidth="20px">优惠券创建时间</th>
                  <th nzWidth="20px">优惠券编号</th>
                  <th nzWidth="20px">优惠券名称</th>
                  <th nzWidth="20px">优惠券类型</th>
                  <th nzWidth="20px">数量限制</th>
                  <th nzWidth="20px">时间限制</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of couponSelectTable.data; let i=index;">
                  <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshSearchCouponStatus()"></td>
                  <td>{{i+1}}</td>
                  <td>{{data.ctime | date:'yyyy-MM-dd HH:mm'}}</td>
                  <td>{{data.couponNo}}</td>
                  <td>{{data.couponName}}</td>
                  <td>{{data.couponCategory === 'all' ? '全品类' : data.couponCategory === 'flight' ? '订机票' : data.couponCategory === 'hotel' ? '订酒店' : data.couponCategory === 'train' ? '订火车' : '打车' }}</td>
                  <td><input nz-input maxlength="3" nzSize="default" [ngModel]="data.number" (ngModelChange)="getCouponNumber($event, data)"></td>
                  <td *ngIf="data.timeLimitType === 'fix_start_end'">{{data.timeLimitStart | date:'yyyy-MM-dd'}}&nbsp;至&nbsp;{{data.timeLimitEnd | date:'yyyy-MM-dd'}}</td>
                  <td *ngIf="data.timeLimitType === 'fix_duration'">{{data.timeLimitValidDay}}</td>
                </tr>
              </tbody>
            </nz-table>

            <!-- 弹框和底部定制 -->
            <ng-template #couponModalFooter>
              <button nz-button nzType="primary" (click)="doSave('coupon')">确定</button>
              <button nz-button nzType="default" (click)="hideModal('coupon')">取消</button>
            </ng-template>
          </nz-modal>

          <!-- 弹框 —— 查看 —— 查看发放情况 -->
          <nz-modal [(nzVisible)]="isDetailBatchsendVisible" nzWidth="750" nzTitle="查看发放情况" [nzFooter]="modifyBatchsendModalFooter" nzClosable="false" (nzOnCancel)="hideModal('detailBatchsend')">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="2"></div>
              <div nz-col nzSpan="5" class="span_down">发放日期：<br>{{batchsendDate.sendTime ? (batchsendDate.sendTime | date:'yyyy-MM-dd') : 'null'}}</div>
              <div nz-col nzSpan="5" class="span_down">发放时间：<br>{{batchsendDate.sendTime ? (batchsendDate.sendTime | date:'HH:mm:ss') : 'null'}}</div>
              <div nz-col nzSpan="5" class="span_down">发放人数：<br>{{batchsendDate.totalRevNum}}</div>
              <div nz-col nzSpan="5" class="span_down">失败人数：<br>{{batchsendDate.errorRevL.length}}</div>
              <div nz-col nzSpan="2"></div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="11" class="spthumbnailan_down">发送成功（总计x个）</div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="11" class="spthumbnailan_down">奖励配置</div>
              <div nz-col nzSpan="1"></div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="11">
                <textarea rows="5" nz-input [(ngModel)]="batchsendDate.successRevL" [disabled]="true" nzSize="default"></textarea>
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="11">
                <textarea rows="5" nz-input [(ngModel)]="batchsendDate.tempCouponName" [disabled]="true" zSize="default"></textarea>
              </div>
              <div nz-col nzSpan="1"></div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="11" class="spthumbnailan_down">失败对象(总计y个)</div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="11" class="spthumbnailan_down">附带消息</div>
              <div nz-col nzSpan="1"></div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="11">
                <textarea rows="5" nz-input [(ngModel)]="batchsendDate.errorRevL" [disabled]="true" nzSize="default"></textarea>
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="11">
                <textarea rows="5" nz-input [(ngModel)]="batchsendDate.displayMessage" [disabled]="true" nzSize="default"></textarea>
              </div>
              <div nz-col nzSpan="1"></div>
            </div>
            <!-- 弹框和底部定制 -->
            <ng-template #modifyBatchsendModalFooter>
              <button nz-button nzType="default" (click)="hideModal('detailBatchsend')">关闭</button>
            </ng-template>
          </nz-modal>

          <!-- 弹框 —— 发送 —— 执行发送 -->
          <nz-modal [(nzVisible)]="isBatchsendVisible" nzWidth="950" nzTitle="执行发送" [nzFooter]="batchsendModalFooter" nzClosable="false" (nzOnCancel)="hideModal('batchsend')">
            <div nz-row class="search_panel">
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="6">发送对象(总计x个)</div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="6">奖励配置</div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="6">附带消息</div>
              <div nz-col nzSpan="1"></div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="6">
                <textarea rows="10" nz-input [(ngModel)]="finalBatchsendDate.pendingRevL" [disabled]="true" nzSize="default"></textarea>
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="6">
                <textarea rows="10" nz-input [(ngModel)]="finalBatchsendDate.tempCouponName" [disabled]="true" nzSize="default"></textarea>
              </div>
              <div nz-col nzSpan="1"></div>
              <div nz-col nzSpan="6">
                <textarea rows="10" nz-input [(ngModel)]="finalBatchsendDate.displayMessage" [disabled]="true" nzSize="default"></textarea>
              </div>
              <div nz-col nzSpan="1"></div>
            </div>
            <div nz-row class="search_panel">
              <div nz-col nzSpan="6"></div>
              <div nz-col nzSpan="12">点击执行发送后，奖励将直接发送到对应的用户钱包中</div>
              <div nz-col nzSpan="6"></div>
            </div>
            <!-- 弹框和底部定制 -->
            <ng-template #batchsendModalFooter>
              <div nz-row class="search_panel">
                <div nz-col nzSpan="8"></div>
                <div nz-col nzSpan="3">
                  <button nz-button nzType="primary" (click)="doSave('batchsend')">执行发送</button>
                </div>
                <div nz-col nzSpan="3">
                  <button nz-button nzType="default" (click)="hideModal('batchsend')">放弃</button>
                </div>
                <div nz-col nzSpan="9"></div>
              </div>
            </ng-template>
          </nz-modal>

        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
  </nz-card>
</div>
