<div class="spin" *ngIf="isSpinning">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>
<nz-table #rowSelectionTable [nzData]="commonService.commonDataCenter" [nzSimple]="true" [(nzPageSize)]="pageSize" [nzShowPagination]="false" [nzScroll]="{x:'2500px', y: '520px'}" *ngIf="!isSpinning">
  <thead>
    <tr>
      <th nzWidth="50px" nzLeft="0px">序号</th>
      <th nzWidth="100px" nzLeft="60px">时间</th>
      <th nzWidth="100px">新增安装数</th>
      <th nzWidth="100px">2日留存数</th>
      <th nzWidth="100px">3日留存数</th>
      <th nzWidth="100px">4日留存数</th>
      <th nzWidth="100px">5日留存数</th>
      <th nzWidth="100px">6日留存数</th>
      <th nzWidth="100px">7日留存数</th>
      <th nzWidth="100px">14日留存数</th>
      <th nzWidth="100px">21日留存数</th>
      <th nzWidth="100px">30日留存数</th>
      <th nzWidth="100px">2日留存率</th>
      <th nzWidth="100px">3日留存率</th>
      <th nzWidth="100px">4日留存率</th>
      <th nzWidth="100px">5日留存率</th>
      <th nzWidth="100px">6日留存率</th>
      <th nzWidth="100px">7日留存率</th>
      <th nzWidth="100px">14日留存率</th>
      <th nzWidth="100px">21日留存率</th>
      <th nzWidth="100px">30日留存率</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data; let i=index;">
      <td nzWidth="50px" nzLeft="0px">{{i+1}}</td>
      <td nzWidth="100px" nzLeft="60px">{{data.date | date:'yy-MM-dd'}}</td>
      <td nzWidth="100px">{{data.day1RetentionUsers >= 0 ? data.day1RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day2RetentionUsers >= 0 ? data.day2RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day3RetentionUsers >= 0 ? data.day3RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day4RetentionUsers >= 0 ? data.day4RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day5RetentionUsers >= 0 ? data.day5RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day6RetentionUsers >= 0 ? data.day6RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day7RetentionUsers >= 0 ? data.day7RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day14RetentionUsers >= 0 ? data.day14RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day21RetentionUsers >= 0 ? data.day21RetentionUsers : 'null' }}</td>
      <td nzWidth="100px">{{data.day30RetentionUsers >= 0 ? data.day30RetentionUsers : 'null' }}</td>
      <td nzWidth="100px" *ngIf="!(data.day2RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day2RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day2RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day3RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day3RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day3RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day4RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day4RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day4RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day5RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day5RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day5RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day6RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day6RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day6RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day7RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day7RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day7RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day14RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day14RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day14RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day21RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day21RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day21RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
      <td nzWidth="100px" *ngIf="!(data.day30RetentionUsers >= 0)">null</td>
      <td nzWidth="100px" *ngIf="data.day30RetentionUsers >= 0">{{(data.day1RetentionUsers === 0 ? 0 : data.day30RetentionUsers / data.day1RetentionUsers) * 100 | number:"0.1-2"}}%</td>
    </tr>
  </tbody>
</nz-table>
