#tech {
    height: 697px;
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/assets/img/tech_bg_long.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    #tech-container {
        position: relative;
        width: 1000px;
        height: 100%;
        margin: 0 auto;
        #tech-left {
            position: absolute;
            top: 75px;
            left: 53px;
            width: 450px;
            height: 486px;
            padding: 60px 30px 0 60px;
            background-color: gold;
            box-shadow: 5px 5px 50px #cccccc; // opacity: 0.2;
            z-index: 1;
            #tech-menu {
                width: 345px;
                height: 230px;
                padding-left: 0;
                list-style-type: none;
                .tech-menu-inner {
                    display: inline-block;
                    width: 115px;
                    height: 115px;
                    margin: 0;
                    text-align: center;
                    @keyframes bounce {
                        0%, 100% {
                            -webkit-transform: translateY(0);
                            -ms-transform:     translateY(0);
                            transform:         translateY(0);
                        }
                        50% {
                            -webkit-transform: translateY(-15px);
                            -ms-transform:     translateY(-15px);
                            transform:         translateY(-15px);
                        }
                    }
                    img {
                        display: inline-block;
                        margin-top: 15px;
                        width: 64px;
                        padding: 0;
                        animation-iteration-count: infinite;
                        animation-duration: 2s;
                        &:hover {
                            cursor: pointer;
                            animation-name: bounce;
                            -moz-animation-name: bounce;
                        }
                    }
                    P {
                        margin: 0;
                        font-size: 12px;
                        line-height: 12px;
                        color: #ffffff;
                        font-weight: lighter;
                        text-align: center;
                        // animation-iteration-count: infinite;
                    }
                }
                .tech-menu-active {
                    display: inline-block;
                    -webkit-box-shadow:inset 0px 0px 0px 2px #ffffff;
                    -moz-box-shadow:inset 0px 0px 0px 2px #ffffff;
                    box-shadow:inset 0px 0px 0px 2px #ffffff;
                    img {
                        filter: invert(100%);
                        animation-iteration-count: 0;
                    }
                    p {
                        color: black;
                        animation-iteration-count: 0;
                    }
                }
            }
        }
        .tech-left-zh {
            font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
            h3 {
                font-size: 34px;
                font-weight: 400;
                letter-spacing: 6px;
                margin-bottom: 20px;
            }
            p {
                font-size: 12px;
                line-height: 23px;
                letter-spacing: 1px;
            }
            #tech-menu {
                margin-top:30px;
            }
        }
        .tech-left-en {
            font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
            h3 {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            p {
                font-size: 12px;
                font-weight: 100;
            }
            #tech-menu {
                margin-top:20px;
            }
        }
        #tech-right {
            position: absolute;
            top: 175px;
            left: 457px;
            width: 493px;
            height: 450px;
            background-color: #ffffff;
            box-shadow: 5px 5px 50px #cccccc;
            #tech-detail {
                padding: 64px 80px 30px 105px;
            }
            #tech-right-logo {
                position: absolute;
                width: 46px;
                bottom: 20px;
                right: 20px;
            }
            .tech-detail-zh {
                font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei" !important;
                h4 {
                    font-size: 24px;
                    margin-bottom: 20px;
                    letter-spacing: 4px;
                }
                h5 {
                    font-size: 14px;
                    line-height: 23px;
                    margin-bottom: 20px;
                    letter-spacing: 2px;
                }
                p {
                    font-size: 12px;
                    line-height: 23px;
                    color: gray;
                    letter-spacing: 2px;
                }
            }
            .tech-detail-en {
                font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
                h4 {
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }
                h5 {
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 20px;
                    line-height:17px;
                }
                p {
                    font-size: 12px;
                    font-weight: 100;
                    letter-spacing: 0px;
                }
            }
        }
    }
}
